# Data Wrangling - Tools - Notebook

## Outline


* Basic Data Exploration
* Missing Values
* Duplicates
* Selecting / Dropping Columns
* String operations on whole columns
* Column splits/transformations
* MultiIndex
* Querying a Dataframe
* `DataFrame.at()` vs. `DataFrame.loc`
* Joins
* Sorting
* Grouping - Aggregation & Value Counts
* Resetting Index
* Pivot & Melt
* Column / Row Concatenation
* looping through DataFrame

In [1]:
import pandas as pd
import numpy as np

# Making copy of data

It is imporatant to make a copy of data first, as in future if we corrupt the df by accident then we must have a copy to read data.

In [2]:
data = pd.read_csv('startup_funding.csv',thousands=',')
df = data.copy()

## Basic Data Exploration

**Getting Shape of the Data**

In [3]:
df.shape

(2422, 11)

There are 2422 rows and 11 columns in the data

**Getting a list of all columns in the dataframe**

In [4]:
df.columns

Index(['index', 'SNo', 'Date', 'StartupName', 'IndustryVertical',
       'SubVertical', 'CityLocation', 'InvestorsName', 'InvestmentType',
       'AmountInUSD', 'Remarks'],
      dtype='object')

**Checking data types of all columns**

In [5]:
df.dtypes

index                 int64
SNo                   int64
Date                 object
StartupName          object
IndustryVertical     object
SubVertical          object
CityLocation         object
InvestorsName        object
InvestmentType       object
AmountInUSD         float64
Remarks              object
dtype: object

**Getting top/bottom 5 values**

By default the df.head() will show the first five rows of the data frame.

In [6]:
df.head(3)

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,NaN
1,1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN

By default the df.tail() will show the last five rows of the data frame.

In [7]:
df.tail(3)

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
2419,47,47,28/07/2017,Gympik.com,Consumer Internet,online marketplace for discovering fitness cen...,bangalore,RoundGlass Partners,Seed Funding,NaN,NaN
2420,48,48,01/06/2017,Tripeur,Technology,Mobile based travel ERP platform,Bangalore,"Grace Grace Techno Ventures LLP, Rajul Garg & ...",Seed Funding,NaN,NaN
2421,49,49,02/06/2017,RentOnGo,eCommerce,"Online Marketplace for Renting Bikes, Electron...",Bangalore,TVS Motor Company,Private Equity,NaN,NaN

**Getting top/bottom n values**

In [8]:
df.head(3)

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,NaN
1,1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN

In [9]:
df.tail(7)

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
2415,43,43,26/07/2017,ThinkerBell,Consumer Internet,Assisted Learning Startup,Bangalore,"Indian Angel Network, Anand Mahindra",Seed Funding,200000.0,NaN
2416,44,44,27/07/2017,1mg,eCommerce,Online Pharmacy,Gurgaon,"HBM Healthcare Investments, Maverick Capital V...",Private Equity,15000000.0,NaN
2417,45,45,28/07/2017,Jhakaas,Consumer Internet,App-based Aggregator of Offline Businesses,Mumbai,Amen Dhyllon,Seed Funding,NaN,NaN
2418,46,46,28/07/2017,BigStylist,Consumer Internet,Beauty Services Marketplace,Mumbai,Info Edge (India) Ltd,Private Equity,1250000.0,NaN
2419,47,47,28/07/2017,Gympik.com,Consumer Internet,online marketplace for discovering fitness cen...,bangalore,RoundGlass Partners,Seed Funding,NaN,NaN
2420,48,48,01/06/2017,Tripeur,Technology,Mobile based travel ERP platform,Bangalore,"Grace Grace Techno Ventures LLP, Rajul Garg & ...",Seed Funding,NaN,NaN
2421,49,49,02/06/2017,RentOnGo,eCommerce,"Online Marketplace for Renting Bikes, Electron...",Bangalore,TVS Motor Company,Private Equity,NaN,NaN

**Getting a summary of all columns**

This will display the basic stats of the **numerical columns** in the data frame

In [11]:
df.describe()

             index          SNo   AmountInUSD
count  2422.000000  2422.000000  1.553000e+03
mean   1161.532205  1161.532205  1.192385e+07
std     697.598259   697.598259  6.346680e+07
min       0.000000     0.000000  1.600000e+04
25%     555.250000   555.250000  3.750000e+05
50%    1160.500000  1160.500000  1.100000e+06
75%    1765.750000  1765.750000  6.000000e+06
max    2371.000000  2371.000000  1.400000e+09

This will display the basic stats of the **object type** columns in the data frame. The 'O' means object in the following code.

In [12]:
df.describe(include=['O'])

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,Remarks
count,2422,2422,2251,1486,2243,2413,2421,419
unique,701,2001,743,1364,71,1885,7,69
top,08/07/2015,Swiggy,Consumer Internet,Online Pharmacy,Bangalore,Undisclosed Investors,Seed Funding,Series A
freq,11,7,795,10,649,33,1300,177

To display all the columns at once use the following command.

In [13]:
df.describe(include='all')

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
count,2422.000000,2422.000000,2422,2422,2251,1486,2243,2413,2421,1.553000e+03,419
unique,NaN,NaN,701,2001,743,1364,71,1885,7,NaN,69
top,NaN,NaN,08/07/2015,Swiggy,Consumer Internet,Online Pharmacy,Bangalore,Undisclosed Investors,Seed Funding,NaN,Series A
freq,NaN,NaN,11,7,795,10,649,33,1300,NaN,177
mean,1161.532205,1161.532205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.192385e+07,NaN
std,697.598259,697.598259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.346680e+07,NaN
min,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.600000e+04,NaN
25%,555.250000,555.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000e+05,NaN
50%,1160.500000,1160.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.100000e+06,NaN
75%,1765.750000,1765.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000e+06,NaN
max,2371.000000,2371.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.400000e+09,NaN

**Getting unique values of  single column**

After running this command you will see that it returns all unique values that are present in the column **InvestmentType**.

Note that **PrivateEquity** and **Private Equity** are two unique values.

In [15]:
df['InvestmentType'].unique()

array(['Private Equity', 'Seed Funding', 'Debt Funding', nan,
       'SeedFunding', 'PrivateEquity', 'Crowd funding', 'Crowd Funding'],
      dtype=object)

## Missing Values

**Checking which columns have missing values and how many**

In [14]:
df.isnull().sum()

index                  0
SNo                    0
Date                   0
StartupName            0
IndustryVertical     171
SubVertical          936
CityLocation         179
InvestorsName          9
InvestmentType         1
AmountInUSD          869
Remarks             2003
dtype: int64

**Treating Missing Values of a single column (Series)**

In [15]:
df['AmountInUSD'] = df['AmountInUSD'].fillna(0)

After running the following command you'll see that AmountInUSD is now filled with 0 and it doesn't have any missing/null values.

In [16]:
df.isnull().sum()

index                  0
SNo                    0
Date                   0
StartupName            0
IndustryVertical     171
SubVertical          936
CityLocation         179
InvestorsName          9
InvestmentType         1
AmountInUSD            0
Remarks             2003
dtype: int64

**Treating all Missing Values at once**

In [19]:
df.fillna('0', inplace=True)

The **inplace=True** parameter in the above code acts like an assignment operator and re-assigns the the changed changed df.

In [20]:
df.isnull().sum()

index               0
SNo                 0
Date                0
StartupName         0
IndustryVertical    0
SubVertical         0
CityLocation        0
InvestorsName       0
InvestmentType      0
AmountInUSD         0
Remarks             0
dtype: int64

Now you can see that all the columns have no **0** or **null values**

## Duplicates

**Checking for duplicates in a specefic column**

In [21]:
df.duplicated(['StartupName']).sum()

421

This means that there are **421** StartupName instances that are exactly the same.





**Checking for whole row duplicates**

In [22]:
df.duplicated().sum()

50

this returns the total number of rows that are duplicated.

In [23]:
df[df.duplicated()]

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
2372,0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,0
2373,1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,0.0,0
2374,2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,0.0,0
2375,3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0,0
2376,4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0,0
2377,5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,1000000.0,0
2378,6,6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,2600000.0,0
2379,7,7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,20000000.0,0
2380,8,8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,8500000.0,0
2381,9,9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,12000000.0,0
2382,10,10,05/07/2017,Timesaverz,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,1000000.0,0
2383,11,11,06/07/2017,Minjar,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,0.0,0
2384,12,12,06/07/2017,MyCity4kids,Consumer Internet,parenting blog and kids’ events discovery plat...,Gurgaon,0,Seed Funding,0.0,0
2385,13,13,07/07/2017,Clip App,Consumer Internet,Digital Media Video platform,Bangalore,"India Quotient, Shunwei Capital",Seed Funding,1000000.0,0
2386,14,14,07/07/2017,Upwardly.in,Consumer Internet,MF investment platform,Bangalore,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding,0.0,0
2387,15,15,10/07/2017,Autorox.co,Technology,Workshop Management Software Platform,Hyderabad,Mitsui & Co.,Private Equity,3000000.0,0
2388,16,16,11/07/2017,Fabogo,Consumer Internet,Salon & Spa Aggregation & Discovery platform,Pune,Dunamis Ventures Pte Ltd,Private Equity,2250000.0,0
2389,17,17,11/07/2017,Flickstree,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,464000.0,0
2390,18,18,11/07/2017,Design Cafe,Consumer Internet,Online Interior Design platform,Bangalore,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding,0.0,0
2391,19,19,12/07/2017,Innoviti,Technology,Digital payments solutions,Bangalore,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity,18500000.0,0
2392,20,20,12/07/2017,VDeliver,Logistics,Door Step Delivery platform,Hyderabad,"Corvus Ventures, MAPE Advisory Group",Private Equity,0.0,0
2393,21,21,12/07/2017,Bottr.me,Technology,Chatbot creation tool,Bangalore,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding,0.0,0
2394,22,22,12/07/2017,Arcatron,Technology,Next Gen Mobility device manufacturer,Pune,Indian Angel Network,Seed Funding,0.0,0
2395,23,23,14/07/2017,QwikSpec,Technology,Construction site operations and analytics pla...,Bangalore,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding,540000.0,0
2396,24,24,14/07/2017,Chumbak,eCommerce,Designer consumer products Marketplace,Bangalore,Blacksoil Capital Pvt. Ltd,Private Equity,1700000.0,0
2397,25,25,17/07/2017,Increff,Technology,Sales Solutions for Fashion Brands,Bangalore,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding,2000000.0,0
2398,26,26,17/07/2017,Vayana,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,4000000.0,0
2399,27,27,18/07/2017,MObiquest,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,0.0,0
2400,28,28,18/07/2017,Ambee,Consumer Internet,Ambulance Aggregation Services,Hyderabad,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding,0.0,0
2401,29,29,18/07/2017,Ideal Insurance,Consumer Internet,Online Insurance platform,Kolkata,Xelpmoc,Seed Funding,0.0,0
2402,30,30,18/07/2017,Hypernova Interactive,Technology,Mobile games creator,Bangalore,Kae Capital,Seed Funding,0.0,0
2403,31,31,19/07/2017,Rentomojo,Consumer Internet,Consumer Leasing Platform,Bangalore,"ain Capital Ventures, Renaud Laplanche",Private Equity,10000000.0,0
2404,32,32,19/07/2017,AirCTO,Consumer Internet,AI powered recruitment platform,Bangalore,Francesco Cara,Seed Funding,0.0,0
2405,33,33,19/07/2017,Playablo,Technology,Gamified Learning App,Bangalore,ABI-Showatech (India) Ltd,Seed Funding,600000.0,0
2406,34,34,20/07/2017,Trupay,Technology,Online payments platform,Gurgaon,"Kae Capital, M&S Partners,",Seed Funding,700000.0,0
2407,35,35,21/07/2017,Brick2Wall,eCommerce,Online Marketplace for Construction Material,Gurgaon,"Subramani Somasundaram, Sundeep Sahni, Mayank ...",Seed Funding,200000.0,0
2408,36,36,21/07/2017,FableStreet,eCommerce,Women Work wear etailer,New Delhi,"Harmeet Bajaj, Pameela P, Fusiontech Ventures ...",Seed Funding,0.0,0
2409,37,37,21/07/2017,Monsoon Fintech,Technology,Machine Learning Access platform,New Delhi,"Sunil Kalra, Aditya Singh, Rishi Srivastava, R...",Seed Funding,0.0,0
2410,38,38,21/07/2017,MonkeyBox,Consumer Internet,Healthy Food Delivery Platform,Bangalore,"Blume Ventures, NB Ventures, Nspira",Seed Funding,0.0,0
2411,39,39,25/07/2017,Noticeboard,Consumer Internet,Mobile-first Enterprise communication platform,Bangalore,"Stellaris Venture Partners,",Private Equity,1200000.0,0
2412,40,40,25/07/2017,Byju’s,Consumer Internet,Mobile Learning App,Bangalore,Tencent Holdings,Private Equity,35000000.0,0
2413,41,41,26/07/2017,Creator’s Gurukul,Others,Co-Working Space Provider,New Delhi,Yuvraj Singh,Seed Funding,0.0,0
2414,42,42,26/07/2017,Fab Hotels,Consumer Internet,Budget hotels brand & Aggregator Platform,New Delhi,Goldman Sachs,Private Equity,25000000.0,0
2415,43,43,26/07/2017,ThinkerBell,Consumer Internet,Assisted Learning Startup,Bangalore,"Indian Angel Network, Anand Mahindra",Seed Funding,200000.0,0
2416,44,44,27/07/2017,1mg,eCommerce,Online Pharmacy,Gurgaon,"HBM Healthcare Investments, Maverick Capital V...",Private Equity,15000000.0,0
2417,45,45,28/07/2017,Jhakaas,Consumer Internet,App-based Aggregator of Offline Businesses,Mumbai,Amen Dhyllon,Seed Funding,0.0,0
2418,46,46,28/07/2017,BigStylist,Consumer Internet,Beauty Services Marketplace,Mumbai,Info Edge (India) Ltd,Private Equity,1250000.0,0
2419,47,47,28/07/2017,Gympik.com,Consumer Internet,online marketplace for discovering fitness cen...,bangalore,RoundGlass Partners,Seed Funding,0.0,0
2420,48,48,01/06/2017,Tripeur,Technology,Mobile based travel ERP platform,Bangalore,"Grace Grace Techno Ventures LLP, Rajul Garg & ...",Seed Funding,0.0,0
2421,49,49,02/06/2017,RentOnGo,eCommerce,"Online Marketplace for Renting Bikes, Electron...",Bangalore,TVS Motor Company,Private Equity,0.0,0

This shows that these are the rows that are duplicated. They may have more than 2 instances.

**Deleting duplicates from a specefic column**

In [24]:
df.shape

(2422, 11)

Following code will delete the duplicates that are present in **StartupName**. The **keep='First'** parameter keeps the first occurance of the instance that is duplicated and deletes the rest. So in resutl only unique instances are left

In [25]:
df.drop_duplicates(['StartupName'], keep='first').shape # Default is keep=first

(2001, 11)

In [26]:
df.drop_duplicates(['StartupName'], keep='last').shape #keep=last keeps the last instance and deletes the rest

(2001, 11)

In [27]:
df.drop_duplicates(['StartupName'], keep=False).shape # this deletes all the occurances of the duplicates so none is left.

(1679, 11)

**NOTE:** In all the above occurances neither did we use the inplace=True parameter nor manually assigned it. So there won't be any change in the df

**Deleting whole row duplicates**

In [28]:
df.drop_duplicates().shape

(2372, 11)

In [29]:
df.shape

(2422, 11)

Now we will use the inplace=True parameter to save the data frame

In [30]:
df.drop_duplicates(inplace=True)
df.shape

(2372, 11)

## Selecting / Dropping Columns

**Selecting Columns**

In order to select multiple columns we have to pass their names as list in the data frame

In [31]:
df[['Date', 'CityLocation', 'AmountInUSD']]

             Date CityLocation  AmountInUSD
0      01/08/2017    Bangalore    1300000.0
1      02/08/2017       Mumbai          0.0
2      02/08/2017    New Delhi          0.0
3      02/08/2017       Mumbai     500000.0
4      02/08/2017    Hyderabad     850000.0
5      01/07/2017    Bangalore    1000000.0
6      03/07/2017    Ahmedabad    2600000.0
7      04/07/2017      Gurgaon   20000000.0
8      05/07/2017    Bangalore    8500000.0
9      05/07/2017        Noida   12000000.0
10     05/07/2017       Mumbai    1000000.0
11     06/07/2017    Bangalore          0.0
12     06/07/2017      Gurgaon          0.0
13     07/07/2017    Bangalore    1000000.0
14     07/07/2017    Bangalore          0.0
15     10/07/2017    Hyderabad    3000000.0
16     11/07/2017         Pune    2250000.0
17     11/07/2017       Mumbai     464000.0
18     11/07/2017    Bangalore          0.0
19     12/07/2017    Bangalore   18500000.0
20     12/07/2017    Hyderabad          0.0
21     12/07/2017    Bangalore          0.0
22     12/07/2017         Pune          0.0
23     14/07/2017    Bangalore     540000.0
24     14/07/2017    Bangalore    1700000.0
25     17/07/2017    Bangalore    2000000.0
26     17/07/2017         Pune    4000000.0
27     18/07/2017        Noida          0.0
28     18/07/2017    Hyderabad          0.0
29     18/07/2017      Kolkata          0.0
...           ...          ...          ...
2342   19/01/2015            0     330000.0
2343   19/01/2015            0          0.0
2344   19/01/2015            0     200000.0
2345   19/01/2015            0      16000.0
2346   19/01/2015            0      16000.0
2347   19/01/2015            0      16000.0
2348   19/01/2015            0      16000.0
2349   19/01/2015            0      16000.0
2350   20/01/2015            0   11000000.0
2351   20/01/2015            0          0.0
2352   20/01/2015            0     200000.0
2353   21/01/2015            0   14750000.0
2354   21/01/2015            0     325000.0
2355   21/05/2015            0          0.0
2356   21/05/2015            0    3250000.0
2357  22/01//2015            0     200000.0
2358   22/01/2015            0          0.0
2359   22/01/2015            0          0.0
2360   22/01/2015            0   56000000.0
2361   22/01/2015            0   31000000.0
2362   24/01/2015            0    1500000.0
2363   24/01/2015            0          0.0
2364   25/01/2015            0    1000000.0
2365   27/01/2015            0   50000000.0
2366   28/01/2015            0    2500000.0
2367   29/01/2015            0    4500000.0
2368   29/01/2015            0     825000.0
2369   30/01/2015            0    1500000.0
2370   30/01/2015            0          0.0
2371   31/01/2015            0     140000.0

[2372 rows x 3 columns]

**Dropping Columns**

In [32]:
df.head()

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,0
1,1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,0.0,0
2,2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,0.0,0
3,3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0,0
4,4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0,0

In [33]:
df.drop('index', axis=1).shape

(2372, 10)

In [34]:
df.shape

(2372, 11)

use the inplace true paramter to save the data frame

In [35]:
df.drop('index', axis=1,inplace=True)

In [36]:
df.shape

(2372, 10)

In [37]:
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,0
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,0.0,0
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,0.0,0
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0,0
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0,0

## String Operations on whole columns

**String Replacement**

In [38]:
df['InvestmentType'].unique()

array(['Private Equity', 'Seed Funding', 'Debt Funding', '0',
       'SeedFunding', 'PrivateEquity', 'Crowd funding', 'Crowd Funding'],
      dtype=object)

We want to replace *PrivateEquatiy* which is written together to be written as *Private Equatiy*

In [39]:
# first parameter in str.replace is the one which we want to replace and the second one is with which we are replacing it
df['InvestmentType'].str.replace('PrivateEquity', 'Private Equity').unique()

array(['Private Equity', 'Seed Funding', 'Debt Funding', '0',
       'SeedFunding', 'Crowd funding', 'Crowd Funding'], dtype=object)

In [40]:
df['InvestmentType'].unique()

array(['Private Equity', 'Seed Funding', 'Debt Funding', '0',
       'SeedFunding', 'PrivateEquity', 'Crowd funding', 'Crowd Funding'],
      dtype=object)

As you can see it is back in the df because we did not re assign it. **Inplace=True** does **NOT** work here so we have to reassign it manually

In [41]:
df['InvestmentType'] = df['InvestmentType'].str.replace('PrivateEquity', 'Private Equity')
df['InvestmentType'] = df['InvestmentType'].str.replace('SeedFunding', 'Seed Funding')
df['InvestmentType'] = df['InvestmentType'].str.replace('Crowd funding', 'Crowd Funding')
df['InvestmentType'] = df['InvestmentType'].str.replace('0', 'Other')

In [42]:
df['InvestmentType'].unique()

array(['Private Equity', 'Seed Funding', 'Debt Funding', 'Other',
       'Crowd Funding'], dtype=object)

**Capitalization**

To capitalize every name in a specific column use the follwing code

In [43]:
df['CityLocation'].str.lower()

0       bangalore
1          mumbai
2       new delhi
3          mumbai
4       hyderabad
5       bangalore
6       ahmedabad
7         gurgaon
8       bangalore
9           noida
10         mumbai
11      bangalore
12        gurgaon
13      bangalore
14      bangalore
15      hyderabad
16           pune
17         mumbai
18      bangalore
19      bangalore
20      hyderabad
21      bangalore
22           pune
23      bangalore
24      bangalore
25      bangalore
26           pune
27          noida
28      hyderabad
29        kolkata
          ...
2342            0
2343            0
2344            0
2345            0
2346            0
2347            0
2348            0
2349            0
2350            0
2351            0
2352            0
2353            0
2354            0
2355            0
2356            0
2357            0
2358            0
2359            0
2360            0
2361            0
2362            0
2363            0
2364            0
2365            0
2366            0
2367            0
2368            0
2369            0
2370            0
2371            0
Name: CityLocation, Length: 2372, dtype: object

**Checking if there is a substring in each column value**

In [44]:
df[df['InvestorsName'].str.contains('Khan')]

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
81,81,16/06/2017,Fincash,Consumer Internet,Personal Finance platform,Mumbai,"Mohammed Khan, Sameer Narayan & Others",Seed Funding,100000.0,0
780,780,17/08/2016,MaalGaadi,Logistics,Online Logistics Marketplace,Indore,"Swan Angel Network,Sachin Khandelwal and others",Seed Funding,375000.0,0
871,871,15/07/2016,BaggOut,eCommerce,Women’s Fashion etailer,New Delhi,"Sumit Jain, Sumit Jain, Anurag Gupta, Varun Kh...",Seed Funding,0.0,0
920,920,10/06/2016,Kickstart Jobs,Technology,Entry level hiring platform,Gurgaon,"Vivek Joshi, Mohit Satyanand, Amit Banati, Aru...",Seed Funding,0.0,0
947,947,17/06/2016,BYG,Consumer Internet,Fitness centre Discovery & Booking Mobile app,Bangalore,"Sanjay Verma, Amit Khanna (LetsVenture)",Seed Funding,0.0,0
1094,1094,13/04/2016,Legalraasta,Consumer Internet,Online legal Services for Startups,New Delhi,"Pravin Khandelwal, Yatin Kumar Jain",Seed Funding,1000000.0,0
1155,1155,03/3/2016,Imarticus Learning,Education,Financial Services & Analytics Education Insti...,Mumbai,"Blinc Advisors, Amit Nanavati, Tashwinder Sing...",Private Equity,1000000.0,0
1581,1581,19/11/2015,PlaceofOrigin,Online Gourmet Food Marketplace,0,Bangalore,"S.D. Shibulal, Kris Gopalakrishnan, Srinath Ba...",Seed Funding,0.0,0
1598,1598,25/11/2015,Tooler,On Demand Laundry Services App,0,New Delhi,"Raghu Khanna, Sameer Gupta",Seed Funding,110000.0,0
1793,1793,29/09/2015,LoanCircle,Consumer lending marketplace,0,Bangalore,"Zishaan Hayath, Rahul Khanna & Others",Seed Funding,0.0,0
1905,1905,02/07/2015,Zenatix,Internet of Things platform,0,Gurgaon,"Rajan Anandan, Kunal Bahl, Rohit Bansal, Rahul...",Seed Funding,161000.0,0

In [45]:
df[df['InvestorsName'].str.contains('Khan')]

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
81,81,16/06/2017,Fincash,Consumer Internet,Personal Finance platform,Mumbai,"Mohammed Khan, Sameer Narayan & Others",Seed Funding,100000.0,0
780,780,17/08/2016,MaalGaadi,Logistics,Online Logistics Marketplace,Indore,"Swan Angel Network,Sachin Khandelwal and others",Seed Funding,375000.0,0
871,871,15/07/2016,BaggOut,eCommerce,Women’s Fashion etailer,New Delhi,"Sumit Jain, Sumit Jain, Anurag Gupta, Varun Kh...",Seed Funding,0.0,0
920,920,10/06/2016,Kickstart Jobs,Technology,Entry level hiring platform,Gurgaon,"Vivek Joshi, Mohit Satyanand, Amit Banati, Aru...",Seed Funding,0.0,0
947,947,17/06/2016,BYG,Consumer Internet,Fitness centre Discovery & Booking Mobile app,Bangalore,"Sanjay Verma, Amit Khanna (LetsVenture)",Seed Funding,0.0,0
1094,1094,13/04/2016,Legalraasta,Consumer Internet,Online legal Services for Startups,New Delhi,"Pravin Khandelwal, Yatin Kumar Jain",Seed Funding,1000000.0,0
1155,1155,03/3/2016,Imarticus Learning,Education,Financial Services & Analytics Education Insti...,Mumbai,"Blinc Advisors, Amit Nanavati, Tashwinder Sing...",Private Equity,1000000.0,0
1581,1581,19/11/2015,PlaceofOrigin,Online Gourmet Food Marketplace,0,Bangalore,"S.D. Shibulal, Kris Gopalakrishnan, Srinath Ba...",Seed Funding,0.0,0
1598,1598,25/11/2015,Tooler,On Demand Laundry Services App,0,New Delhi,"Raghu Khanna, Sameer Gupta",Seed Funding,110000.0,0
1793,1793,29/09/2015,LoanCircle,Consumer lending marketplace,0,Bangalore,"Zishaan Hayath, Rahul Khanna & Others",Seed Funding,0.0,0
1905,1905,02/07/2015,Zenatix,Internet of Things platform,0,Gurgaon,"Rajan Anandan, Kunal Bahl, Rohit Bansal, Rahul...",Seed Funding,161000.0,0

In [46]:
df['InvestorsName'].str.contains('Khan').sum()

11

In [47]:
df['InvestorsName'].str.contains('khan').sum()

3

**What do you observe?**
<br>The str.contains() function is case sensative. If you pass Khan with capital K then it will search it with capital K otherwise if you pass lower k then it will search accordingly.

## Column Transformations / Splits

**Changing Data types**

___1. Normal conversion___

In [48]:
df.dtypes

SNo                   int64
Date                 object
StartupName          object
IndustryVertical     object
SubVertical          object
CityLocation         object
InvestorsName        object
InvestmentType       object
AmountInUSD         float64
Remarks              object
dtype: object

In [49]:
df['AmountInUSD']=df['AmountInUSD'].astype(np.int32)

In [50]:
df.dtypes

SNo                  int64
Date                object
StartupName         object
IndustryVertical    object
SubVertical         object
CityLocation        object
InvestorsName       object
InvestmentType      object
AmountInUSD          int32
Remarks             object
dtype: object

___2. Dates Conversion___

This will return an error as there are unknown string formats present. The below function will only work when date is in a specific format like 1/1/2001

In [51]:
pd.to_datetime(df['Date'])

ValueError: ('Unknown string format:', '12/05.2015')

we saw in the data that there were some anomolies present. Like in the dates double slashes were used instead of single so we had to replace them
<br> The errors='coerce' parameter ignores the errors and converts the rest.

In [ ]:
df['Date'] = pd.to_datetime(df['Date'].str.replace('//', '/'), dayfirst=True, errors='coerce')

In [ ]:
df.dtypes

**Getting months/year/days as separate columns from a datetime column**

In [ ]:
df['month'] = pd.DatetimeIndex(df['Date']).month

**Exercise:** Extract day and year

**Extracting new columns from existing string columns**

In [ ]:
df['InvestmentType'].str.split(' ')

In [ ]:
df['InvestmentType'].str.split(' ').str[0]

## MultiIndexing

In [ ]:
grouped = df.groupby(['IndustryVertical', 'SubVertical'])

In [ ]:
new = grouped.agg({'AmountInUSD': {'Mean': np.mean, 'Sum': np.sum}})

In [ ]:
new

In [ ]:
new['AmountInUSD']

#### You can slice a MultiIndex by providing multiple indexers.

You can use pandas.IndexSlice to facilitate a more natural syntax using :,

In [ ]:
idx = pd.IndexSlice
new.loc[idx[:, ['AI Based Personal Assistant', 'App based cab aggregator']], idx[:, 'Sum']]

In [ ]:
new['AmountInUSD']['Sum']

## Querying a Dataframe

**Querying based on a single value**

In [ ]:
df['AmountInUSD'] < 100000

In [ ]:
df[df['AmountInUSD'] < 100000]

**Querying based on multiple columns**

In [ ]:
df[(df['AmountInUSD'] < 100000) & (df['CityLocation'] == 'New Delhi')]

**Querying based on a list of values**

In [ ]:
df['CityLocation'].isin(['New Delhi', 'Bangalore', 'Mumbai'])

In [ ]:
#df[(df['CityLocation'].isin(['New Delhi', 'Bangalore', 'Mumbai'])) & (df['AmountInUSD'] < 100000)]

df[
    (df['AmountInUSD'] > 5000) 
    &
    (df['CityLocation'].isin(['New Dehli']))
]

## `DataFrame.at` vs. `DataFrame.loc`

In [74]:
df.at[133,['StartupName', 'AmountInUSD']]

TypeError: unhashable type: 'list'

In [75]:
df.at[133,'StartupName']

'Curie Labs'

In [76]:
df.loc[133,['StartupName', 'AmountInUSD']]

StartupName    Curie Labs
AmountInUSD         50000
Name: 133, dtype: object

In [77]:
%timeit df.at[133,'StartupName']

9 µs ± 2.09 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [78]:
%timeit df.loc[133,'StartupName']

12.7 µs ± 2.05 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

## Joins

In [79]:
rows1 = df[0:10]
rows2 = df[5:12]
print(rows1.shape)
rows1
table1 = rows1[['SNo', 'Date', 'CityLocation']]
table2 = rows2[['SNo', 'StartupName', 'IndustryVertical', 'InvestmentType']]
print(table1.shape)
table1

(10, 11)
(10, 3)

   SNo       Date CityLocation
0    0 2017-08-01    Bangalore
1    1 2017-08-02       Mumbai
2    2 2017-08-02    New Delhi
3    3 2017-08-02       Mumbai
4    4 2017-08-02    Hyderabad
5    5 2017-07-01    Bangalore
6    6 2017-07-03    Ahmedabad
7    7 2017-07-04      Gurgaon
8    8 2017-07-05    Bangalore
9    9 2017-07-05        Noida

In [80]:
print(table2.shape)
table2

(7, 4)

    SNo       StartupName   IndustryVertical  InvestmentType
5     5     Billion Loans  Consumer Internet    Seed Funding
6     6  Ecolibriumenergy         Technology  Private Equity
7     7             Droom          eCommerce  Private Equity
8     8         Jumbotail          eCommerce  Private Equity
9     9            Moglix          eCommerce  Private Equity
10   10        Timesaverz  Consumer Internet  Private Equity
11   11            Minjar         Technology    Seed Funding

In [81]:
table1.merge(table2, how='inner', on='SNo')

,SNo,Date,CityLocation,StartupName,IndustryVertical,InvestmentType
0,5,2017-07-01,Bangalore,Billion Loans,Consumer Internet,Seed Funding
1,6,2017-07-03,Ahmedabad,Ecolibriumenergy,Technology,Private Equity
2,7,2017-07-04,Gurgaon,Droom,eCommerce,Private Equity
3,8,2017-07-05,Bangalore,Jumbotail,eCommerce,Private Equity
4,9,2017-07-05,Noida,Moglix,eCommerce,Private Equity

## Sorting

In [82]:
df.sort_values(by=['CityLocation', 'IndustryVertical'])

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks,month
2201,2201,2015-03-02,TrulyMadly.com,0,0,0,"Helion Venture Partners, Kae Capital",Private Equity,5500000,Series A,3.0
2202,2202,2015-03-02,InstaLively,0,0,0,Group of Angel Investors,Seed Funding,120000,0,3.0
2203,2203,2015-03-03,Vserv,0,0,0,"Maverick Capital, IDG Ventures India",Private Equity,15000000,0,3.0
2204,2204,2015-03-03,Intruo.com,0,0,0,"Ashutosh Lawania, Alok Goel & others",Seed Funding,0,0,3.0
2205,2205,2015-03-05,Niffler,0,0,0,SAIF Partners,Seed Funding,1000000,0,3.0
2206,2206,2015-03-05,CustomFurnish.com,0,0,0,"Madhukar Gangadi, Satish Reddy, Srini Raju, Sr...",Private Equity,2500000,0,3.0
2207,2207,2015-03-06,MapMyGenome,0,0,0,Rajan Anandan & other angel investors,Private Equity,1200000,0,3.0
2208,2208,2015-03-09,Crowdfire (formerly Justunfollow),0,0,0,Kalaari Capital,Private Equity,2500000,0,3.0
2209,2209,2015-03-09,Bite Club,0,0,0,"Powai Lake Ventures, Aneesh Reddy, Ashish Kash...",Seed Funding,500000,0,3.0
2210,2210,2015-03-10,Localbanya,0,0,0,Shrem Strategies,Private Equity,0,Series B,3.0
2211,2211,2015-03-11,Appedo,0,0,0,Undisclosed Investors,Seed Funding,1000000,0,3.0
2212,2212,2015-03-11,Fitraq.com,0,0,0,Tarun Arora,Seed Funding,150000,0,3.0
2213,2213,2015-03-11,ChargeBee,0,0,0,"Tiger Global, Accel Partners",Private Equity,5000000,Series B,3.0
2214,2214,2015-03-11,Groupon India,0,0,0,Sequoia Capital,Private Equity,20000000,0,3.0
2215,2215,2015-03-12,Process 9,0,0,0,"IAN Ventures, Alok Sharma, Kris Gopalakrishnan...",Seed Funding,0,0,3.0
2216,2216,2015-03-12,MoonFrog Labs,0,0,0,"Tiger Global, Sequoia Capital.",Private Equity,15000000,Series A,3.0
2217,2217,2015-03-13,Foodpanda,0,0,0,Rocket Internet AG & others,Private Equity,110000000,Series C,3.0
2218,2218,2015-03-13,Paytm,0,0,0,Ratan Tata,Private Equity,0,More details,3.0
2219,2219,2015-03-13,DiabetOmics,0,0,0,"VentureEast, Varaprasad Reddy",Private Equity,5000000,Series C,3.0
2220,2220,2015-03-13,Qyk,0,0,0,"Powai Lake Ventures, Zishan Hayath, Abhishek G...",Seed Funding,0,0,3.0
2221,2221,2015-03-14,Daily Rounds,0,0,0,"Kae Capital, GSF, Teruhide Sato",Seed Funding,500000,0,3.0
2222,2222,2015-03-14,Orobind,0,0,0,"Zishaan Hayath, Lalit Mangal, Harpreet Singh G...",Seed Funding,200000,0,3.0
2223,2223,2015-03-14,Routofy,0,0,0,"Kunal Bahl, Rohit Bansal",Seed Funding,0,0,3.0
2224,2224,2015-03-16,Digital Gorkha,0,0,0,Ramesh kavediya,Seed Funding,166000,0,3.0
2225,2225,2015-03-16,NestAway,0,0,0,"IDG Ventures, Naveen Tewari",Seed Funding,1300000,0,3.0
2226,2226,2015-03-16,The Better India,0,0,0,I-cube-N,Seed Funding,166000,0,3.0
2227,2227,2015-03-16,Meru Cabs,0,0,0,Value Fund Advisors,Private Equity,50000000,0,3.0
2228,2228,2015-03-17,GolfLAN,0,0,0,YourNest Angel Fund,Seed Funding,0,0,3.0
2229,2229,2015-03-18,Drivestream,0,0,0,Wipro,Private Equity,5000000,0,3.0
2230,2230,2015-03-18,wWhere,0,0,0,Group of Angel Investors,Seed Funding,200000,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
1068,1068,2016-04-01,Dil Mil,Consumer Internet,Matchmaking Mobile App,SFO / Bangalore,"Nelstone Ventures, Transmedia Capital, Maiden ...",Private Equity,2700000,0,4.0
1152,1152,2016-03-02,Skedool,Consumer Internet,AI based Office Assistant Mobile App,Seattle / Bangalore,"Kludein LLCPhanindra Sama, Narayan Ramachandra...",Seed Funding,0,0,3.0
1417,1417,2016-01-27,Teabox.com,ECommerce,Specialty Tea ETailer,Siliguri,Ratan Tata,Private Equity,0,0,1.0
915,915,2016-06-09,Teabox,eCommerce,Online Tea Store,Siliguri,Cameron Jones,Seed Funding,0,0,6.0
454,454,2016-12-07,LookAtMe,Consumer Internet,Mobile App based Fashion Network,Singapore,Eros Labs,Seed Funding,0,0,12.0
1489,1489,2015-12-15,Deal Street Asia,Digital Media Platform,0,Singapore,"Vijay Shekhar Sharma, Singapore Angels Network",Seed Funding,0,0,12.0
1620,1620,2015-10-01,Muvizz,Movie-on-demand platform,0,Singapore,"Ashish Todi, Abhinav Patodia, Kumar Shwetabh",Seed Funding,350000,0,10.0
538,538,2016-11-14,Active.ai,Technology,Banking & Fintech Platform,Singapore,"Kalaari Capital, IDG Ventures India",Private Equity,3000000,0,11.0
1005,1005,2016-05-04,Active.ai,Technology,Intelligent Tech platform for Finance vertical,Singapore,Kalaari Capital Accelerator Program,Seed Funding,500000,0,5.0
290,290,2017-03-16,ShilpMIS,Technology,Virtual Reality platform,Surat,"Puneet Gupta, Nimitt Desai & Others",Seed Funding,0,0,3.0
1039,1039,2016-05-18,PurpleHealth,Consumer Internet,Online health-on-demand platform,Trivandrum,Katabole Technology Venture,Seed Funding,100000,0,5.0
125,125,2017-05-05,Good Methods Global,Technology,Cloud Based Practice Management Software,Trivandrum,Accel Partners,Private Equity,0,0,5.0
836,836,2016-07-04,Fulfil.IO,Consumer Internet,Cloud Based ERP Software,US,Rajan Anandan,Seed Funding,0,0,7.0
1742,1742,2015-09-14,UE Life Sciences,Early Cancer Detection Solutions,0,US/India,"Aarin Capital, Unitus Seed Fund",Private Equity,3000000,Series A,9.0
940,940,2016-06-16,Saavn,Consumer Internet,Web/Mobile Music Streaming service,USA,Guy Oseary,Private Equity,0,0,6.0
1534,1534,2015-11-03,Bidgely,Efficient Energy Management platform,0,USA/India,Constellation Technology Ventures (Exelon Corp...,Private Equity,16600000,Series B,11.0
2005,2005,2015-06-02,Karma Healthcare,Tech-enabled Rural Healthcare Services,0,Udaipur,Ennovent Impact Investment Holding,Private Equity,0,Series A,6.0
2168,2168,2015-04-17,Robosoft,Mobile App Development,0,Udupi,"Ascent Capital, Kalaari Capital",Private Equity,12000000,Series B,4.0
432,432,2017-01-02,99Games,Technology,Mobile Game Developer Studio,Udupi,Dream Incubator,Seed Funding,0,0,1.0
583,583,2016-11-30,Math Buddy,Consumer Internet,Online Math Learn,Vadodara,Menterra Social Impact Fund,Seed Funding,440000,0,11.0
713,713,2016-09-21,PurpleDocs,Consumer Internet,Electronic Health care records platform,Vadodara,"KellyGamma, Lead Angels & Others",Seed Funding,0,0,9.0
935,935,2016-06-15,Oneway.cab,Consumer Internet,Taxi Rental Platform,Vadodara,Indian Angel Network,Seed Funding,450000,0,6.0
996,996,2016-05-03,BoiBanit,Consumer Internet,Online Food Delivery platform,Vadodara,Undisclosed investors,Seed Funding,0,0,5.0
1249,1249,2016-02-05,Gingercrush,Ecommerce,Personalized Products & Merchandize eTailer,Vadodara,"Saha Fund, TV Mohandas Pai, Zia Mody, Mumbai A...",Private Equity,1000000,0,2.0
2171,2171,2015-04-20,Pastiwala,Material Collection & Recycling,0,Vadodara,Agnus Capital,Private Equity,4000000,Series A,4.0
1530,1530,2015-11-03,boibanit,Online Food Ordering Marketplace,0,Vadodara,"Varun Ahuja, Anubhav Verma",Seed Funding,150000,0,11.0
1555,1555,2015-11-11,Gingercrush,Product Customization Platform,0,Vadodara,TV Mohandas Pai’s family office,Seed Funding,0,0,11.0
259,259,2017-03-02,Kreate Konnect,Technology,End-to-End Seller e-commerce solutions Provider,Vadodara,Langoor,Seed Funding,0,0,3.0
1251,1251,2016-02-05,DawaiLelo,Consumer Internet,Healthcare Services & Online Pharmacy Mobile App,Varanasi,Undisclosed investors,Seed Funding,52000,0,2.0
47,47,2017-07-28,Gympik.com,Consumer Internet,online marketplace for discovering fitness cen...,bangalore,RoundGlass Partners,Seed Funding,0,0,7.0

In [83]:
df.sort_values(by=['CityLocation', 'IndustryVertical'], ascending=False)

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks,month
47,47,2017-07-28,Gympik.com,Consumer Internet,online marketplace for discovering fitness cen...,bangalore,RoundGlass Partners,Seed Funding,0,0,7.0
1251,1251,2016-02-05,DawaiLelo,Consumer Internet,Healthcare Services & Online Pharmacy Mobile App,Varanasi,Undisclosed investors,Seed Funding,52000,0,2.0
259,259,2017-03-02,Kreate Konnect,Technology,End-to-End Seller e-commerce solutions Provider,Vadodara,Langoor,Seed Funding,0,0,3.0
1555,1555,2015-11-11,Gingercrush,Product Customization Platform,0,Vadodara,TV Mohandas Pai’s family office,Seed Funding,0,0,11.0
1530,1530,2015-11-03,boibanit,Online Food Ordering Marketplace,0,Vadodara,"Varun Ahuja, Anubhav Verma",Seed Funding,150000,0,11.0
2171,2171,2015-04-20,Pastiwala,Material Collection & Recycling,0,Vadodara,Agnus Capital,Private Equity,4000000,Series A,4.0
1249,1249,2016-02-05,Gingercrush,Ecommerce,Personalized Products & Merchandize eTailer,Vadodara,"Saha Fund, TV Mohandas Pai, Zia Mody, Mumbai A...",Private Equity,1000000,0,2.0
583,583,2016-11-30,Math Buddy,Consumer Internet,Online Math Learn,Vadodara,Menterra Social Impact Fund,Seed Funding,440000,0,11.0
713,713,2016-09-21,PurpleDocs,Consumer Internet,Electronic Health care records platform,Vadodara,"KellyGamma, Lead Angels & Others",Seed Funding,0,0,9.0
935,935,2016-06-15,Oneway.cab,Consumer Internet,Taxi Rental Platform,Vadodara,Indian Angel Network,Seed Funding,450000,0,6.0
996,996,2016-05-03,BoiBanit,Consumer Internet,Online Food Delivery platform,Vadodara,Undisclosed investors,Seed Funding,0,0,5.0
432,432,2017-01-02,99Games,Technology,Mobile Game Developer Studio,Udupi,Dream Incubator,Seed Funding,0,0,1.0
2168,2168,2015-04-17,Robosoft,Mobile App Development,0,Udupi,"Ascent Capital, Kalaari Capital",Private Equity,12000000,Series B,4.0
2005,2005,2015-06-02,Karma Healthcare,Tech-enabled Rural Healthcare Services,0,Udaipur,Ennovent Impact Investment Holding,Private Equity,0,Series A,6.0
1534,1534,2015-11-03,Bidgely,Efficient Energy Management platform,0,USA/India,Constellation Technology Ventures (Exelon Corp...,Private Equity,16600000,Series B,11.0
940,940,2016-06-16,Saavn,Consumer Internet,Web/Mobile Music Streaming service,USA,Guy Oseary,Private Equity,0,0,6.0
1742,1742,2015-09-14,UE Life Sciences,Early Cancer Detection Solutions,0,US/India,"Aarin Capital, Unitus Seed Fund",Private Equity,3000000,Series A,9.0
836,836,2016-07-04,Fulfil.IO,Consumer Internet,Cloud Based ERP Software,US,Rajan Anandan,Seed Funding,0,0,7.0
125,125,2017-05-05,Good Methods Global,Technology,Cloud Based Practice Management Software,Trivandrum,Accel Partners,Private Equity,0,0,5.0
1039,1039,2016-05-18,PurpleHealth,Consumer Internet,Online health-on-demand platform,Trivandrum,Katabole Technology Venture,Seed Funding,100000,0,5.0
290,290,2017-03-16,ShilpMIS,Technology,Virtual Reality platform,Surat,"Puneet Gupta, Nimitt Desai & Others",Seed Funding,0,0,3.0
538,538,2016-11-14,Active.ai,Technology,Banking & Fintech Platform,Singapore,"Kalaari Capital, IDG Ventures India",Private Equity,3000000,0,11.0
1005,1005,2016-05-04,Active.ai,Technology,Intelligent Tech platform for Finance vertical,Singapore,Kalaari Capital Accelerator Program,Seed Funding,500000,0,5.0
1620,1620,2015-10-01,Muvizz,Movie-on-demand platform,0,Singapore,"Ashish Todi, Abhinav Patodia, Kumar Shwetabh",Seed Funding,350000,0,10.0
1489,1489,2015-12-15,Deal Street Asia,Digital Media Platform,0,Singapore,"Vijay Shekhar Sharma, Singapore Angels Network",Seed Funding,0,0,12.0
454,454,2016-12-07,LookAtMe,Consumer Internet,Mobile App based Fashion Network,Singapore,Eros Labs,Seed Funding,0,0,12.0
915,915,2016-06-09,Teabox,eCommerce,Online Tea Store,Siliguri,Cameron Jones,Seed Funding,0,0,6.0
1417,1417,2016-01-27,Teabox.com,ECommerce,Specialty Tea ETailer,Siliguri,Ratan Tata,Private Equity,0,0,1.0
1152,1152,2016-03-02,Skedool,Consumer Internet,AI based Office Assistant Mobile App,Seattle / Bangalore,"Kludein LLCPhanindra Sama, Narayan Ramachandra...",Seed Funding,0,0,3.0
1068,1068,2016-04-01,Dil Mil,Consumer Internet,Matchmaking Mobile App,SFO / Bangalore,"Nelstone Ventures, Transmedia Capital, Maiden ...",Private Equity,2700000,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
2342,2342,2015-01-19,Refiral,0,0,0,Cogent E Services,Seed Funding,330000,0,1.0
2343,2343,2015-01-19,Ping Digital,0,0,0,Consortium of Angel Investors,Seed Funding,0,0,1.0
2344,2344,2015-01-19,HealthyWorld.in,0,0,0,Group of Angel Investors,Seed Funding,200000,0,1.0
2345,2345,2015-01-19,Hostel Dunia,0,0,0,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000,0,1.0
2346,2346,2015-01-19,Play your sport,0,0,0,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000,0,1.0
2347,2347,2015-01-19,Yo Grad,0,0,0,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000,0,1.0
2348,2348,2015-01-19,Enabli,0,0,0,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000,0,1.0
2349,2349,2015-01-19,CBS,0,0,0,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000,0,1.0
2350,2350,2015-01-20,Hopscotch,0,0,0,Eduardo Saverin & Velos Capital,Private Equity,11000000,0,1.0
2351,2351,2015-01-20,Amagi Media Labs,0,0,0,Premji Invest & Mayfield Fund,Private Equity,0,0,1.0
2352,2352,2015-01-20,HealthyWorld.in,0,0,0,Group of Angel Investors,Seed Funding,200000,0,1.0
2353,2353,2015-01-21,Simplilearn,0,0,0,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,14750000,0,1.0
2354,2354,2015-01-21,MyDreamStore,0,0,0,Undisclosed Investors,Seed Funding,325000,0,1.0
2355,2355,2015-05-21,Knit,0,0,0,"Rohit Jain, Amit Rambhia & Others",Seed Funding,0,0,5.0
2356,2356,2015-05-21,Villgro,0,0,0,Michael & Susan Dell Foundation,Seed Funding,3250000,To fund edu startups,5.0
2357,2357,2015-01-22,Corporate360,0,0,0,Group of Angel Investors,Seed Funding,200000,0,1.0
2358,2358,2015-01-22,Freshmonk,0,0,0,"August Capital Partners, Michael Blakey",Seed Funding,0,0,1.0
2359,2359,2015-01-22,Englishleap.com,0,0,0,ANALEC,Private Equity,0,Majority Stake,1.0
2360,2360,2015-01-22,Antuit,0,0,0,"Goldman Sachs, Zodius Capital",Private Equity,56000000,0,1.0
2361,2361,2015-01-22,Caratlane.com,0,0,0,Tiger Global,Private Equity,31000000,Series D,1.0
2362,2362,2015-01-24,Aasaanjobs,0,0,0,"Inventus Capital Partners, IDG Ventures",Seed Funding,1500000,0,1.0
2363,2363,2015-01-24,Impartus,0,0,0,Kaizen Private Equity,Private Equity,0,Series A,1.0
2364,2364,2015-01-25,Thrill App,0,0,0,People Group (Shaadi.com),Private Equity,1000000,Strategic Funding,1.0
2365,2365,2015-01-27,CarDekho.com,0,0,0,"Hillhouse Capital, Tybourne Capital",Private Equity,50000000,Series B,1.0
2366,2366,2015-01-28,Grabhouse.com,0,0,0,"Kalaari Capital, Sequoia Capital",Private Equity,2500000,Series A,1.0
2367,2367,2015-01-29,Printvenue,0,0,0,Asia Pacific Internet Group,Private Equity,4500000,0,1.0
2368,2368,2015-01-29,Graphene,0,0,0,KARSEMVEN Fund,Private Equity,825000,Govt backed VC Fund,1.0
2369,2369,2015-01-30,Mad Street Den,0,0,0,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000,0,1.0
2370,2370,2015-01-30,Simplotel,0,0,0,MakeMyTrip,Private Equity,0,"Strategic Funding, Minority stake",1.0
2371,2371,2015-01-31,couponmachine.in,0,0,0,UK based Group of Angel Investors,Seed Funding,140000,0,1.0

## Grouping - Aggregation & Value Counts

**Without grouping**

In [84]:
df['AmountInUSD'].sum()

18347386476

In [85]:
df['IndustryVertical'].unique()

array(['Technology', 'Consumer Internet', 'eCommerce', 'Logistics',
       'Others', 'Healthcare', 'Food & Beverage', 'ECommerce', 'Finance',
       'Education', 'Food & Beverages', 'ecommerce', 'healthcare',
       'Real Estate', 'FMCG', 'Reality', 'Auto', 'Ecommerce', 'BFSI',
       'Consumer Interne', 'Online Education Information platform',
       'Brand Licensing Startup',
       'Gourmet Food Discovery & Delivery platform',
       'Transportation & Logistics Platform',
       'Enterprise Marketing Automation platform',
       'Health, Wellness & Beauty Services App', 'Digital Healthcare',
       'Last Minute Hotel Booking App', 'Womens Fashion Wear Portal',
       'Product Learning platform',
       'Online Food ordering & Delivery platform',
       'App based Bus Pooling Services', 'Social Learning Platform',
       'Social Fitness platform', 'On Demand Mobile app developer',
       'Car Maintenance & Management mobile app',
       'Online Wedding Marketplace', 'Splitting Bills Mobile App',
       'IOT Energy Management Analytics platform',
       'Custom Made furniture e-tailer', 'QSR Chain',
       'eLearning platform', 'Smart Safety Wearable Devices',
       'Cab Sharing service Mobile app',
       'Cloud Enterprise Mobility Platform',
       'Online Shopping Assistant Mobile app',
       'Home Cooked Food Order & Delivery platform',
       'Online School for Analytics learning',
       'Chat based personal Assistant App',
       'Picture creation & Social mobile app',
       'Nonbanking finance company', 'eCommerce returns etailer',
       'Online Freight Services Aggregator',
       'Online Branded Furniture etailer', 'Digital Analytics Platform',
       'Internet Network Infrastructure Services',
       'Supply Chain & Logistics Solutions', 'Holiday Resort Chain',
       'Mobile Point of Sale solutions',
       'Peer-to-Peer Money Transfer & Recharge App',
       'Test Automation SAAS platform', 'Citizens Engagement Platform',
       'Indoor Navigation & Analytics Solutions',
       'Hyperlocal On-Demand Household Services platform',
       'Online RTI application services',
       'ECommerce Website Creation SAAS platform',
       'Wedding Venues & Vendors Marketplace',
       'Interface development platform for Government officials',
       'Modular Furnishings Marketplace',
       'Private Jet Bookings Marketplace',
       'Cab search Comparison & Booking platform',
       'Performance Optimization Platform for athletes',
       'Event Venue Booking Platform', 'Digital Media Platform',
       'visual search and discovery platform',
       'Home services marketplace',
       'End to End reverse logistics Solution platform',
       'Virtual Health consultation app', 'Online Renting platform',
       'Logistics Services Provider',
       'Data Science & UX design Learning platform',
       'Online marketplace for Chef Meals', 'Electric Bike Manufacturers',
       'ECommerce platform solutions', 'Online Media Publication',
       'International Hiring Platform',
       'Logistics Service Provider Marketplace',
       'Hyperlocal\xa0 Grocery Delivery Service',
       'Sports Education Platform',
       'Bike, Appliances Renting marketplace',
       'Online Marketplace for Industrial Goods',
       'Reward points mobile app', 'Mobile accessories online store',
       'Content Discovery & reward points platform',
       'Artificial Intelligence platform',
       'Medical Consultation & Doctor appointment booking platform',
       'Mobile Fitness App',
       'Digital Coupons, Deal & Cashback aggregator app',
       'Mobile Game development & Design platform',
       'B2B eCommerce Marketplace',
       'Furniture and appliances rental platform',
       'B2B Merchandize platform', 'Real Estate focused Tech platform',
       'Photographer Online search & booking platform',
       'Grocery Delivery platform',
       'Mobile Car Servicing appointment app', 'New Curation Mobile App',
       'Mobile Wallet', 'Online Food Ordering & Delivery platform',
       'Bus Aggregation and rental mobile app',
       'hyperlocal online Services platform',
       'WiFi – first Cloud communication platform',
       'Alternate Mobile Monetization platform',
       'Online Food Ordering Marketplace',
       'Quick Service Restaurant & Online Delivery',
       'Online Loans Marketplace', 'Budget Hotels Aggregator',
       'Efficient Energy Management platform',
       'Digital Intelligent learning platform',
       'Voice Call incentivization mobile app',
       'Online Counselling and psychological support platform',
       'Domestic Help Aggregation platform',
       'Home Stay & room rentals platform', 'Selfie Mobile App',
       'Online Reputation Management Platform', 'Online Grocery platform',
       'Online content platform for women',
       'Online Vehicle Spare Parts etailer', 'Event Ticketing platform',
       'affordable Personal Healthcare Products',
       'Premium dining Lounges & restaurants',
       'Mobile Growth HackingPlatform', 'Skill Training Startup',
       'Beauty and Wellness Marketplace', 'Marketplace App for Bangkok',
       'On-demand Maids Service Provider',
       'eCommerce Product Search Engine', 'Ready to cook packaged Foods',
       'Product Customization Platform',
       'Branded Food products online sales',
       'Talent platform for Fashion professionals',
       'Auto Insurance Online platform',
       'Hyperlocal Logistics Service Provider',
       'Cricket Management Mobile Game',
       'On Demand Laundry Service platform',
       'Ecommerce Discount & Cashback coupons platform',
       'Virtual Reality Headset creator',
       'Home Improvement Service platform',
       'mobile-only tasks marketplace',
       'Women Ethnic Wear\xa0 Online Marketplace',
       'Numerical Computing & Data Science Platform',
       'Designer fashion Jewellery Marketplace',
       'Online Products Discovery Platform',
       'Kids Tool kit for Innovation platform',
       'Mobile Learning Solutions', 'Car Aggregator & Retail Mobile App',
       'conversational commerce mobile app', 'Viral Content web Platform',
       'Express local delivery platform',
       'On-Demand Local Logistics provider',
       'Curated Freelancer Marketplace', 'Online Taxi Rental Platform',
       'Mobile Services Marketplace', 'Smartwatch Maker',
       'Online Gourmet Food Marketplace', 'Online Jewellery etailer',
       'Sales & Productivity Software',
       'ecommerce related software product platform',
       'Health-Tech platform', 'Nightlife Discovery Mobile App',
       'Online Real Estate Marketplace',
       'Home Healthcare Services platform,',
       'Indian Ethnic Crafts Etailer',
       'Social platform for traders and investors',
       'Online Furniture, Home Appliances Rental Platform',
       'Healthcare Services Discovery platform',
       'Health and Beauty Services Marketplace',
       'Automotive Services platform',
       'Online and TV Shopping Marketplace',
       'Big Data Analytics Platform',
       'Mobile App based Loan disbursement platform',
       'On Demand Laundry Services App', 'Education Content Provider',
       'Content Management Software Solutions',
       'Fitness Tracking Management Solutions',
       'Hyper-local Grocery Delivery platform',
       'Hyperlocal healthcare product Delivery Service provider',
       'Online Lending Marketplace', 'On Demand Beauty Services Platform',
       'Self Driven Rental Car Platform', 'Education Content etailer',
       'Clud based Learning platform',
       'Talent Exchange & Talent Services Marketplace',
       'Two-Wheeler Taxi Service', 'character merchandize sales platform',
       'Mobile Application Developer',
       'Ecommerce Delivery locker services',
       'extra curricular activities marketplace app',
       'Hyperlocal Online Home services provider',
       'Easy Business Loans platform',
       'Performance based Wholesale Marketplace',
       'Professional Services Marketplace', 'Movie-on-demand platform',
       'bus ticketing and fleet management platform',
       'Online Income Tax Filing platform',
       'Product discovery & recommendation platform',
       'Mobile Payments App', 'Beauty & Wellness Products e-tailer',
       'Fashion jewelry and accessories e-tailer',
       'Online Consumer Lending platform',
       'Premium Apparel shopping portal',
       'Exclusive Platform for Doctors & Healthcare professionals',
       'Job Board', 'Sports Management & Physical Education Business',
       'multi-sport program for preschoolers',
       'QSR & Online delivery portal', 'Online Homeopathy Clinic',
       'E-Learning Service Provider', 'Organic Food etailer',
       'Delivery & Logistics Service provider',
       'Product Discovery & comparison App',
       'Online Apparels Fashion brand',
       'Home Cooked Food marketplace & Delivery',
       'Gesture based Mobile Development',
       'Hotel Mobile CRM Software platform',
       'Rental Accommodation Search platform', 'Logistics Tech Platform',
       'Developer Portfolio Showcase platform',
       'Doctors Network Mobile App', 'End-to-End Lending platform',
       'on-demand healthcare marketplace',
       '360-degree view creating platform',
       'Advertising & Marketing Community Networking platform',
       'Food Ordering & Delivery App', 'Ride Sharing platform',
       'Online P2P lending marketplace',
       'B2B marketplace for industrial goods',
       'Cloud Based Collaboration platform',
       'global community for travellers', 'Prepaid Bill manager App',
       'Mobile Only Shopping Assistant', 'Mobile Messaging Assistant App',
       'Personalized Wish List creator app', 'Music Streaming mobile app',
       'Raw Meat & Ready to eat food etailer', 'Gym Discovery platform',
       'Online Purchase rewards app', 'Home rental platform',
       'Crowdsourced Delivery platform', 'Real Estate Insights platform',
       'Structural & Civil Engg Service Automation',
       'Startup Funding Marketplace', 'Payments Solution platform',
       'Travel Destination Discovery platform',
       'Order Fulfillment SAAS platform', 'Last Mile Delivery Service',
       'Healthcare IT Solutions & services', 'Gourmet Meals Delivery',
       'Healthy Meals Food delivery platform', 'Real Estate Mobile CRM',
       'Micro-Brewery', 'Home Made Food Marketplace',
       'residential rental management platform',
       'Personalized Stock Intelligence Platform',
       'Personal Diagnostic Mobile App',
       'Online food ordering & Delivery service',
       'Hotel Aggregator & booking platform', 'Online Logistics Platform',
       'Online Student & Campus Social Networking platform',
       'Professionals & Project Search Marketplace', 'Online Pharmacy',
       'Online Payment Gateway', 'Psychometric Test Online Software',
       'Location based Nightlife recommendation\xa0 Platform',
       'Professional Health Services Platform',
       'Hyperlocal Logistics Service', 'Online user engagement platform',
       'Asset Financing platform',
       'Virtual Reality activity based learning platform',
       'Online Grocery Store', 'Investment management platform',
       'Industrial Toons Marketplace', 'Public Commute helper App',
       'Artificial Intelligence Ecommerce Chatbot',
       'Truck Aggregator & Logistics service', 'Ridesharing Mobile app',
       'Food Discovery & Delivery Mobile app',
       'Competitive exam learning platform',
       'Document Digitization platform',
       'proximity marketing & Mobile Advertising platform',
       'Autorickshaw Aggregator & Booking platform',
       'FinTech Startup Incubation platform', 'Payment Services platform',
       'Personalized Styling platform',
       'Luxury goods\xa0 Shopping Platform', 'Food Delivery Platform',
       'Online Lingerie Marketplace', 'Cloud software solutions',
       'Job Search Platform', 'Doctor consultancy Mobile App',
       'Small Business Financing (NBFC)',
       'Beauty & Wellness Services Marketplace',
       'Online Movie Review Platform',
       'ECommerce Brands’ Full Service Agency',
       'Cloud-based Hotel Booking Platform',
       'Community Driven News/Views Platform',
       'Study Material Marketplace',
       'Restaurant Ratings & Reviews platform',
       'Dairy Based Product Manufacturer',
       'Government Test Preparation platform',
       'Smart Report Cards for Schools', 'Teacher empowerment platform',
       'Multilingual Test Preparation Platform',
       'Industrial Tools Marketplace',
       'Non Profit Organization to alleviate poverty',
       'Gym & Fitness Studios Subscription platform',
       'pre-used luxury item Marketplace',
       'pre-used apparel shopping mobile app',
       'Home Design & Décor platform', 'Used Vehicles Marketplace',
       'Online Bus & Cab ticketing platform',
       'Mobile App testing platform', 'Hyperlocal Delivery Services',
       'Early Cancer Detection Solutions', 'Cab rental Mobile app',
       'Online Insurance Distribution Platform',
       'Mobile Marketing Automation Platform',
       'Prepaid Mobile Bill Manager App', 'Chain of Tea Café’s',
       'Branded Budget Hotel Marketplace',
       'Home Fitting & Fixtures Marketplace',
       'Food Subscription platform', 'Wedding Planning Platform',
       'B2B Mobile Auction Marketplace',
       'ECommerce Data Analytics Platform',
       'Designer Merchandize Marketplace',
       'Private label Fashion eTailer', 'Online Food ordering & delivery',
       'Real Estate Broker Platform App',
       'Online Health & Wellness platform', 'Internet of Things platform',
       'Diagnostic Labs aggregator platform',
       'Hyperlocal Delivery Platform', 'Home Medical Care Services',
       'Real-Time stock data platform',
       'Food discovery & table booking app',
       'coupons and cashback aggregator app',
       'Financial Products lead generation platform',
       'Sustainable Agri-inputs Firm', 'Financial Services Portal',
       'Pre-owned games Marketplace',
       'Content-based Subscription eCommerce platform',
       'virtual reality, 3d simulation and stereoscopic products',
       'Online Interior Designing platform',
       'End-to-end Logistics platform', 'Private Label Apparel sales',
       'Healthcare Consulting platform', 'Stock Market Portal',
       'Cross-device retargeting platform',
       'Digital & Physical Publishing platform',
       'Data Driven Publishing platform',
       'Employee OnBoarding & Orientation platform',
       'Solar Power Solutions company', 'Online Meat Ordering platform',
       'online meal-booking platform for train travelers',
       'hyperlocal delivery platform', 'Cab Booking app platform',
       'E-Commerce & M-Commerce platform', 'Mobile Advertising platform',
       'Hyperlocal Grocery Delivery',
       'Ecommerce Product recommendation platform',
       'Activity Based Social Network', 'Fashion Discovery platform',
       'Consumer lending marketplace', 'Big Data Management Platform',
       'Budget Accommodation Platform', 'Local Mobile OS',
       'Digital Signal processing platform', 'Ecommerce Marketplace',
       'Restaurant Discount app', 'Tech-enabled learning',
       'ECommerce Logistics provider',
       'on-demand home beauty and wellness portal',
       'Self Driven Car rental', 'Budget Hotel accommodation brand',
       'Energy & Environment Online Marketplace',
       'User Engagment & Analytics platform',
       'On-Demand Delivery Logistics',
       'fund raising platform for startups', 'Online budget hotel chain',
       'Hyperlocal Handyman services', 'hotel booking app',
       'Rental Accomodation finder', 'Tech Platform for property brokers',
       'Luxury Apparel rental', 'App security\xa0 testing platform',
       'Doctor Appointment booking app', 'anonymous bulletin board app',
       'Travel community platform', 'Crowd funding platform',
       'Mobile based PoS solution', 'Car & Bike ecommerce platform',
       'Fast food Chain Franchisee', 'Loyalty Programs & Reward Points',
       'Energy saving solutions provider', 'Self-Storage Spaces',
       'Grocery retail Mobile app', 'Taxi Rental platform',
       'Machine Learning Platform', 'mobile social network',
       'Hyper-Local Ecommerce', 'Online printing marketplace',
       'mobile payment software platform',
       'Automated Storage & Warehousing Solution',
       'Home Design & Décor solutions', 'Quick Service Restaurant Chain',
       'Subscription based Online Grocery platform',
       'engineering services company', 'Business and IT consulting',
       'Credit Card Fraud protection solutions',
       'Online & mobile Grocery store', 'Career Community for Women',
       'Mutual Fund Investing platform',
       'Ecommerce Marketing Software Platform',
       'Financial Inclusion platform',
       'Digital Marketing automation solution',
       'Mobile Commerce for Farmers', 'Picture based Social App',
       'Logistics service platform', 'On-Demand Beauty Services',
       'Exam Preparation Platform', 'Startup Focused Online Publisher',
       'Waste Management Solutions', 'App based Fitness coaching',
       'On demand cleaning & fixing services',
       'Beauty & Lifestyle platform', 'on-demand delivery service',
       'Data Analytics Platform', 'Deep Learning Cloud Algorithms',
       'Location based engagement & rewards platform',
       'Online Identity Verification Services platform',
       'Corporate Wellness App', 'Fashion Search & Review Platform',
       'Hyperlocal Maintenance, Repair & Cleaning services',
       'pre-owned Luxury online apparel seller',
       'Online Furniture Marketplace',
       'Online Diagnostic Tests Marketplace',
       'Online marketplace for Photographers', 'Visual Blogging platform',
       'Food Customer analytics platform',
       'Professional Service Appointment booking service',
       'Scientific Horoscope Online Assistance platform',
       'Tech enabled AC bus service',
       'On-Demand App based Professional service provider',
       'Restaurant Reservation Platform', 'Cross-channel CRM platform',
       'Professional Custom creators Marketplace',
       'on-Demand Washing & Dry-Cleaning', 'On-Demand Beauty Service',
       'solar products and services marketplace',
       'Online Food Community Platform',
       'Private Cloud Networks SAAS platform', 'Education Marketplace',
       'Cloud Based Hotel Sales Platform',
       'online recipe sharing platform',
       'Beauty & Lifestyle Mobile Marketplace', 'QSR Restaurant Chain',
       'Digital Media publishing platform',
       'Online Coffee Delivery platform',
       'Language Localization Cloud platform',
       'Big Data & predictive Analysis Platform',
       'Business IT Intelligence Services', 'CRM / Analytics platform',
       'Hyperlocal Electronics repair Service', 'Ed-Tech Platform',
       'IT infrastructure & Data Center services',
       'Online Financial Services', 'Used Car Marketplace',
       'Language Learning App', 'Mobile Fitness Marketplace',
       'Custom Merchandize platform', 'P2P Pre-owned goods marketplace',
       'Custom Furniture Marketplace', 'Online Tailoring Services',
       'Rail Ticket Confirmation predictor',
       'Ethnic Beverages manufacturer', 'Hyperlocal Goods marketplace',
       'Budget Accommodation aggregator', 'Real Estate Rating & Analysis',
       'Food Delivery platform', 'Financial Tech', 'Food Discovery App',
       'Music Streaming App', 'Big Data & Analytics platform',
       'Coupon Aggregator Platform', 'Electric Scooter manufacturer',
       'Online Food-Tech Platform', 'Celebrity Fashion Brand',
       'Online Finance lending platform', 'Healthcare Mobile App',
       'Self-driven vehicle rental', 'News Aggregator mobile app',
       'Online Jewellery Store', 'Fashion Info Aggregator App',
       'Online Study Notes Marketplace',

In [86]:
df['IndustryVertical'].value_counts()

Consumer Internet                                          772
Technology                                                 313
eCommerce                                                  171
0                                                          171
ECommerce                                                   53
Healthcare                                                  30
Logistics                                                   24
Education                                                   20
Food & Beverage                                             19
Finance                                                      9
Others                                                       6
Online Food Delivery                                         5
Online Education Platform                                    5
Real Estate                                                  4
FMCG                                                         3
ecommerce                                                    3
Ecommerce                                                    3
Big Data & Analytics platform                                3
Logistics Tech                                               3
Hyperlocal Handyman Services                                 3
Food Delivery Platform                                       3
Interface development platform for Government officials      2
Online budget hotel chain                                    2
Online Payment Gateway                                       2
Health-Tech platform                                         2
Internet of Things platform                                  2
Two-Wheeler Taxi Service                                     2
Online food ordering & Delivery service                      2
Used Car Marketplace                                         2
Cab rental Mobile app                                        2
                                                          ...
bus ticketing and fleet management platform                  1
Scientific Horoscope Online Assistance platform              1
Marketing / Advertising Automation platform                  1
Tech Recruitment platform                                    1
App Analytics platform                                       1
Modular Furnishings Marketplace                              1
Clean Tech                                                   1
Hyperlocal Goods marketplace                                 1
Online Freight Services Aggregator                           1
Sports Education Platform                                    1
Dairy Based Product Manufacturer                             1
Education Content etailer                                    1
B2B marketplace for industrial goods                         1
Tech-enabled Rural Healthcare Services                       1
Self-driven Car rental                                       1
Interactive Educational Games                                1
Private Cloud Networks SAAS platform                         1
Online Jewelry Store                                         1
Robotic Program learning                                     1
Solar Power Solutions company                                1
Luxury Rental Homes                                          1
Speech Recognition Solutions                                 1
Real Estate focused Tech platform                            1
Prepaid Bill manager App                                     1
mobile payment software platform                             1
Online Real Estate Marketplace                               1
Online and TV Shopping Marketplace                           1
Virtual Reality activity based learning platform             1
Online Consumer Lending platform                             1
Real Estate Mobile CRM                                       1
Name: IndustryVertical, Length: 744, dtype: int64

**Grouping based on a single column**

In [87]:
df.groupby('InvestmentType')

In [88]:
df.groupby('InvestmentType')['AmountInUSD'].sum()

InvestmentType
Crowd Funding     1.557680e+05
Debt Funding      7.800000e+06
Other             0.000000e+00
Private Equity    1.800708e+10
Seed Funding      3.323457e+08
Name: AmountInUSD, dtype: float64

In [89]:
df.groupby('CityLocation')['IndustryVertical'].value_counts()

CityLocation         IndustryVertical
0                    0                                                     171
                     Consumer Internet                                       5
                     Mobile Point of Sale payment solution                   1
                     Online Travel Planning                                  1
                     SaaS product intelligence platform                      1
Agra                 eCommerce                                               2
Ahmedabad            Consumer Internet                                      12
                     Technology                                              6
                     eCommerce                                               6
                     Cloud Based Collaboration platform                      1
                     Custom Merchandize platform                             1
                     Enterprise Communication Platform                       1
                     Food & Beverage                                         1
                     Food Customer analytics platform                        1
                     Global Healthcare products                              1
                     Logistics service platform                              1
                     Online Finance lending platform                         1
                     Online Grocers                                          1
                     Online Student & Campus Social Networking platform      1
                     solar products and services marketplace                 1
Bangalore            Consumer Internet                                     232
                     Technology                                            106
                     eCommerce                                              41
                     ECommerce                                              20
                     Healthcare                                              9
                     Logistics                                               6
                     Education                                               5
                     Online Food Delivery                                    3
                     Cab rental Mobile app                                   2
                     Health & Fitness App                                    2
                                                                          ...
Pune / US            Cloud Enterprise Software                               1
                     Data Center Software platform                           1
                     Sales & Productivity Software                           1
Pune/Seattle         Technology                                              1
SFO / Bangalore      Consumer Internet                                       1
Seattle / Bangalore  Consumer Internet                                       1
Siliguri             ECommerce                                               1
                     eCommerce                                               1
Singapore            Technology                                              2
                     Consumer Internet                                       1
                     Digital Media Platform                                  1
                     Movie-on-demand platform                                1
Surat                Technology                                              1
Trivandrum           Consumer Internet                                       1
                     Technology                                              1
US                   Consumer Internet                                       1
US/India             Early Cancer Detection Solutions                        1
USA                  Consumer Internet                                       1
USA/India            Efficient Energy Management platform                    1
Udaipur              Tech-enabled Rural Healthcare Services                  1
Udupi                Mobile App Development                                  1
                     Technology                                              1
Vadodara             Consumer Internet                                       4
                     Ecommerce                                               1
                     Material Collection & Recycling                         1
                     Online Food Ordering Marketplace                        1
                     Product Customization Platform                          1
                     Technology                                              1
Varanasi             Consumer Internet                                       1
bangalore            Consumer Internet                                       1
Name: IndustryVertical, Length: 890, dtype: int64

**Grouping w.r.t. multiple columns**

In [90]:
df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum()

CityLocation           InvestmentType
0                      Crowd Funding     1.557680e+05
                       Private Equity    1.237675e+09
                       Seed Funding      3.403310e+07
Agra                   Seed Funding      0.000000e+00
Ahmedabad              Debt Funding      7.800000e+06
                       Private Equity    8.565000e+07
                       Seed Funding      4.736000e+06
Bangalore              Private Equity    8.289120e+09
                       Seed Funding      9.465411e+07
Bangalore / Palo Alto  Seed Funding      1.000000e+06
Bangalore / SFO        Private Equity    1.350000e+07
                       Seed Funding      1.800000e+06
Bangalore / San Mateo  Private Equity    8.000000e+06
Bangalore / USA        Private Equity    5.000000e+06
Bangalore/ Bangkok     Private Equity    9.900000e+06
Belgaum                Seed Funding      5.000000e+05
Bhopal                 Private Equity    1.800000e+06
                       Seed Funding      1.000000e+05
Boston                 Private Equity    3.000000e+06
Chandigarh             Private Equity    2.500000e+07
                       Seed Funding      1.100000e+06
Chennai                Private Equity    4.020710e+08
                       Seed Funding      9.034000e+06
Chennai/ Singapore     Private Equity    0.000000e+00
Coimbatore             Seed Funding      1.650000e+06
Dallas / Hyderabad     Seed Funding      1.000000e+06
Delhi                  Private Equity    1.000000e+06
                       Seed Funding      0.000000e+00
Goa                    Private Equity    2.000000e+06
                       Seed Funding      3.800000e+05
                                             ...
Noida                  Private Equity    1.590000e+08
                       Seed Funding      1.133800e+07
Noida / Singapore      Seed Funding      3.000000e+05
Panaji                 Seed Funding      8.250000e+05
Pune                   Private Equity    2.731550e+08
                       Seed Funding      8.998000e+06
Pune / Dubai           Seed Funding      1.000000e+06
Pune / Singapore       Private Equity    0.000000e+00
Pune / US              Private Equity    6.850000e+07
Pune/Seattle           Private Equity    1.500000e+07
SFO / Bangalore        Private Equity    2.700000e+06
Seattle / Bangalore    Seed Funding      0.000000e+00
Siliguri               Private Equity    0.000000e+00
                       Seed Funding      0.000000e+00
Singapore              Private Equity    3.000000e+06
                       Seed Funding      8.500000e+05
Surat                  Seed Funding      0.000000e+00
Trivandrum             Private Equity    0.000000e+00
                       Seed Funding      1.000000e+05
US                     Seed Funding      0.000000e+00
US/India               Private Equity    3.000000e+06
USA                    Private Equity    0.000000e+00
USA/India              Private Equity    1.660000e+07
Udaipur                Private Equity    0.000000e+00
Udupi                  Private Equity    1.200000e+07
                       Seed Funding      0.000000e+00
Vadodara               Private Equity    5.000000e+06
                       Seed Funding      1.040000e+06
Varanasi               Seed Funding      5.200000e+04
bangalore              Seed Funding      0.000000e+00
Name: AmountInUSD, Length: 99, dtype: float64

## Resetting Index

In [91]:
type(df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum())

pandas.core.series.Series

In [92]:
df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum().reset_index()

             CityLocation  InvestmentType   AmountInUSD
0                       0   Crowd Funding  1.557680e+05
1                       0  Private Equity  1.237675e+09
2                       0    Seed Funding  3.403310e+07
3                    Agra    Seed Funding  0.000000e+00
4               Ahmedabad    Debt Funding  7.800000e+06
5               Ahmedabad  Private Equity  8.565000e+07
6               Ahmedabad    Seed Funding  4.736000e+06
7               Bangalore  Private Equity  8.289120e+09
8               Bangalore    Seed Funding  9.465411e+07
9   Bangalore / Palo Alto    Seed Funding  1.000000e+06
10        Bangalore / SFO  Private Equity  1.350000e+07
11        Bangalore / SFO    Seed Funding  1.800000e+06
12  Bangalore / San Mateo  Private Equity  8.000000e+06
13        Bangalore / USA  Private Equity  5.000000e+06
14     Bangalore/ Bangkok  Private Equity  9.900000e+06
15                Belgaum    Seed Funding  5.000000e+05
16                 Bhopal  Private Equity  1.800000e+06
17                 Bhopal    Seed Funding  1.000000e+05
18                 Boston  Private Equity  3.000000e+06
19             Chandigarh  Private Equity  2.500000e+07
20             Chandigarh    Seed Funding  1.100000e+06
21                Chennai  Private Equity  4.020710e+08
22                Chennai    Seed Funding  9.034000e+06
23     Chennai/ Singapore  Private Equity  0.000000e+00
24             Coimbatore    Seed Funding  1.650000e+06
25     Dallas / Hyderabad    Seed Funding  1.000000e+06
26                  Delhi  Private Equity  1.000000e+06
27                  Delhi    Seed Funding  0.000000e+00
28                    Goa  Private Equity  2.000000e+06
29                    Goa    Seed Funding  3.800000e+05
..                    ...             ...           ...
69                  Noida  Private Equity  1.590000e+08
70                  Noida    Seed Funding  1.133800e+07
71      Noida / Singapore    Seed Funding  3.000000e+05
72                 Panaji    Seed Funding  8.250000e+05
73                   Pune  Private Equity  2.731550e+08
74                   Pune    Seed Funding  8.998000e+06
75           Pune / Dubai    Seed Funding  1.000000e+06
76       Pune / Singapore  Private Equity  0.000000e+00
77              Pune / US  Private Equity  6.850000e+07
78           Pune/Seattle  Private Equity  1.500000e+07
79        SFO / Bangalore  Private Equity  2.700000e+06
80    Seattle / Bangalore    Seed Funding  0.000000e+00
81               Siliguri  Private Equity  0.000000e+00
82               Siliguri    Seed Funding  0.000000e+00
83              Singapore  Private Equity  3.000000e+06
84              Singapore    Seed Funding  8.500000e+05
85                  Surat    Seed Funding  0.000000e+00
86             Trivandrum  Private Equity  0.000000e+00
87             Trivandrum    Seed Funding  1.000000e+05
88                     US    Seed Funding  0.000000e+00
89               US/India  Private Equity  3.000000e+06
90                    USA  Private Equity  0.000000e+00
91              USA/India  Private Equity  1.660000e+07
92                Udaipur  Private Equity  0.000000e+00
93                  Udupi  Private Equity  1.200000e+07
94                  Udupi    Seed Funding  0.000000e+00
95               Vadodara  Private Equity  5.000000e+06
96               Vadodara    Seed Funding  1.040000e+06
97               Varanasi    Seed Funding  5.200000e+04
98              bangalore    Seed Funding  0.000000e+00

[99 rows x 3 columns]

In [93]:
type(df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum().reset_index())

pandas.core.frame.DataFrame

In [94]:
grouped=df.groupby(['CityLocation', 'InvestmentType'])
grouped.agg({'AmountInUSD':['min','max','mean']})
grouped.agg({'AmountInUSD':{'min':np.min,'mean':np.mean,'max':np.max}})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

                                     AmountInUSD
                                             min          mean         max
CityLocation          InvestmentType
0                     Crowd Funding        30768  7.788400e+04      125000
                      Private Equity           0  1.422615e+07   110000000
                      Seed Funding             0  3.781456e+05     3250000
Agra                  Seed Funding             0  0.000000e+00           0
Ahmedabad             Debt Funding       7800000  7.800000e+06     7800000
                      Private Equity     1000000  7.786364e+06    32000000
                      Seed Funding             0  2.059130e+05     1000000
Bangalore             Private Equity           0  2.726684e+07  1400000000
                      Seed Funding             0  2.930468e+05     7500000
Bangalore / Palo Alto Seed Funding       1000000  1.000000e+06     1000000
Bangalore / SFO       Private Equity    13500000  1.350000e+07    13500000
                      Seed Funding       1800000  1.800000e+06     1800000
Bangalore / San Mateo Private Equity     8000000  8.000000e+06     8000000
Bangalore / USA       Private Equity     5000000  5.000000e+06     5000000
Bangalore/ Bangkok    Private Equity     1900000  4.950000e+06     8000000
Belgaum               Seed Funding        500000  5.000000e+05      500000
Bhopal                Private Equity     1800000  1.800000e+06     1800000
                      Seed Funding        100000  1.000000e+05      100000
Boston                Private Equity     3000000  3.000000e+06     3000000
Chandigarh            Private Equity           0  5.000000e+06    10000000
                      Seed Funding             0  2.200000e+05     1000000
Chennai               Private Equity           0  1.148774e+07    60000000
                      Seed Funding             0  2.914194e+05     1500000
Chennai/ Singapore    Private Equity           0  0.000000e+00           0
Coimbatore            Seed Funding             0  5.500000e+05     1200000
Dallas / Hyderabad    Seed Funding       1000000  1.000000e+06     1000000
Delhi                 Private Equity           0  5.000000e+05     1000000
                      Seed Funding             0  0.000000e+00           0
Goa                   Private Equity           0  6.666667e+05     1000000
                      Seed Funding             0  9.500000e+04      200000
...                                          ...           ...         ...
Noida                 Private Equity           0  4.676471e+06    40000000
                      Seed Funding             0  2.576818e+05     2000000
Noida / Singapore     Seed Funding        300000  3.000000e+05      300000
Panaji                Seed Funding        825000  8.250000e+05      825000
Pune                  Private Equity           0  8.033971e+06    56000000
                      Seed Funding             0  1.799600e+05     1000000
Pune / Dubai          Seed Funding       1000000  1.000000e+06     1000000
Pune / Singapore      Private Equity           0  0.000000e+00           0
Pune / US             Private Equity     6000000  1.712500e+07    35000000
Pune/Seattle          Private Equity    15000000  1.500000e+07    15000000
SFO / Bangalore       Private Equity     2700000  2.700000e+06     2700000
Seattle / Bangalore   Seed Funding             0  0.000000e+00           0
Siliguri              Private Equity           0  0.000000e+00           0
                      Seed Funding             0  0.000000e+00           0
Singapore             Private Equity     3000000  3.000000e+06     3000000
                      Seed Funding             0  2.125000e+05      500000
Surat                 Seed Funding             0  0.000000e+00           0
Trivandrum            Private Equity           0  0.000000e+00           0
                      Seed Funding        100000  1.000000e+05      100000
US                    Seed Funding             0  0.000000e+00           0
US/India              Private Equity     3000000  3.000000e+06     3000000
USA                   Private Equity           0  0.000000e+00           0
USA/India             Private Equity    16600000  1.660000e+07    16600000
Udaipur               Private Equity           0  0.000000e+00           0
Udupi                 Private Equity    12000000  1.200000e+07    12000000
                      Seed Funding             0  0.000000e+00           0
Vadodara              Private Equity     1000000  2.500000e+06     4000000
                      Seed Funding             0  1.485714e+05      450000
Varanasi              Seed Funding         52000  5.200000e+04       52000
bangalore             Seed Funding             0  0.000000e+00           0

[99 rows x 3 columns]

In [95]:
df.dtypes

SNo                          int64
Date                datetime64[ns]
StartupName                 object
IndustryVertical            object
SubVertical                 object
CityLocation                object
InvestorsName               object
InvestmentType              object
AmountInUSD                  int32
Remarks                     object
month                      float64
dtype: object

In [96]:
new = df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum().reset_index()
new['CityLocation'] = new['CityLocation'].str.replace('0', 'Other')
new

             CityLocation  InvestmentType   AmountInUSD
0                   Other   Crowd Funding  1.557680e+05
1                   Other  Private Equity  1.237675e+09
2                   Other    Seed Funding  3.403310e+07
3                    Agra    Seed Funding  0.000000e+00
4               Ahmedabad    Debt Funding  7.800000e+06
5               Ahmedabad  Private Equity  8.565000e+07
6               Ahmedabad    Seed Funding  4.736000e+06
7               Bangalore  Private Equity  8.289120e+09
8               Bangalore    Seed Funding  9.465411e+07
9   Bangalore / Palo Alto    Seed Funding  1.000000e+06
10        Bangalore / SFO  Private Equity  1.350000e+07
11        Bangalore / SFO    Seed Funding  1.800000e+06
12  Bangalore / San Mateo  Private Equity  8.000000e+06
13        Bangalore / USA  Private Equity  5.000000e+06
14     Bangalore/ Bangkok  Private Equity  9.900000e+06
15                Belgaum    Seed Funding  5.000000e+05
16                 Bhopal  Private Equity  1.800000e+06
17                 Bhopal    Seed Funding  1.000000e+05
18                 Boston  Private Equity  3.000000e+06
19             Chandigarh  Private Equity  2.500000e+07
20             Chandigarh    Seed Funding  1.100000e+06
21                Chennai  Private Equity  4.020710e+08
22                Chennai    Seed Funding  9.034000e+06
23     Chennai/ Singapore  Private Equity  0.000000e+00
24             Coimbatore    Seed Funding  1.650000e+06
25     Dallas / Hyderabad    Seed Funding  1.000000e+06
26                  Delhi  Private Equity  1.000000e+06
27                  Delhi    Seed Funding  0.000000e+00
28                    Goa  Private Equity  2.000000e+06
29                    Goa    Seed Funding  3.800000e+05
..                    ...             ...           ...
69                  Noida  Private Equity  1.590000e+08
70                  Noida    Seed Funding  1.133800e+07
71      Noida / Singapore    Seed Funding  3.000000e+05
72                 Panaji    Seed Funding  8.250000e+05
73                   Pune  Private Equity  2.731550e+08
74                   Pune    Seed Funding  8.998000e+06
75           Pune / Dubai    Seed Funding  1.000000e+06
76       Pune / Singapore  Private Equity  0.000000e+00
77              Pune / US  Private Equity  6.850000e+07
78           Pune/Seattle  Private Equity  1.500000e+07
79        SFO / Bangalore  Private Equity  2.700000e+06
80    Seattle / Bangalore    Seed Funding  0.000000e+00
81               Siliguri  Private Equity  0.000000e+00
82               Siliguri    Seed Funding  0.000000e+00
83              Singapore  Private Equity  3.000000e+06
84              Singapore    Seed Funding  8.500000e+05
85                  Surat    Seed Funding  0.000000e+00
86             Trivandrum  Private Equity  0.000000e+00
87             Trivandrum    Seed Funding  1.000000e+05
88                     US    Seed Funding  0.000000e+00
89               US/India  Private Equity  3.000000e+06
90                    USA  Private Equity  0.000000e+00
91              USA/India  Private Equity  1.660000e+07
92                Udaipur  Private Equity  0.000000e+00
93                  Udupi  Private Equity  1.200000e+07
94                  Udupi    Seed Funding  0.000000e+00
95               Vadodara  Private Equity  5.000000e+06
96               Vadodara    Seed Funding  1.040000e+06
97               Varanasi    Seed Funding  5.200000e+04
98              bangalore    Seed Funding  0.000000e+00

[99 rows x 3 columns]

## Pivoting & Melting

**Pivoting**

In [97]:
new.fillna('0',inplace=True)
new

             CityLocation  InvestmentType   AmountInUSD
0                   Other   Crowd Funding  1.557680e+05
1                   Other  Private Equity  1.237675e+09
2                   Other    Seed Funding  3.403310e+07
3                    Agra    Seed Funding  0.000000e+00
4               Ahmedabad    Debt Funding  7.800000e+06
5               Ahmedabad  Private Equity  8.565000e+07
6               Ahmedabad    Seed Funding  4.736000e+06
7               Bangalore  Private Equity  8.289120e+09
8               Bangalore    Seed Funding  9.465411e+07
9   Bangalore / Palo Alto    Seed Funding  1.000000e+06
10        Bangalore / SFO  Private Equity  1.350000e+07
11        Bangalore / SFO    Seed Funding  1.800000e+06
12  Bangalore / San Mateo  Private Equity  8.000000e+06
13        Bangalore / USA  Private Equity  5.000000e+06
14     Bangalore/ Bangkok  Private Equity  9.900000e+06
15                Belgaum    Seed Funding  5.000000e+05
16                 Bhopal  Private Equity  1.800000e+06
17                 Bhopal    Seed Funding  1.000000e+05
18                 Boston  Private Equity  3.000000e+06
19             Chandigarh  Private Equity  2.500000e+07
20             Chandigarh    Seed Funding  1.100000e+06
21                Chennai  Private Equity  4.020710e+08
22                Chennai    Seed Funding  9.034000e+06
23     Chennai/ Singapore  Private Equity  0.000000e+00
24             Coimbatore    Seed Funding  1.650000e+06
25     Dallas / Hyderabad    Seed Funding  1.000000e+06
26                  Delhi  Private Equity  1.000000e+06
27                  Delhi    Seed Funding  0.000000e+00
28                    Goa  Private Equity  2.000000e+06
29                    Goa    Seed Funding  3.800000e+05
..                    ...             ...           ...
69                  Noida  Private Equity  1.590000e+08
70                  Noida    Seed Funding  1.133800e+07
71      Noida / Singapore    Seed Funding  3.000000e+05
72                 Panaji    Seed Funding  8.250000e+05
73                   Pune  Private Equity  2.731550e+08
74                   Pune    Seed Funding  8.998000e+06
75           Pune / Dubai    Seed Funding  1.000000e+06
76       Pune / Singapore  Private Equity  0.000000e+00
77              Pune / US  Private Equity  6.850000e+07
78           Pune/Seattle  Private Equity  1.500000e+07
79        SFO / Bangalore  Private Equity  2.700000e+06
80    Seattle / Bangalore    Seed Funding  0.000000e+00
81               Siliguri  Private Equity  0.000000e+00
82               Siliguri    Seed Funding  0.000000e+00
83              Singapore  Private Equity  3.000000e+06
84              Singapore    Seed Funding  8.500000e+05
85                  Surat    Seed Funding  0.000000e+00
86             Trivandrum  Private Equity  0.000000e+00
87             Trivandrum    Seed Funding  1.000000e+05
88                     US    Seed Funding  0.000000e+00
89               US/India  Private Equity  3.000000e+06
90                    USA  Private Equity  0.000000e+00
91              USA/India  Private Equity  1.660000e+07
92                Udaipur  Private Equity  0.000000e+00
93                  Udupi  Private Equity  1.200000e+07
94                  Udupi    Seed Funding  0.000000e+00
95               Vadodara  Private Equity  5.000000e+06
96               Vadodara    Seed Funding  1.040000e+06
97               Varanasi    Seed Funding  5.200000e+04
98              bangalore    Seed Funding  0.000000e+00

[99 rows x 3 columns]

In [107]:
pivoted=pd.pivot_table(new,index='InvestmentType', columns='CityLocation', values='AmountInUSD',aggfunc='sum',fill_value=0)

In [108]:
pivoted

CityLocation,Agra,Ahmedabad,Bangalore,Bangalore / Palo Alto,Bangalore / SFO,Bangalore / San Mateo,Bangalore / USA,Bangalore/ Bangkok,Belgaum,Bhopal,...,Trivandrum,US,US/India,USA,USA/India,Udaipur,Udupi,Vadodara,Varanasi,bangalore
InvestmentType,,,,,,,,,,,,,,,,,,,,,
Crowd Funding,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Debt Funding,0,7800000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Other,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Private Equity,0,85650000,8289120000,0,13500000,8000000,5000000,9900000,0,1800000,...,0,0,3000000,0,16600000,0,12000000,5000000,0,0
Seed Funding,0,4736000,94654108,1000000,1800000,0,0,0,500000,100000,...,100000,0,0,0,0,0,0,1040000,52000,0

In [111]:
a=pivoted.reset_index()

**Melting**

In [112]:
pd.melt(a, id_vars=['InvestmentType'], value_vars=['Agra','Ahmedabad'], value_name='Amount')

   InvestmentType CityLocation    Amount
0   Crowd Funding         Agra         0
1    Debt Funding         Agra         0
2           Other         Agra         0
3  Private Equity         Agra         0
4    Seed Funding         Agra         0
5   Crowd Funding    Ahmedabad         0
6    Debt Funding    Ahmedabad   7800000
7           Other    Ahmedabad         0
8  Private Equity    Ahmedabad  85650000
9    Seed Funding    Ahmedabad   4736000

## Column / Row Concatenation

In [113]:
df.columns

Index(['SNo', 'Date', 'StartupName', 'IndustryVertical', 'SubVertical',
       'CityLocation', 'InvestorsName', 'InvestmentType', 'AmountInUSD',
       'Remarks', 'month'],
      dtype='object')

In [114]:
part1 = df[['SNo', 'Date', 'StartupName']]
part2 = df[['InvestorsName', 'InvestmentType']]
print(part1.shape)
part1.head()

(2372, 3)

   SNo       Date   StartupName
0    0 2017-08-01      TouchKin
1    1 2017-08-02       Ethinos
2    2 2017-08-02  Leverage Edu
3    3 2017-08-02          Zepo
4    4 2017-08-02  Click2Clinic

In [115]:
print(part2.shape)
part2.head()

(2372, 2)

                                       InvestorsName  InvestmentType
0                                        Kae Capital  Private Equity
1                         Triton Investment Advisors  Private Equity
2  Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...    Seed Funding
3  Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...    Seed Funding
4                     Narottam Thudi, Shireesh Palle    Seed Funding

In [116]:
pd.concat([part1, part2], axis=1)

,SNo,Date,StartupName,InvestorsName,InvestmentType
0,0,2017-08-01,TouchKin,Kae Capital,Private Equity
1,1,2017-08-02,Ethinos,Triton Investment Advisors,Private Equity
2,2,2017-08-02,Leverage Edu,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding
3,3,2017-08-02,Zepo,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding
4,4,2017-08-02,Click2Clinic,"Narottam Thudi, Shireesh Palle",Seed Funding
5,5,2017-07-01,Billion Loans,Reliance Corporate Advisory Services Ltd,Seed Funding
6,6,2017-07-03,Ecolibriumenergy,"Infuse Ventures, JLL",Private Equity
7,7,2017-07-04,Droom,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity
8,8,2017-07-05,Jumbotail,"Kalaari Capital, Nexus India Capital Advisors",Private Equity
9,9,2017-07-05,Moglix,"International Finance Corporation, Rocketship,...",Private Equity
10,10,2017-07-05,Timesaverz,BCCL,Private Equity
11,11,2017-07-06,Minjar,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding
12,12,2017-07-06,MyCity4kids,0,Seed Funding
13,13,2017-07-07,Clip App,"India Quotient, Shunwei Capital",Seed Funding
14,14,2017-07-07,Upwardly.in,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding
15,15,2017-07-10,Autorox.co,Mitsui & Co.,Private Equity
16,16,2017-07-11,Fabogo,Dunamis Ventures Pte Ltd,Private Equity
17,17,2017-07-11,Flickstree,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding
18,18,2017-07-11,Design Cafe,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding
19,19,2017-07-12,Innoviti,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity
20,20,2017-07-12,VDeliver,"Corvus Ventures, MAPE Advisory Group",Private Equity
21,21,2017-07-12,Bottr.me,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding
22,22,2017-07-12,Arcatron,Indian Angel Network,Seed Funding
23,23,2017-07-14,QwikSpec,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding
24,24,2017-07-14,Chumbak,Blacksoil Capital Pvt. Ltd,Private Equity
25,25,2017-07-17,Increff,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding
26,26,2017-07-17,Vayana,"IDG Ventures India Advisors, Jungle Ventures",Private Equity
27,27,2017-07-18,MObiquest,One97 Communication Ltd,Private Equity
28,28,2017-07-18,Ambee,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding
29,29,2017-07-18,Ideal Insurance,Xelpmoc,Seed Funding
...,...,...,...,...,...
2342,2342,2015-01-19,Refiral,Cogent E Services,Seed Funding
2343,2343,2015-01-19,Ping Digital,Consortium of Angel Investors,Seed Funding
2344,2344,2015-01-19,HealthyWorld.in,Group of Angel Investors,Seed Funding
2345,2345,2015-01-19,Hostel Dunia,Hyderabad Angels (at Startup Heroes event),Seed Funding
2346,2346,2015-01-19,Play your sport,Hyderabad Angels (at Startup Heroes event),Seed Funding
2347,2347,2015-01-19,Yo Grad,Hyderabad Angels (at Startup Heroes event),Seed Funding
2348,2348,2015-01-19,Enabli,Hyderabad Angels (at Startup Heroes event),Seed Funding
2349,2349,2015-01-19,CBS,Hyderabad Angels (at Startup Heroes event),Seed Funding
2350,2350,2015-01-20,Hopscotch,Eduardo Saverin & Velos Capital,Private Equity
2351,2351,2015-01-20,Amagi Media Labs,Premji Invest & Mayfield Fund,Private Equity
2352,2352,2015-01-20,HealthyWorld.in,Group of Angel Investors,Seed Funding
2353,2353,2015-01-21,Simplilearn,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity
2354,2354,2015-01-21,MyDreamStore,Undisclosed Investors,Seed Funding
2355,2355,2015-05-21,Knit,"Rohit Jain, Amit Rambhia & Others",Seed Funding
2356,2356,2015-05-21,Villgro,Michael & Susan Dell Foundation,Seed Funding
2357,2357,2015-01-22,Corporate360,Group of Angel Investors,Seed Funding
2358,2358,2015-01-22,Freshmonk,"August Capital Partners, Michael Blakey",Seed Funding
2359,2359,2015-01-22,Englishleap.com,ANALEC,Private Equity
2360,2360,2015-01-22,Antuit,"Goldman Sachs, Zodius Capital",Private Equity
2361,2361,2015-01-22,Caratlane.com,Tiger Global,Private Equity
2362,2362,2015-01-24,Aasaanjobs,"Inventus Capital Partners, IDG Ventures",Seed Funding
2363,2363,2015-01-24,Impartus,Kaizen Private Equity,Private Equity
2364,2364,2015-01-25,Thrill App,People Group (Shaadi.com),Private Equity
2365,2365,2015-01-27,CarDekho.com,"Hillhouse Capital, Tybourne Capital",Private Equity
2366,2366,2015-01-28,Grabhouse.com,"Kalaari Capital, Sequoia Capital",Private Equity
2367,2367,2015-01-29,Printvenue,Asia Pacific Internet Group,Private Equity
2368,2368,2015-01-29,Graphene,KARSEMVEN Fund,Private Equity
2369,2369,2015-01-30,Mad Street Den,"Exfinity Fund, GrowX Ventures.",Private Equity
2370,2370,2015-01-30,Simplotel,MakeMyTrip,Private Equity
2371,2371,2015-01-31,couponmachine.in,UK based Group of Angel Investors,Seed Funding

**Rows Concatenation**

In [117]:
rows1 = df[:3]
rows2 = df[5:7]
print(rows1.shape)
rows1

(3, 11)

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks,month
0,0,2017-08-01,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000,0,8.0
1,1,2017-08-02,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,0,0,8.0
2,2,2017-08-02,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,0,0,8.0

In [118]:
print(rows2.shape)
rows2

(2, 11)

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks,month
5,5,2017-07-01,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,1000000,0,7.0
6,6,2017-07-03,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,2600000,0,7.0

In [119]:
pd.concat([rows1, rows2], axis=0)

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks,month
0,0,2017-08-01,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000,0,8.0
1,1,2017-08-02,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,0,0,8.0
2,2,2017-08-02,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,0,0,8.0
5,5,2017-07-01,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,1000000,0,7.0
6,6,2017-07-03,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,2600000,0,7.0

## Looping through DataFrame

#### Using Simple for loop

In [120]:
import time
start = time.time()
for x in df['StartupName']:
    print(x)
end = time.time()
print(end - start)

TouchKin
Ethinos
Leverage Edu
Zepo
Click2Clinic
Billion Loans
Ecolibriumenergy
Droom
Jumbotail
Moglix
Timesaverz
Minjar
MyCity4kids
Clip App
Upwardly.in
Autorox.co
Fabogo
Flickstree
Design Cafe
Innoviti
VDeliver
Bottr.me
Arcatron
QwikSpec
Chumbak
Increff
Vayana
MObiquest
Ambee
Ideal Insurance
Hypernova Interactive
Rentomojo
AirCTO
Playablo
Trupay
Brick2Wall
FableStreet
Monsoon Fintech
MonkeyBox
Noticeboard
Byju’s
Creator’s Gurukul
Fab Hotels
ThinkerBell
1mg
Jhakaas
BigStylist
Gympik.com
Tripeur
RentOnGo
Goomo
MaxMyWealth
Spinny
Healthbuds
Ftcash
BHIVE Workspace
wayForward
GyanDhan
Hungry Foal
ZipLoan
GrowFitter
Stratfit
Multiplier Solutions
ABI Health
Stockal
Guidoo
eSahai.in
Loanmeet
LendingKart
Boxx.ai
PeeSafe.in
Vista Rooms
CoverFox
HyperTrack
Goodera
Digit
Ola
Vanitycask
MrNeeds
MoneyTap
Goodbox
Fincash
PortDesk
EdgeFx
EazyDiner
HealthIntel
Unbxd
DarwinBox
ForeverShop
Insider.in
Fynd
Grow Fit
Fabulyst
mSwipe
OneAssist
Julia Computing
Kissht
Explore Life traveling
Loantap
Voxweb
HUG Innovations
Flipkart
V Resorts
Stashfin
Formcept
Spares Hub
FiTraQ
Rubique
Niki.ai
Fitpass
ZingHR
Tagos Design
UrbanClap
Ace2three
Power2SME
Innovapptive
4tigo
SMECorner
ZippServe
Ola
Sumeru
Healthians
HealthMir
Uactive
i-lend
Good Methods Global
Balance App
YepMe
Nightstay
Devourin
MyGreens
Ace Turtle
CureFit
Curie Labs
Uncanny Vision
Anchanto
Sequretek
Lucideus
Vidooly
Shopclues
Fourth Ambit
Chymera VR
Early Salary
Book My Diamond
ION Energy
Legal Raasta
Log 9 Materials
Remit Guru
Aequm
Zapty
Vernacular.ai
Niki.ai
Telr
Fynd
Genie
Paysense
The Good Life
PumpKart
Paytm
EzCred
HealthSutra
YepMe
Delhivery
ZipGrid
TravelSpice
Magicpin
The Print
Box8
GenNext Students
Aye Finance
WhatsLoan
Cube Consumer Services
Nivesh
Wowflux
Collateral Medical
Loadshare
SimpliLend
Supr Daily
Swiggy
SastaSundar
Magicpin
Cashe
Eruditus
TestBook
Healthcare at Home
Tyre Express
SmartCoin
WayCool
Perfios
Whatfix
ElastiRun
Trukky
Konsult App
Credit Sudhaar
Fingerlix
DataWeave
Medwell Ventures
Mech Mocha
Startup Buddy
QorQI
Twenty Two Motors
PharmEasy
WonderChef
FastFox
Omnify
Capital Float
Ninjacart
MergerWare
Sports Flashes
Clovia
Emiza
HackerEarth
Squadrun
Tinmen
ScoutMyTrip
SafetyKart
WeAreHolidays
Ola Cabs
Myly
CrediHealth
Navia Life Care
Raw Pressery
Snackible
Be U Salons
Simulanis
LendingKart
Innefu Security Consulting
Whodat
Absentia VR
IOTrek
HolaChef
Wooplr
Video Ken
Faasos
Oyo Rooms
Toppr
Niramai
The Office Pass
UrbanClap
Awfis
Myra
Flytxt
Howdy Ventures
StalkBuyLove
ZipGo
Scootsy
Autobix
eShiksha
iNurture
Sepalika
Mintwalk
Qriyo
Ola
Belong
Seenit
Paalak
Celes Care
Karomi
Red Carpet
Kreate Konnect
CreditMantri
Lets Endorse
Tydy
Nactus
Oho Shop
Emojifi
Paytm Marketplace
iGenetics
Juno Clinic
Summerlabel
PickMe
Agrostar
Zapr
Data Resolve
Book Servicing
Blowhorn
Rivigo
PipeCandy
Supr Daily
Parentune
AppBrowzer
MagicBricks
PeeBuddy
iOrderFresh
Lavelle Networks
PropertyShare
MyDermacy
LatestOne
Frapperz
mPaani
ShilpMIS
POPxo
Fitso
FarMart
Flipkart
Airpay
MyGlamm
The Mons Co.
Haqdarshak
Ixigo
Markets and Markets
Bizom
BabyonBoard
Delhivery
Sport Flashes
Fynd
Wigzo
DoneThing
Zapyle
Ithaka
perpule
Byju’s
Licious
Medinfi
Indus OS
Emflux Motors
Klinic App
Jhakaas
Oriano Solar
BigBasket
Rooter
FalconBrick
Icertis
Clodura
Stockroom.io
Capital Float
iManageMyHotel
Inner Hour
Travel Triangle
Wandertrails
Zenatix
Cartrade
MindYourFleet
Edurev
Voonik
1Crowd
Wooplr
48East
Redesyn
Sigtuple
Flutura
Wassup
Better Mortgage
Nurturey
Fyle
GoBumpr
CCAvenue
Connaizen
Innov8
ZestMoney
AirZaar
Truebil
YourStory
Imaginate
The Ken
Urban Ladder
Aisle
TownScript
Leopetra
Blood n Care
Flipkart
True Balance
Vebbler
Get My Parking
Lets Reap
Oglas
Staydobe
Biryani By Kilo
Johari Shop
NeoStencil
Blackbuck
TaxSutra
TempoGo
GoFynd
Vow Car Clinic
LearnTron
MobiDent
Yostra
Leap India
FreeCharge
TicketNew
Intelligence Node
Securens
Loan Frame
DriveSkool
Medinfi
LensKart
InstaOffice
Hansel.io
Square Yards
Roambee
PaisaWapas
iService
Unacademy
SecururAX
Leadburg
ZoloStays
Oi Media
HipCouch
Curiositi
TinyStep
Practo
Ketchupp
Hoopy
Ezytruk
Kratikal
Direct Create
Vahdam Teas
Qwikspec
PParke
Weddingz.in
Native Special
Fitnapp
Ethosh
Wydr
Tyre Express
Connaizen
MessaGif
SmartHi
CRON Systems
CueMath
ChipperSage
SelectJobs
Khel Now
NowFloats
Lets Transport
BetaOut
Wishberry
RML Agtech
LoyaltyPrime
InstaSafe
Infibeam
99Games
AirMed Labs
99PerHour
Kochi Post
Intuit Things
Cloudrino
FabX
Maptags
YOLO Health
Heads Up For Tails
Register My Marriage
SidQam
India Lends
Slide App
Badiyajobs
Streo
TYGR
Mr Hot Foods
UrDoorStep
ONN Bikes
Diro Labs
THB
LookAtMe
Netree
BookEventz
Tailslife
Revv
WealthApp
Vehico
Zest Money
GoMechanic
Stalk Buy Love
Nykaa
Wittyparot
NeuroEquilibrium
Xseed Education
Rupaiya Exchange
Doctor Insta
UrbanPiper
Fresh Food Concepts
Indifi
GoComet
OfBusiness
Fitmein
Qacco
Fitpass
MoEngage
Ten3t Health
Trading Bells
SERV’D
IdeaForge
Amagi Media Labs
Pocket Aces
Pi Data Centers
TripShelf
Events High
NoBroker
VivoCarat
Tiyo
Zoomcar
BYJU’s
Supr Daily
The BlueBook
MamaEarth
Vegetall
Innoplexus
Mindler
MCaffeine
enKast
ShopKirana
MyAdvo
Asocon
LexComply
The Postbox
Pandorum Technologies
Dekkho
Shadowfox
ShopX
BookEventz
Healthifyme
LetsMD
Justbooks
InstantPay
PickMyLaundry
FreshDesk
LaundryAnna
LetsMD
Sattviko
Zarget
DoSelect
EasyPolicy
Browntape
Connect India
Corseco
vImmune
The Gourmet Jar
Medzin
Bizongo
Rivigo
JustRide
IIM Jobs
Square Yards
GolfLAN
Yottaasys
Tone Tag
Life in Control
Active.ai
ElasticRun
NoBroker
Zefo
PlaySimple
Stasis Labs
Scienaptic
Koovs
Lawrato
Trip Tap Toe
Pictor Imaging
GramCover
AerMed
WorkIndia
Bats on delivery
numberz.in
Housing.com
Awesummly
VoLT
Vymo
ShubhLoans
Noddapp
Knowlarity
Infisecure
Udaan
FroyoFit
Betterplace
ShareChat
UClean
Servify
Hubilo
FunOnGo
121Policy
TapChief
Kloseby
WholeSaleBox
Crossahead
Affordplan
HandyTrain
ShopsUp
Indofash
Entropika
MarianaIQ
Chai Thela
Interviewpad
Math Buddy
Pulse
MonkeyBox
Carcrew.in
MeraKisan
Mystifly
HelpChat
Uniphore
World Art Community
Giftxoxo
Bharat Bazaar
GOQii
India Gifts Portal
Moglix
NetLinx
Scandid
Remitr
InnerChef
AppsDaily
MuhurtMaza
Azuro
NeuroSynaptic
UE LifeSciences
FindmeaShoe
RealBox
Sportido
GoZefo
RayIOT
KOOH Sports
Flexiloans
Sibia Analytics
Vithi.com
Yupp TV
Deyor Camps
ZipLoan
FabAlley
Shoekonnect
Maya
RoboVac
Newspatrolling
Postman
ISFC
BeatRoute
Kidsstoppress
Innov8
DailyHunt
Tazzo Bikes
MyKindofJob
Trilyo
Rooter
Yumigo
Rentalpha
3Dexter
BabyChakra
Coppre
MySUN
ePathsala
Furlenco
Fisdom
Actofit
Stayology
Hipcask
RailYatri
ChatOnGo
WOTU
Healthians
Box8
Kredx
CreditMate
Pickrr
SatvaKart
SooperMO
OrangeTwig
Wooplr
The Kettlery
Idea Bubbles
FR8
Ather Energy
Pikkol
Velmenni
Volta Motors
Cyclops
Impact Analytics
Talent Next
Mad Street Den
Mihup
Renowala
Lucideus
Trackbizz
Social Quotient
Stalk Buy Love
eShakti
CheersOye!
Lenskart
BigStylist
Zilingo
Alternacare
Simplilearn
Prozo
TopRankers
BuildTraders
Byju’s
NoBroker
Freshboxx
CureInstant
Poshtic
KarmaCircles
Purple Style Labs
Inuxu
Nykaa
Glam Studios
Findow
IdeaChakki
ShoeKonnect
NearBuy
ZeroInfy
Flocareer
LensPick
infeedo
Furlenco
GoPigeon
NewsDistill
DoctorInsta
Milofy
Liqvid
Swiggy
Codemojo
JustLikeNew
JoeHukum
Co Life
PurpleDocs
Pepperfry
eQuickies
Khel Now
Gadgetwood
DailyRounds
Flixy Games
HashTaag
PharmaRack
CloudCherry
Parentlane
First Moms Club
inMotion
Let’s Barter
EvenGini
TinyStep
Canvs
Beardo
Instacar
Celes Care
Druva
Promon
Fastudent
Unocoin
Demyto
Zeta
Kalaage
HealthKart
Medinfi
RepairEasy
Voonik
Tokri
Sheroes
Daily Ninja
Yumlane
Xcode
ExtraCarbon
FlickBay
Petoo
lehlehsports
Tricog
VST Travels
AdPushUp
Wefly Indoor Skydiving
Mojarto
Zipgrid
MobiDent
Zeolr/RespirON
Vebbler
Bombay Shaving Company
Travelyaari
91SpringBoard
Genextstudents
Zenoti
Crofarm
Faircent.com
Innovaccer
Cuberoot
Funcastic
Buttercups
Zappfresh
OyoRooms
Hike
Joolz
SaleBhai
Makkajai
Gradopedia
MaalGaadi
ZiPi
Appknox
Pikkol
Meesho
Sesame Software
Quikr
Digio
Ziffity
Zzungry
Puro Wellness
Fitternity
TAC Security
Notesgen
NearU
Octo.ai
ShaadiSaga
UnaAcademy
Advenio
Guarented
Beyond Evolution
Uber Dreams
Convegenius
UrbanLadder
enCashea
EngineerBabu
Cult
WitWorks
NearFox
ZoomCar
Plix
Mobikwik
MyDidi
CrownIt
LoanTap
Runnr
Zolo
Notion Press
LivSpace
iAugmentor Labs
DayBox
Paytm
CropIn
Canvera
Prime Focus Technologies
Flyrobe
inclov
RazorPay
DarwinBox
Venture Catalysts
PressPlay TV
Playment
WealthTrust
Curefit
StitchWood
Grab.in
Fulfil.IO
NeoGrowth
SeeDoc
BookMyShow
Flyrobe
HappilyUnmarried
Don’t Scratch Your Head
Wedding Wishlist
AppDaily
Adytude
Quickli
SpectraVR
Pitstop
HolaChef
Purplle
Trak N Tell
Overcart.com
SirionLabs
GyanDhan
MintM
HitGrit
Find My Stay
YAAP
Utoo Cabs
Twigly
ShareChat
Urban Tailor
RentMojo
CityFurnish
HEAL Institute
Augrav
ShoppinPal
TransTutors / AskIITians
WorkApps
BankerBay
BaggOut
TripShelf
SatvaCart
Ridlr
Yellowdig
Zuppler
BlueStone
underDOGS
ImageProVision
Sagacito
Deal4Loans / Wishfin
NiYO Solutions
AppLop
Tax2Win
Truckola
iServe Financial
MyTaxiIndia
AbeRuk
Wiwigo
Drums Food
Chikoop
BRIDGEi2I
Droom
Visit
Atomberg
Coutloot
Limo
iCliniq
GoGo Truck
Vyome Biosciences
SillyMonks
CueMath
KrazyBee
Intgrea
HelpShift
CreditVidya
Grey Campus
ListUp
6Degree
Shopwati
Cookifi
StoreKing
Wired Hub
MySeniorDoctor
Teabox
ExtraaEdge
EPayLater
Kyazoonga
Paytunes
Kickstart Jobs
Freshee
MadRat Games
Jazzmyride
AutoSense
Redsun Telematics
KhanaGadi
Bombay Shirt Company
Matrubharti
EdTechReview
Bonhomia
Gobolt
Jivox
Sminq
CureJoy
Oneway.cab
GrabOnRent
Diro Labs
Unnati Helpers
Athletto
Saavn
Voonik
ThinkPhi
Cleartax
Silvan Innovation Labs
GreytHR
Duffl
BYG
Dipper
Qonfuse
The Indian IRIS
Onspoon
REstate
Cleartrip
ProcMart
Celerix
NatureNama
CyclopsMedtech
Syona Cosmetics
PrettySecrets
SpiderG
FarEye
The Uolo
Staqu
Padhopadhao
Drivify
PratiLipi
ParaBlu
Schedulers Logistics
LEAP India
KabadiExpress
YourDost
Gomalon
Voler Cars
Travelyaari
FabHotels
Locanix
LendingKart
Hello Tax
MySuperBrain
BlogBeats
LetReach
TrendieApp
ImpactGuru
Velvetcase
Meru Cabs
Campus Diaries
Scripbox
Biryani Blues
MotoMojo
Get My Parking
Prescribez
Airwood
Mobikwik
iDreamCareer
Zwayam
BoiBanit
Zuver
Prepathon
EasyRoads
Lenskart
Seclore
SolarTown
Comarete
MyDentistChoice
Active.ai
Affordplan
Indee
Unbxd
WebAlligator
EduAce Services
Meesho
Zebroads
Locus
Toko Innovations
Rentickle
HealthifyMe
Zarget
InnoNano Research
SchoolWear
Swiggy
Zenify
Faircent
Fractal Analytics
Unacademy
Capital Float
Life Circle
Dream Wallets
ShabdNagari
Galleri5
Derbii
StayZilla
WoW Express
Smartivity
BedBathMore
Murgency
Crownit
Blinge
TheSmartQ
PurpleHealth
Fundamentor
EduPristine
BhiveWorkspace
Parentlane
Appie
Niki.ai
TaxiVaxi
Veqta
i2ifunding
EduRev
Hoppingo
Eatonomist
Goalwise
Roast
Address Health
Arcatron Mobility
SheThePeople
Cleartax
Consure Medical
mChamp
Pianta
Vahanalytics
Play Your Sport
Koovs
CCavenue
1mg
Tpot
MachaDalo
Dil Mil
PicsDream
Process 9
Housing
Roll Mafia
Hungama
Highway Delite
Cult Fitness
Haptik
Servify
Shipsy
gear6
MyGlamm
Petoo
Truly Social
Little Black Book
Vahan
imedilane
Living Local
Vegfru
Oyo
PriceRaja
MagicX
Happydemic
LenDenClub
Indi.com
Legalraasta
RainCan
Hippily
kredX
Wedwise
BeaconsTalk
Deal 4Loans
RenewBuy
Blue Box Media
Vyomo
Organicshop
MInd Your Fleet
NestAway
Tapchief
Rapido
Yufta
Smytten
Houssup
Jugnoo
Tork Motocycles
Betaout
DriversCart
LensKart
CollegeDekho
OYOfit
Oliveboard
Simplilearn
1mg
Fashalot
Broomberg
m.paani
Yufta
mishTag
Advanced Structures India
Licious
Knolskae
Druva
TOKO Innovation Studios
Commut
intouchapp
Dropkaffe
Transerv
ClearTax
Roposo
MilkBasket
CareonGO
RailYatri
ICHR
Murgency
The Wedding Brigade
DocsApp
Impact Guru
LetReach
DriveU
Gympik
Testbook
IQlect
MoMark
Skedool
Systemantics
Vertuals
Imarticus Learning
Shouut
TinyStep
Aahaa
Arcatron Mobility
FTCash
Civilsdaily
Zappka
Tarusa World
medECUBE
N.O.W
Ninjacart
Reach
Vanity Cube
Wooplr
Medidaili
Finomena
Cookaroo
vPhrase Analytics
LoveCycles
Kartrocket
dunzo
Indiamart
SmartVizX
MyGubbi
Nukkad Shops
Cloudacar
Justride
Yana
Big Fish Ventures
Stylflip
Icertis
Supplified
JollyFoodFellow
PinkBlue
TruckingCube
eSwasthya
FlipClass
Proximit
WithMe
Gapoon
Avagmah
WorkIndia
Wealthy
Pramati
Qlivery
HealthEnablr
Liftiee
Hello Curry
goSporto
OneClickWash
Girnar Software
Room On Call
Byju’s
BigBasket
DrivoJoy
Smartron
LifCare
CreditSeva
CityShor
Endless Robotics
SP Robotics
StalkBuyLove
eKincare
HashLearn
Wheelstreet
Horntell
Schoolkart
HealthEminds
Babygogo
Veritas Finance
QikShip
FixNix
True Balance
Touchkin
SwitchMe
Transcell
Blue Tokai Coffee
Altizone
Oust App
Strike
MaaxMarket
Gamooz
SoundSurround
Mazkara
RoadGods
Pindropmusic
Woodpie
Perfumery
Magic Crate
ZenDrive
Smartcooky
Turtlemint
BHIVE
Gingercrush
American Vision
DawaiLelo
Heads Up For Tails
LiveNutriFit
Moglix
iStyleYou
AdUrCup
Weddingz
Urban Dhobi
Gray Routes
Xpressbees
Invictus Oncology
Hansel.io
Inc42
GOQii
Capzest
GlamStudios
Affimity
Anandakanda
JoulestoWatts
Shopkirana
Stylofie
OyBob
ActOnMagic
Bonhomia
iGrenEnergi
RKSV
Aasaanjobs
Snapdeal
Jugnoo
Snapbizz
GoYaNo
RentSher
Buddy
Legistify
TableHero
BetterPlace
Salebhai
icustommadeit
Tring
Medinfi
Timemytask
GameZop
Notary Mama
The Viral Fever
Avanti Learning
Bollant Industries
GetVee
HealthKumbh
Unlaze
Tracxn
Careongo
Ark Robot
Jaypore
Finance Buddha
AlmaConnect
Advantage Club
LocalRamu
Baby Berry
Magicpin
First Eat
SigTuple
Taskbob
Styledotme
NewsLaundry
CupoNation
Aarav UAV
Sayfix
LoanZen
NoBroker
AppilyEver
Pocketin
FeetApart
OfBusiness
CarveNiche
Juspay
Funcart
Freedom Smart Labs
EduBridge
Nestaway
Hopscotch
PinClick
Smartcooky
Helpi
DogSpot
Career360
B9 Beverages
WIMWI Foods
MyChild App
Instaproc
360Ride
AlefMobitech
Tracxn
Qdesq
Sensara
Zebpay
PlanMyMedicalTrip
MyCity4Kids
Justdakhila.com
PitStop
Bikxie
Infurnia
Myly
MakeMyTrip
Melorra
ConfirmTKT
Gyaanzone
FlatFurnish
Lumiere
Koovs
Wishup
FreshMenu
SavvyMob
Fashionablyin
Shopclues
Hike Messenger
iBus Networks
Happy2Refer
CarTrade
Rentomo
Roder
Bucker
Care24
Obino
Snapshopr
Buildkar
Orahi
Zapr
Remidio
Fitso
evibe.in
Zoctr
Jobick
Plick
Voice Friends
Kartrocket
Swiggy
TinyStep
Cashkaro
Gameezop
DailyObjects
Indus OS
CollegeDunia
Villgro
Reddoorz
IndustryBuying
Just Buy Live
IMbesharam
Moodoo
Saral Designs
FirstCry
Fisdom
Easypolicy
Housing.com
CREO
ShabdaNagari
Little
SnapBizz
Qlivery
PlexusMD
Silvan
EPS
Qubole
Gajty
SIFTR Labs
Power2SME
SkyCandle
Teabox.com
Buildzar
Applicate
WhatsOnRent
Zebi (yet to launch)
Truce
JustDoc
Myeglu
BitGiving
Qriyo
N.O.W
Aisle
FreshMenu
Truebil
Rare Media
TinMen
CodingLabs
FindUrClass
DesignBids
CollegeDekho
Black White Orange Brands
Biteclub
Patel Logistics
Wigzo
Zapluk
Godof Hospitals
RoomsTonite
Kaaryah
Anakage
EasyKhaana
Shuttl
Eckovation
Fitcircle
Applop
CaRPM
NDTV Wedding portal
Splitkart
Zenatix
Customfurnish
Faasos
Vlurn
Leaf Wearables
Coolshare
mFicient
HeyBiz
Yumist
Jigsaw Academy
JoeHukum
Voxweb
Aye Finance
JumboBasket
BlackBuck
HomeStudio
PropheSee
i2e1
Holisol Logistics
Stay Simple Resorts
Paynear
Chillr
EureQa
LocalCircles
GetFocus
UrbanClap
OnlineRTI
Powerstores
Weddingz.in
Intelligent Interfaces
Capricoast
JetSetGo
Cabsguru
Whoop
BookEventz
Deal Street Asia
Streamoid
Housejoy
Bluebirch
MeraDoctor
STAGE 3
Rivigo
Springboard
Eatfresh
Ampere Vehicles
Focus Digit
The News Minute
CBREX
TruckMandi
Peppertap
KOOH Sports
RentOnGo
Industrybuying
Zapr
LatestOne
PlanetGogo
Arya.ai
Doctor Insta
MobieFit
LafaLafa
Mech Mocha
Shotang.com
CityFurnish
Black White Orange
Kolabro
Canvera
Town Essentials
Bumper
Hotify
MobiKwik
Intelligent Interfaces
Twigly
CityFlo
Findyahan
Sabse
Pokkt
boibanit
Stuffed
LoanBaba
Deyor Rooms
Bidgely
Shirsa Labs
Paytunes
YourDOST
BookMyBai
MyIndianStay
Bobble
RepUp
Satvacart
POPxo.com
SparesHub
Explara
Soothe Healthcare
Yuvi Hospitality
AppVirality
iStar Skill Development
BigStylist.com
Zilingo
Didi
Skoov.com
Chefs Basket
Gingercrush
Delight Foods
6Degree
RenewBuy
Grab
Hitwicket
Flashdoor
Cashkaro.com
Absentia
Renowala
TaskBucks
CraftsVilla
Julia Computing
StyleTag
Smytten
BiBox
Convegenius
Ola
Goodbox
ScoopWhoop
Hipship
Pickrr
Truelancer
AHA Taxis
UrbanClap
SenseGiz
PlaceofOrigin
Fourseven
MindTickle
Shopsense
Medinfi
OUWT
HeyPillow
Healers At Home
Caravan Craft
Talkoot
RentoMojo
Medikoe
Stylofie
ServX
Naaptol
Crayon Data
EarlySalary.com
Tooler
S Chand
Stelae
GoQii
Grofers
Pluss
KountMoney
StayGlad
JustRide
Fastudent
LearnOn
Talentrack
M-TAXI
Baxi
Superhero Brands
MoMagic
QikPod
Butterfly Interactive
Bro4U
Indifi
Wydr
EasyFix
Muvizz
Abhibus
Cleartax
Shopalyst
Chillr
Nykaa
Voylla
IndiaLends
Rock N Shop
DocPlexus
WorkIndia
SportzVillage
SportyBeans
Burger Singh
Welcome Cure
SchoolGuru
Naturally Yours
GoJavas
Scandid
StalkBuyLove
ZuperMeal
Cube26
Mobikon
Grabhouse
Quifers
Stockroom.io
Curofy
Cloud Lending
Inayo
WoNoBo
Kulzy
Zeppery
Zify
Faircent
Bizongo
Gridle
Tripoto
Mubble
Voodoo
Lookup
AskMyGift
Gaana.com
Zappfresh
GymTrekker
Bounty App
Homers.in
mShipper
BolRealty
S-Cube Futuretech
LetsVenture
Citrus Payment
Holidify
PrimaSeller
Opinio
Attune Technologies
iChef.in
Jiyo Natural
AgentDesks
White Owl Brewery
MealHopper
Zenify.in
Stockal
Medd
Leaping Caravan
Frsh
Qik Stay
Parcelled
AlmaMapper
Flexing It
Netmeds.com
Razorpay
Jombay
Happitoo
Care24
Roadrunnr
Simpli5d
ORIGA Leasing
Smartivity.in
UrDoorStep
Tavaga
Moglix
ZopHop
Niki.ai
Instavans
LiftO
TinyOwl
Toppr.com
Kleeto
BeaconsTalk
Jugnoo
TOFlo
FXMartIndia
Stylecracker
Luxuryhues
HolaChef
Zivame
Capillary Tech
Jobspire
MeraDoctor
Vistaar Finance
HiJinny
Clapsnslaps
Blubox
RoomCentral
YouthKiAwaaz
Prozo
Zomato
Sahayog Dairy
MockBank
ReportBee
GuruG Learning
OnlineTyari
IndustryBuying
The/Nudge Foundation
FitMeIn
Envoged
Zapyle
Renomania
CredR
YatraGenie
CanvasFlip
Shadowfax
UE Life Sciences
Ola Cabs
Coverfox
MoEngage
Mubble
Tea Trails
Room on Call
FYNE
ChaiPoint
WedmeGood.com
XSTOK
UniLog
Paintcollar
YepMe
Bueno
Plabro
CureJoy
Briston Technomach
LabStreet
DailyNinja
Portea Medical
Neotrade Analytics
DishCo
LafaLafa
ConnectAbank
VillFarm
Bestdealfinance
GameXS.in
The Man Company
Virtual Logic
Furdo
LogiNext
Korra
Credihealth
Amigobulls
SilverPush
Juggernaut
InnerChef
Quintype
Capabiliti
Fourth Partner Energy
Licious
TravelKhana
Quickli
Ola Cabs
Paytm
Inmobi
Peppertap
Hugefly
Brigge
Zakoopi
LoanCircle
Infoworks
RedDoorz
FirstTouch
Eywa Media
Snapdeal
Ressy
Cuelearn
Connect India
The Home Salon
Jusride
Oyorooms
Glowship
Wizrocket
Pickingo
Grex
LetsTransport
Zo Rooms
Doormint
NightStay
Zocalo
Sunday Realty Solutions
Klozee
Appvigil
practo
LoudShout
Wetravelsolo
Ketto
Ezetap
NDTV ecommerce venture
Carl’s Jr
EasyRewardz
GIBSS
StoreMore.in
iOrderFresh
MyTaxiIndia
eSadar
Actionable Analytics
MyPoolin
NearBuy (previously  groupon India)
Inkmonk
ToneTag
Grey Orange
Livspace
WOW! MOMO
RainCan
Allygrow Technologies
Infogain
OneAssist
BigBasket
Sheroes
Scripbox
betaout
IFMR Holdings
Massblurb
Agrostar
VoxWeb
Trukky
VanityCube
Edu4Share
YourStory
Sampurnearth
Orobind
Fixy
MSM Box
ShadowFax
Gadgets 360
Roposo
IntelligenceNODE
HyperVerge
Twyst
IDfy
Zoojoo.be
Fashionove
TimeSaverz
Envoged
MebelKart
LabsAdvisor
Flatpebble
Bluegape.com
ePoise
Jolly Food Fellow
BookMeIn
iZofy
rBus
Qyk App
EazyDiner
RevX
ICustomMadeIt
PickMyLaundry
Belita
EzySolare
FoodTalkIndia
InstaSafe
Eazy Coach
Djubo.com
BetterButter.in
Vyomo
RollMafia
iamwire
DropKaffe
Reverie
Infinite Analytics
Parcelled
Retigence Technologies
Cloudcherry Analytics
HandyHome
iDreamCareer
Ola Cabs
NxtGen
BankBazaar
Gozoomo
Zenatix
CultureAlley
Goqii
Gingercrush
Elanic
Stitchwood
Urban Tailor
ConfirmtTkt
Paper Boat
getNow
Wudstay
Liases Foras
Eatlo
IndiaLends
Quinto
Saavn
Flytxt
Axtria
33Coupons
Ampere
Hopping Chef
Collectabillia
Lendingkart
Lybrate
Zoomcar
News in shorts
Bluestone
Shopsity
Notesgen
Infinity Assurance
Footprints Education
Loylty Rewards
Ameyo
Mamagoto
Satvacart
MySmartPrice
Zenify
Boxmyspace
HackerRank
WickedRide
WoWexpress
Oyo Rooms
Mobikon
InstaLively.com
Roadrunnr
Ketto
QuikWallet
Omnikart
Zo Rooms
Innoviti
ZenRadius
Joy by nature
Iqlect
deGustibus
Nestaway
Mswipe
Myonsto
iCrushiFlush
MedGenome
HolidayIQ
Fitternity
Quikr
JetSetGo
BroEx
Shopatplaces
CredR
ManageMySpa
Townrush
Locus
Bevy
Pepperfry
Flipkart.com
Opinio
Zoctr
Zimmber
trueHb
Zovi.com / Little App
Swajal
Pipa Bella
Pragmatix

Ixigo
SkillAngels
Vidgyor
Banihal
Goodservice
Treebo
EduKart
Healthians.com
LabInApp
Syona Cosmetics
Sigrid Education
Indix
The Porter
Retention.ai
Fusion Microfinance
Zinka
CreditMantri
GetMyPeon
UrbanClap
StayGlad
AdWyze
Zimmber
Buttercups
RailYatri
aagaar.com
Flatchat
MyCFO
Foodpanda
Termsheet
Applicate
World Art Community
SpoonJoy
Seed Schools
Ignis Careers
Square Yards
Fintellix
Customer360
Delhivery
Swiggy
Uniphore
Box8
Toppr
Vedantu
BuyHatke
KleverKid
Uniken
GrandOpinion
HealthifyMe
ZapStitch
Wassup
Mobiefit
Plancess
WorkHorse
Innovaccer
MyCuteOffice
IndianRoots.com
RedPolka
Venturesity
TheBetterIndia.com
Awaaz De
Chaayos
Akosha
Cooey
MeetUniv
Inspirock
Crown-it
Trucksfirst
Lookup
SunTerrace
Nudgespot
CarDekho
EveningFlavors
Razorpay
ZenParent
Newgen Payments
UrbanPro
Goodbox
Renderlogy
Postman
Casa2inns
FleetRover
TheKarrier
Zoomcar
Truweight
Ather Energy
Swiggy
Bluegape
KeepTrax
InstaLively
Pricejugaad
Quikr
PressPlay
LogiNext
FirstCry.com
MobiKwik
Olacabs
Gadgetwood
Bonhomia
Changer Mints
Urban Ladder
Purple Squirrel
Whatfix
iMMi Life
Zomato
ZopNow
Nayi Disha
The Porter
Commeasure
Capricoast
LocalOye
Grofers
PepperTap
PolicyBazaar
UrbanClap
Taskbob
Robosoft
Doormint
Vyomo
Pastiwala
1mg (Healthkartplus)
Freshdesk
Sulekha.com
FindYahan
Eat.Shop.Love
Avanti Learning
Simplilearn
Craftstvilla
HeadOut
happay
Jugnoo
EazyDiner
Phone Warrior
Coverfox
Torqus
Grab
LogicRoots
GIBBS
Babajobs
Urban Ladder
Jay Robotix
Naaptol.com
ReGlobe
Icertis
Tracxn
Dazo
Tradelab
PiQube
Travel Triangle
TrulyMadly.com
InstaLively
Vserv
Intruo.com
Niffler
CustomFurnish.com
MapMyGenome
Crowdfire (formerly Justunfollow)
Bite Club
Localbanya
Appedo
Fitraq.com
ChargeBee
Groupon India
Process 9
MoonFrog Labs
Foodpanda
Paytm
DiabetOmics
Qyk
Daily Rounds
Orobind
Routofy
Digital Gorkha
NestAway
The Better India
Meru Cabs
GolfLAN
Drivestream
wWhere
GoJavas
Tripoto
Graphic India
Harness Handitouch
Lets Corp
CollateBox
Mahindra First Choice
Round One
RazorPay
Mosambee
Furlenco
Cubito
Teabox
Artoo
Fxkart.com
Rozgar Mela
OYO Rooms
Roposo.com
Teewe
ePoise
Urjas
Chargein
Yogurt Labs
LimeRoad.com
Team Indus
Arohan Financial Services
BillDesk
Triphobo
Aryaka
Appsdaily
Faaya
InstaBounce
Chloroplast Foods
Dealwithus
CleverSharks
Leaf
SmartPocket
Yumist
NowFloats
FirstCry
HolaChef
Frsh.co.in
Manthan
Kobster.com
Culture Machine
Paytm
Aisle.co
FreeCharge
NewsHunt
MyNoticePeriod
CarDekho.com
Faaso’s
CarTrade.com
StoreKing
Capital Float
Nimble Wireless
Townscript
FindYahan
Stayzilla
Practo
CimplyFive
20Dresses
Itzcash
NewsInShorts
iTraveller.com
NextGen
Wooplr.com
Springleap
Klip.in
Renderlogy
Appbase
HomeLane
Trip38
Smartairtrip.com
NoBroker
Caravan Craft Retail
SquadRun
Clonect Solutions
TaxSutra
PepperTap
Sattviko
IndustryBuying
FreshWorld
TinyOwl
Momoe
Grofers
LensKart
VioletStreet
Lookup
#Fame
Gympik
Near.in
Purplle.com
NumberMall
Tookitaki
Frankly
Faircent
Nurturey
Bewakoof
Stridalyzer
Commonfloor
Sokrati
YepMe
TapCibo
Verayu
MyDreamStore
AppVirality
RateGain
Wishberry
eKincare
ShopClues
Refiral
Ping Digital
HealthyWorld.in
Hostel Dunia
Play your sport
Yo Grad
Enabli
CBS
Hopscotch
Amagi Media Labs
HealthyWorld.in
Simplilearn
MyDreamStore
Knit
Villgro
Corporate360
Freshmonk
Englishleap.com
Antuit
Caratlane.com
Aasaanjobs
Impartus
Thrill App
CarDekho.com
Grabhouse.com
Printvenue
Graphene
Mad Street Den
Simplotel
couponmachine.in
0.2639486789703369

#### Using iterrows func

In [121]:

start = time.time()

for index, row in df.iterrows():
    
    print(index,row['StartupName'], row['CityLocation'])
end = time.time()
print(end - start)

0 TouchKin Bangalore
1 Ethinos Mumbai
2 Leverage Edu New Delhi
3 Zepo Mumbai
4 Click2Clinic Hyderabad
5 Billion Loans Bangalore
6 Ecolibriumenergy Ahmedabad
7 Droom Gurgaon
8 Jumbotail Bangalore
9 Moglix Noida
10 Timesaverz Mumbai
11 Minjar Bangalore
12 MyCity4kids Gurgaon
13 Clip App Bangalore
14 Upwardly.in Bangalore
15 Autorox.co Hyderabad
16 Fabogo Pune
17 Flickstree Mumbai
18 Design Cafe Bangalore
19 Innoviti Bangalore
20 VDeliver Hyderabad
21 Bottr.me Bangalore
22 Arcatron Pune
23 QwikSpec Bangalore
24 Chumbak Bangalore
25 Increff Bangalore
26 Vayana Pune
27 MObiquest Noida
28 Ambee Hyderabad
29 Ideal Insurance Kolkata
30 Hypernova Interactive Bangalore
31 Rentomojo Bangalore
32 AirCTO Bangalore
33 Playablo Bangalore
34 Trupay Gurgaon
35 Brick2Wall Gurgaon
36 FableStreet New Delhi
37 Monsoon Fintech New Delhi
38 MonkeyBox Bangalore
39 Noticeboard Bangalore
40 Byju’s Bangalore
41 Creator’s Gurukul New Delhi
42 Fab Hotels New Delhi
43 ThinkerBell Bangalore
44 1mg Gurgaon
45 Jhakaas Mumbai
46 BigStylist Mumbai
47 Gympik.com bangalore
48 Tripeur Bangalore
49 RentOnGo Bangalore
50 Goomo Mumbai
51 MaxMyWealth Mumbai
52 Spinny Gurgaon
53 Healthbuds Kolkata
54 Ftcash Mumbai
55 BHIVE Workspace Bangalore
56 wayForward New Delhi
57 GyanDhan New Delhi
58 Hungry Foal Gurgaon
59 ZipLoan New Delhi
60 GrowFitter Mumbai
61 Stratfit Hyderabad
62 Multiplier Solutions Hyderabad
63 ABI Health Bangalore
64 Stockal Bangalore
65 Guidoo Mumbai
66 eSahai.in Hyderabad
67 Loanmeet Bangalore
68 LendingKart Ahmedabad
69 Boxx.ai Bangalore
70 PeeSafe.in New Delhi
71 Vista Rooms Mumbai
72 CoverFox Mumbai
73 HyperTrack New Delhi
74 Goodera Bangalore
75 Digit Bangalore
76 Ola Bangalore
77 Vanitycask Mumbai
78 MrNeeds Noida
79 MoneyTap Bangalore
80 Goodbox Bangalore
81 Fincash Mumbai
82 PortDesk Noida
83 EdgeFx Hyderabad
84 EazyDiner Gurgaon
85 HealthIntel New Delhi
86 Unbxd Bangalore
87 DarwinBox Hyderabad
88 ForeverShop Bangalore
89 Insider.in Mumbai
90 Fynd Mumbai
91 Grow Fit Bangalore
92 Fabulyst Hyderabad
93 mSwipe Mumbai
94 OneAssist Mumbai
95 Julia Computing Bangalore
96 Kissht Mumbai
97 Explore Life traveling Bangalore
98 Loantap Mumbai
99 Voxweb Mumbai
100 HUG Innovations Hyderabad
101 Flipkart Bangalore
102 V Resorts Noida
103 Stashfin New Delhi
104 Formcept Bangalore
105 Spares Hub Pune
106 FiTraQ New Delhi
107 Rubique Mumbai
108 Niki.ai Bangalore
109 Fitpass New Delhi
110 ZingHR Mumbai
111 Tagos Design Bangalore
112 UrbanClap Gurgaon
113 Ace2three Hyderabad
114 Power2SME Gurgaon
115 Innovapptive Hyderabad
116 4tigo Bangalore
117 SMECorner Mumbai
118 ZippServe Bangalore
119 Ola Bangalore
120 Sumeru Bangalore
121 Healthians New Delhi
122 HealthMir New Delhi
123 Uactive Mumbai
124 i-lend Hyderabad
125 Good Methods Global Trivandrum
126 Balance App Bangalore
127 YepMe Gurgaon
128 Nightstay New Delhi
129 Devourin Pune
130 MyGreens New Delhi
131 Ace Turtle Bangalore
132 CureFit Bangalore
133 Curie Labs New Delhi
134 Uncanny Vision Bangalore
135 Anchanto Pune
136 Sequretek Mumbai
137 Lucideus New Delhi
138 Vidooly Noida
139 Shopclues Gurgaon
140 Fourth Ambit Bangalore
141 Chymera VR Bangalore
142 Early Salary Pune
143 Book My Diamond Mumbai
144 ION Energy Mumbai
145 Legal Raasta New Delhi
146 Log 9 Materials Bangalore
147 Remit Guru Mumbai
148 Aequm Bangalore
149 Zapty Bangalore
150 Vernacular.ai Bangalore
151 Niki.ai Bangalore
152 Telr Mumbai
153 Fynd Mumbai
154 Genie Chennai
155 Paysense Mumbai
156 The Good Life Mumbai
157 PumpKart Chandigarh
158 Paytm Bangalore
159 EzCred Bangalore
160 HealthSutra Hyderabad
161 YepMe New Delhi
162 Delhivery New Delhi
163 ZipGrid Mumbai
164 TravelSpice Hyderabad
165 Magicpin Gurgaon
166 The Print New Delhi
167 Box8 Mumbai
168 GenNext Students Mumbai
169 Aye Finance Gurgaon
170 WhatsLoan Bangalore
171 Cube Consumer Services Mumbai
172 Nivesh Noida
173 Wowflux New Delhi
174 Collateral Medical Mumbai
175 Loadshare Bangalore
176 SimpliLend New Delhi
177 Supr Daily Mumbai
178 Swiggy Bangalore
179 SastaSundar Kolkata
180 Magicpin Gurgaon
181 Cashe Mumbai
182 Eruditus Mumbai
183 TestBook Mumbai
184 Healthcare at Home Noida
185 Tyre Express Mumbai
186 SmartCoin Bangalore
187 WayCool Chennai
188 Perfios Bangalore
189 Whatfix Bangalore
190 ElastiRun Pune
191 Trukky Ahmedabad
192 Konsult App New Delhi
193 Credit Sudhaar Mumbai
194 Fingerlix Mumbai
195 DataWeave Bangalore
196 Medwell Ventures Bangalore
197 Mech Mocha Bangalore
198 Startup Buddy Gurgaon
199 QorQI Noida
200 Twenty Two Motors Gurgaon
201 PharmEasy Mumbai
202 WonderChef Mumbai
203 FastFox Gurgaon
204 Omnify Bangalore
205 Capital Float Bangalore
206 Ninjacart Bangalore
207 MergerWare Bangalore
208 Sports Flashes New Delhi
209 Clovia New Delhi
210 Emiza Mumbai
211 HackerEarth Bangalore
212 Squadrun Noida
213 Tinmen Hyderabad
214 ScoutMyTrip Mumbai
215 SafetyKart Gurgaon
216 WeAreHolidays Gurgaon
217 Ola Cabs Bangalore
218 Myly Jaipur
219 CrediHealth Gurgaon
220 Navia Life Care New Delhi
221 Raw Pressery Mumbai
222 Snackible Mumbai
223 Be U Salons New Delhi
224 Simulanis New Delhi
225 LendingKart Ahmedabad
226 Innefu Security Consulting New Delhi
227 Whodat Bangalore
228 Absentia VR Bangalore
229 IOTrek New Delhi
230 HolaChef Mumbai
231 Wooplr Bangalore
232 Video Ken Bangalore
233 Faasos Pune
234 Oyo Rooms Gurgaon
235 Toppr Mumbai
236 Niramai Bangalore
237 The Office Pass Gurgaon
238 UrbanClap Gurgaon
239 Awfis Mumbai
240 Myra Bangalore
241 Flytxt Mumbai
242 Howdy Ventures Chennai
243 StalkBuyLove New Delhi
244 ZipGo Bangalore
245 Scootsy Mumbai
246 Autobix Pune
247 eShiksha Jaipur
248 iNurture Bangalore
249 Sepalika New Delhi
250 Mintwalk Mumbai
251 Qriyo Jaipur
252 Ola Bangalore
253 Belong Bangalore
254 Seenit Kolkata
255 Paalak New Delhi
256 Celes Care Hyderabad
257 Karomi Chennai
258 Red Carpet Gurgaon
259 Kreate Konnect Vadodara
260 CreditMantri Chennai
261 Lets Endorse Bangalore
262 Tydy Bangalore
263 Nactus Jaipur
264 Oho Shop Ahmedabad
265 Emojifi Hyderabad
266 Paytm Marketplace Bangalore
267 iGenetics Mumbai
268 Juno Clinic Mumbai
269 Summerlabel Gurgaon
270 PickMe Mumbai
271 Agrostar Pune
272 Zapr Bangalore
273 Data Resolve Noida
274 Book Servicing New Delhi
275 Blowhorn Bangalore
276 Rivigo Gurgaon
277 PipeCandy Chennai
278 Supr Daily Mumbai
279 Parentune Gurgaon
280 AppBrowzer Bangalore
281 MagicBricks Mumbai
282 PeeBuddy New Delhi
283 iOrderFresh New Delhi
284 Lavelle Networks Bangalore
285 PropertyShare Bangalore
286 MyDermacy New Delhi
287 LatestOne Hyderabad
288 Frapperz Kolkata
289 mPaani Mumbai
290 ShilpMIS Surat
291 POPxo New Delhi
292 Fitso Gurgaon
293 FarMart Gurgaon
294 Flipkart Bangalore
295 Airpay Mumbai
296 MyGlamm Mumbai
297 The Mons Co. New Delhi
298 Haqdarshak Bangalore
299 Ixigo Gurgaon
300 Markets and Markets Pune
301 Bizom Bangalore
302 BabyonBoard Bangalore
303 Delhivery New Delhi
304 Sport Flashes New Delhi
305 Fynd Mumbai
306 Wigzo New Delhi
307 DoneThing Gurgaon
308 Zapyle Bangalore
309 Ithaka Mumbai
310 perpule Bangalore
311 Byju’s Bangalore
312 Licious Bangalore
313 Medinfi Bangalore
314 Indus OS Mumbai
315 Emflux Motors Bangalore
316 Klinic App Gurgaon
317 Jhakaas Mumbai
318 Oriano Solar Mumbai
319 BigBasket Bangalore
320 Rooter New Delhi
321 FalconBrick Bangalore
322 Icertis Pune
323 Clodura Pune
324 Stockroom.io Hyderabad
325 Capital Float Bangalore
326 iManageMyHotel Kolkata
327 Inner Hour Mumbai
328 Travel Triangle Noida
329 Wandertrails Bangalore
330 Zenatix Gurgaon
331 Cartrade Mumbai
332 MindYourFleet Noida
333 Edurev Gurgaon
334 Voonik Bangalore
335 1Crowd Mumbai
336 Wooplr Bangalore
337 48East Bangalore
338 Redesyn Mumbai
339 Sigtuple Bangalore
340 Flutura Bangalore
341 Wassup Chennai
342 Better Mortgage Gurgaon
343 Nurturey New Delhi
344 Fyle Bangalore
345 GoBumpr Chennai
346 CCAvenue Mumbai
347 Connaizen New Delhi
348 Innov8 New Delhi
349 ZestMoney Bangalore
350 AirZaar Missourie
351 Truebil Mumbai
352 YourStory Bangalore
353 Imaginate Hyderabad
354 The Ken Bangalore
355 Urban Ladder Bangalore
356 Aisle Bangalore
357 TownScript Pune
358 Leopetra Mumbai
359 Blood n Care Gurgaon
360 Flipkart Bangalore
361 True Balance Gurgaon
362 Vebbler Bangalore
363 Get My Parking New Delhi
364 Lets Reap Mumbai
365 Oglas Noida
366 Staydobe Bangalore
367 Biryani By Kilo Gurgaon
368 Johari Shop Bangalore
369 NeoStencil New Delhi
370 Blackbuck Bangalore
371 TaxSutra Pune
372 TempoGo Panaji
373 GoFynd Mumbai
374 Vow Car Clinic Gurgaon
375 LearnTron Chennai
376 MobiDent Bangalore
377 Yostra Bangalore
378 Leap India Mumbai
379 FreeCharge Mumbai
380 TicketNew Chennai
381 Intelligence Node Mumbai
382 Securens Mumbai
383 Loan Frame Gurgaon
384 DriveSkool Bangalore
385 Medinfi Bangalore
386 LensKart Bangalore
387 InstaOffice Gurgaon
388 Hansel.io Bangalore
389 Square Yards Gurgaon
390 Roambee Mumbai
391 PaisaWapas Bangalore
392 iService Bangalore
393 Unacademy Bangalore
394 SecururAX Bangalore
395 Leadburg Bangalore
396 ZoloStays Bangalore
397 Oi Media New Delhi
398 HipCouch Mumbai
399 Curiositi Bangalore
400 TinyStep Bangalore
401 Practo Bangalore
402 Ketchupp New Delhi
403 Hoopy Gwalior
404 Ezytruk Bangalore
405 Kratikal New Delhi
406 Direct Create Gurgaon
407 Vahdam Teas New Delhi
408 Qwikspec Bangalore
409 PParke Bangalore
410 Weddingz.in Mumbai
411 Native Special Karur
412 Fitnapp Noida
413 Ethosh Pune
414 Wydr Gurgaon
415 Tyre Express Mumbai
416 Connaizen New Delhi
417 MessaGif New Delhi
418 SmartHi Pune
419 CRON Systems New Delhi
420 CueMath New Delhi
421 ChipperSage Bangalore
422 SelectJobs Mumbai
423 Khel Now Bangalore
424 NowFloats Hyderabad
425 Lets Transport Bangalore
426 BetaOut Noida
427 Wishberry Mumbai
428 RML Agtech Pune
429 LoyaltyPrime New Delhi
430 InstaSafe Bangalore
431 Infibeam Ahmedabad
432 99Games Udupi
433 AirMed Labs Ahmedabad
434 99PerHour Chennai
435 Kochi Post Kochi
436 Intuit Things Mumbai
437 Cloudrino New Delhi
438 FabX Mumbai
439 Maptags Bangalore
440 YOLO Health Mumbai
441 Heads Up For Tails New Delhi
442 Register My Marriage New Delhi
443 SidQam Noida
444 India Lends New Delhi
445 Slide App New Delhi
446 Badiyajobs New Delhi
447 Streo Bangalore
448 TYGR Mumbai
449 Mr Hot Foods Indore
450 UrDoorStep Bangalore
451 ONN Bikes Mumbai
452 Diro Labs New Delhi
453 THB Gurgaon
454 LookAtMe Singapore
455 Netree New Delhi
456 BookEventz Mumbai
457 Tailslife Bangalore
458 Revv New Delhi
459 WealthApp Bangalore
460 Vehico Bangalore
461 Zest Money Mumbai
462 GoMechanic Gurgaon
463 Stalk Buy Love New Delhi
464 Nykaa Mumbai
465 Wittyparot Bangalore
466 NeuroEquilibrium Jaipur
467 Xseed Education Bangalore
468 Rupaiya Exchange New Delhi
469 Doctor Insta Gurgaon
470 UrbanPiper Bangalore
471 Fresh Food Concepts New Delhi
472 Indifi Gurgaon
473 GoComet Mumbai
474 OfBusiness Gurgaon
475 Fitmein New Delhi
476 Qacco Gurgaon
477 Fitpass New Delhi
478 MoEngage Bangalore
479 Ten3t Health Bangalore
480 Trading Bells Indore
481 SERV’D Pune
482 IdeaForge Mumbai
483 Amagi Media Labs Mumbai
484 Pocket Aces Mumbai
485 Pi Data Centers Hyderabad
486 TripShelf New Delhi
487 Events High Bangalore
488 NoBroker Bangalore
489 VivoCarat Mumbai
490 Tiyo Kolkata

491 Zoomcar Bangalore
492 BYJU’s Bangalore
493 Supr Daily Mumbai
494 The BlueBook Bangalore
495 MamaEarth New Delhi
496 Vegetall Chennai
497 Innoplexus Pune
498 Mindler New Delhi
499 MCaffeine Bangalore
500 enKast Bangalore
501 ShopKirana Indore
502 MyAdvo New Delhi
503 Asocon Noida
504 LexComply New Delhi
505 The Postbox Chennai
506 Pandorum Technologies Bangalore
507 Dekkho Mumbai
508 Shadowfox Gurgaon
509 ShopX Bangalore
510 BookEventz Mumbai
511 Healthifyme Bangalore
512 LetsMD New Delhi
513 Justbooks Bangalore
514 InstantPay New Delhi
515 PickMyLaundry New Delhi
516 FreshDesk Chennai
517 LaundryAnna Bangalore
518 LetsMD New Delhi
519 Sattviko New Delhi
520 Zarget Chennai
521 DoSelect Bangalore
522 EasyPolicy Noida
523 Browntape Goa
524 Connect India Bangalore
525 Corseco New Delhi
526 vImmune Bangalore
527 The Gourmet Jar Noida
528 Medzin New Delhi
529 Bizongo Mumbai
530 Rivigo Gurgaon
531 JustRide Mumbai
532 IIM Jobs New Delhi
533 Square Yards Gurgaon
534 GolfLAN New Delhi
535 Yottaasys Bangalore
536 Tone Tag Bangalore
537 Life in Control Gurgaon
538 Active.ai Singapore
539 ElasticRun Pune
540 NoBroker Bangalore
541 Zefo Bangalore
542 PlaySimple Bangalore
543 Stasis Labs Bangalore
544 Scienaptic Bangalore
545 Koovs New Delhi
546 Lawrato New Delhi
547 Trip Tap Toe Gurgaon
548 Pictor Imaging Mumbai
549 GramCover New Delhi
550 AerMed Mumbai
551 WorkIndia Mumbai
552 Bats on delivery Gurgaon
553 numberz.in Gurgaon
554 Housing.com Mumbai
555 Awesummly Bangalore
556 VoLT Mumbai
557 Vymo Bangalore
558 ShubhLoans Bangalore
559 Noddapp Mumbai
560 Knowlarity Bangalore
561 Infisecure Mumbai
562 Udaan Bangalore
563 FroyoFit Indore
564 Betterplace Bangalore
565 ShareChat Mumbai
566 UClean Gurgaon
567 Servify Mumbai
568 Hubilo Ahmedabad
569 FunOnGo Mumbai
570 121Policy Kolkata
571 TapChief Bangalore
572 Kloseby Bangalore
573 WholeSaleBox Jaipur
574 Crossahead Noida
575 Affordplan New Delhi
576 HandyTrain Goa
577 ShopsUp Bangalore
578 Indofash Bangalore
579 Entropika Bangalore
580 MarianaIQ Bangalore
581 Chai Thela Noida
582 Interviewpad Pune
583 Math Buddy Vadodara
584 Pulse Bangalore
585 MonkeyBox Bangalore
586 Carcrew.in Mumbai
587 MeraKisan Bangalore
588 Mystifly Bangalore
589 HelpChat Bangalore
590 Uniphore Chennai
591 World Art Community Gurgaon
592 Giftxoxo Bangalore
593 Bharat Bazaar Mumbai
594 GOQii Mumbai
595 India Gifts Portal Noida
596 Moglix Noida
597 NetLinx Hyderabad
598 Scandid Pune
599 Remitr Mumbai
600 InnerChef Gurgaon
601 AppsDaily Mumbai
602 MuhurtMaza Pune
603 Azuro Mumbai
604 NeuroSynaptic Bangalore
605 UE LifeSciences Mumbai
606 FindmeaShoe Bangalore
607 RealBox Noida
608 Sportido Noida
609 GoZefo Bangalore
610 RayIOT Bangalore
611 KOOH Sports Mumbai
612 Flexiloans Mumbai
613 Sibia Analytics Kolkata
614 Vithi.com New Delhi
615 Yupp TV Bangalore
616 Deyor Camps Gurgaon
617 ZipLoan New Delhi
618 FabAlley Noida
619 Shoekonnect Agra
620 Maya Bangalore
621 RoboVac Ahmedabad
622 Newspatrolling New Delhi
623 Postman Bangalore
624 ISFC Hyderabad
625 BeatRoute Gurgaon
626 Kidsstoppress Mumbai
627 Innov8 Bangalore
628 DailyHunt Bangalore
629 Tazzo Bikes Hyderabad
630 MyKindofJob Mumbai
631 Trilyo Bangalore
632 Rooter New Delhi
633 Yumigo Gurgaon
634 Rentalpha Mumbai
635 3Dexter New Delhi
636 BabyChakra Mumbai
637 Coppre Pune
638 MySUN Noida
639 ePathsala Bangalore
640 Furlenco Bangalore
641 Fisdom Bangalore
642 Actofit Mumbai
643 Stayology Bangalore
644 Hipcask Mumbai
645 RailYatri Noida
646 ChatOnGo Mumbai
647 WOTU Bangalore
648 Healthians Gurgaon
649 Box8 Mumbai
650 Kredx Bangalore
651 CreditMate Mumbai
652 Pickrr New Delhi
653 SatvaKart Gurgaon
654 SooperMO Gurgaon
655 OrangeTwig New Delhi
656 Wooplr Bangalore
657 The Kettlery Ahmedabad
658 Idea Bubbles Bangalore
659 FR8 Chennai
660 Ather Energy Bangalore
661 Pikkol Bangalore
662 Velmenni New Delhi
663 Volta Motors Chennai
664 Cyclops Bangalore
665 Impact Analytics Bangalore
666 Talent Next Mumbai
667 Mad Street Den Chennai
668 Mihup Kolkata
669 Renowala Hyderabad
670 Lucideus New Delhi
671 Trackbizz Kochi
672 Social Quotient Mumbai
673 Stalk Buy Love New Delhi
674 eShakti Chennai
675 CheersOye! Mumbai
676 Lenskart New Delhi
677 BigStylist Mumbai
678 Zilingo Bangalore/ Bangkok
679 Alternacare New Delhi
680 Simplilearn Bangalore
681 Prozo Gurgaon
682 TopRankers Bangalore
683 BuildTraders Bangalore
684 Byju’s Bangalore
685 NoBroker Bangalore
686 Freshboxx Hubli
687 CureInstant New Delhi
688 Poshtic Noida
689 KarmaCircles New Delhi
690 Purple Style Labs Mumbai
691 Inuxu Pune
692 Nykaa Mumbai
693 Glam Studios Noida
694 Findow Bangalore
695 IdeaChakki Delhi
696 ShoeKonnect Agra
697 NearBuy Gurgaon
698 ZeroInfy Kolkata
699 Flocareer Bangalore
700 LensPick Bangalore
701 infeedo Gurgaon
702 Furlenco Bangalore
703 GoPigeon Bangalore
704 NewsDistill Hyderabad
705 DoctorInsta Gurgaon
706 Milofy Bangalore
707 Liqvid New Delhi
708 Swiggy Bangalore
709 Codemojo Bangalore
710 JustLikeNew Hyderabad
711 JoeHukum New Delhi
712 Co Life Bangalore
713 PurpleDocs Vadodara
714 Pepperfry Mumbai
715 eQuickies Ahmedabad
716 Khel Now New Delhi
717 Gadgetwood New Delhi
718 DailyRounds Bangalore
719 Flixy Games Bangalore
720 HashTaag Bangalore
721 PharmaRack Pune
722 CloudCherry Chennai
723 Parentlane Bangalore
724 First Moms Club Mumbai
725 inMotion Noida
726 Let’s Barter New Delhi
727 EvenGini Chennai
728 TinyStep Bangalore
729 Canvs Mumbai
730 Beardo Ahmedabad
731 Instacar Indore
732 Celes Care Hyderabad
733 Druva Pune
734 Promon New Delhi
735 Fastudent Noida
736 Unocoin Bangalore
737 Demyto Pune
738 Zeta Mumbai
739 Kalaage Jaipur
740 HealthKart Gurgaon
741 Medinfi Bangalore
742 RepairEasy Pune
743 Voonik Bangalore
744 Tokri Pune
745 Sheroes Noida
746 Daily Ninja Bangalore
747 Yumlane Mumbai
748 Xcode Chennai
749 ExtraCarbon Gurgaon
750 FlickBay Mumbai
751 Petoo Bangalore
752 lehlehsports New Delhi
753 Tricog Bangalore
754 VST Travels Kerala
755 AdPushUp New Delhi
756 Wefly Indoor Skydiving Mumbai
757 Mojarto Gurgaon
758 Zipgrid Mumbai
759 MobiDent Bangalore
760 Zeolr/RespirON New Delhi
761 Vebbler Bangalore
762 Bombay Shaving Company New Delhi
763 Travelyaari Bangalore
764 91SpringBoard Mumbai
765 Genextstudents Mumbai
766 Zenoti Hyderabad
767 Crofarm Gurgaon
768 Faircent.com Gurgaon
769 Innovaccer Noida
770 Cuberoot Gurgaon
771 Funcastic New Delhi
772 Buttercups Bangalore
773 Zappfresh Gurgaon
774 OyoRooms New Delhi
775 Hike New Delhi
776 Joolz Mumbai
777 SaleBhai Ahmedabad
778 Makkajai Pune
779 Gradopedia Mumbai
780 MaalGaadi Indore
781 ZiPi Bangalore
782 Appknox Bangalore
783 Pikkol Bangalore
784 Meesho Bangalore
785 Sesame Software Kozhikode
786 Quikr Mumbai
787 Digio Bangalore
788 Ziffity Chennai
789 Zzungry Bangalore
790 Puro Wellness Mumbai
791 Fitternity Mumbai
792 TAC Security New Delhi
793 Notesgen New Delhi
794 NearU Mumbai
795 Octo.ai New Delhi
796 ShaadiSaga New Delhi
797 UnaAcademy Bangalore
798 Advenio Chandigarh
799 Guarented Bangalore
800 Beyond Evolution Gurgaon
801 Uber Dreams Mumbai
802 Convegenius Noida
803 UrbanLadder Mumbai
804 enCashea Bangalore
805 EngineerBabu Indore
806 Cult Bangalore
807 WitWorks Bangalore
808 NearFox Mumbai
809 ZoomCar Bangalore
810 Plix Gurgaon
811 Mobikwik Gurgaon
812 MyDidi Mumbai
813 CrownIt Gurgaon
814 LoanTap Mumbai
815 Runnr Bangalore
816 Zolo Noida
817 Notion Press Chennai
818 LivSpace Bangalore
819 iAugmentor Labs Gurgaon
820 DayBox New Delhi
821 Paytm Bangalore
822 CropIn Bangalore
823 Canvera Bangalore
824 Prime Focus Technologies Mumbai
825 Flyrobe Mumbai
826 inclov Mumbai
827 RazorPay Bangalore
828 DarwinBox Hyderabad
829 Venture Catalysts Mumbai
830 PressPlay TV New Delhi
831 Playment Bangalore
832 WealthTrust Mumbai
833 Curefit Bangalore
834 StitchWood Mumbai
835 Grab.in Mumbai
836 Fulfil.IO US
837 NeoGrowth Mumbai
838 SeeDoc Gurgaon
839 BookMyShow Mumbai
840 Flyrobe Mumbai
841 HappilyUnmarried New Delhi
842 Don’t Scratch Your Head Ahmedabad
843 Wedding Wishlist Chennai
844 AppDaily Mumbai
845 Adytude New Delhi
846 Quickli Gurgaon
847 SpectraVR Mumbai
848 Pitstop Bangalore
849 HolaChef Mumbai
850 Purplle Mumbai
851 Trak N Tell Gurgaon
852 Overcart.com Gurgaon
853 SirionLabs Gurgaon
854 GyanDhan New Delhi
855 MintM Bangalore
856 HitGrit Chandigarh
857 Find My Stay New Delhi
858 YAAP New Delhi
859 Utoo Cabs Chennai
860 Twigly Gurgaon
861 ShareChat Bangalore
862 Urban Tailor Bangalore
863 RentMojo Bangalore
864 CityFurnish Gurgaon
865 HEAL Institute Mumbai
866 Augrav Coimbatore
867 ShoppinPal Pune
868 TransTutors / AskIITians New Delhi
869 WorkApps Pune
870 BankerBay Bangalore
871 BaggOut New Delhi
872 TripShelf New Delhi
873 SatvaCart New Delhi
874 Ridlr Mumbai
875 Yellowdig Pune
876 Zuppler New Delhi
877 BlueStone Mumbai
878 underDOGS Mumbai
879 ImageProVision Pune
880 Sagacito New Delhi
881 Deal4Loans / Wishfin Noida
882 NiYO Solutions Bangalore
883 AppLop Gurgaon
884 Tax2Win Jaipur
885 Truckola Mumbai
886 iServe Financial Pune
887 MyTaxiIndia New Delhi
888 AbeRuk Bangalore
889 Wiwigo Bangalore
890 Drums Food Mumbai

891 Chikoop Indore
892 BRIDGEi2I Bangalore
893 Droom New Delhi
894 Visit New Delhi
895 Atomberg Mumbai
896 Coutloot Mumbai
897 Limo Mumbai
898 iCliniq Bangalore
899 GoGo Truck Chennai
900 Vyome Biosciences New Delhi
901 SillyMonks Hyderabad
902 CueMath Bangalore
903 KrazyBee Bangalore
904 Intgrea Bangalore
905 HelpShift Pune
906 CreditVidya Mumbai
907 Grey Campus Hyderabad
908 ListUp Mumbai
909 6Degree Mumbai
910 Shopwati Gurgaon
911 Cookifi Bangalore
912 StoreKing Bangalore
913 Wired Hub Jaipur
914 MySeniorDoctor Gurgaon
915 Teabox Siliguri
916 ExtraaEdge Pune
917 EPayLater Mumbai
918 Kyazoonga Mumbai
919 Paytunes New Delhi
920 Kickstart Jobs Gurgaon
921 Freshee Mumbai
922 MadRat Games Bangalore
923 Jazzmyride New Delhi
924 AutoSense New Delhi
925 Redsun Telematics Chennai
926 KhanaGadi Jaipur
927 Bombay Shirt Company Mumbai
928 Matrubharti 0
929 EdTechReview New Delhi
930 Bonhomia New Delhi
931 Gobolt New Delhi
932 Jivox Bangalore
933 Sminq Pune
934 CureJoy Bangalore
935 Oneway.cab Vadodara
936 GrabOnRent Bangalore
937 Diro Labs New Delhi
938 Unnati Helpers Gurgaon
939 Athletto Bangalore
940 Saavn USA
941 Voonik Bangalore
942 ThinkPhi Mumbai
943 Cleartax New Delhi
944 Silvan Innovation Labs Bangalore
945 GreytHR Bangalore
946 Duffl Bangalore
947 BYG Bangalore
948 Dipper New Delhi
949 Qonfuse New Delhi
950 The Indian IRIS Ahmedabad
951 Onspoon Mumbai
952 REstate Bangalore
953 Cleartrip Mumbai
954 ProcMart Noida
955 Celerix Bangalore
956 NatureNama Mumbai
957 CyclopsMedtech Bangalore
958 Syona Cosmetics Chennai
959 PrettySecrets Mumbai
960 SpiderG Pune
961 FarEye New Delhi
962 The Uolo Bangalore
963 Staqu Gurgaon
964 Padhopadhao New Delhi
965 Drivify Mumbai
966 PratiLipi Bangalore
967 ParaBlu Bangalore
968 Schedulers Logistics Mumbai
969 LEAP India Mumbai
970 KabadiExpress New Delhi
971 YourDost Bangalore
972 Gomalon Bangalore
973 Voler Cars New Delhi
974 Travelyaari Bangalore
975 FabHotels Gurgaon
976 Locanix Ahmedabad
977 LendingKart Ahmedabad
978 Hello Tax New Delhi
979 MySuperBrain Hyderabad
980 BlogBeats Bangalore
981 LetReach New Delhi
982 TrendieApp Kolkata
983 ImpactGuru Mumbai
984 Velvetcase Mumbai
985 Meru Cabs Mumbai
986 Campus Diaries Bangalore
987 Scripbox Bangalore
988 Biryani Blues Gurgaon
989 MotoMojo Mumbai
990 Get My Parking New Delhi
991 Prescribez Pune
992 Airwood Chennai
993 Mobikwik Gurgaon
994 iDreamCareer New Delhi
995 Zwayam Bangalore
996 BoiBanit Vadodara
997 Zuver Mumbai
998 Prepathon Mumbai
999 EasyRoads Mumbai
1000 Lenskart New Delhi
1001 Seclore Mumbai
1002 SolarTown Chennai
1003 Comarete Pune
1004 MyDentistChoice Hyderabad
1005 Active.ai Singapore
1006 Affordplan New Delhi
1007 Indee Bangalore
1008 Unbxd New Delhi
1009 WebAlligator Bangalore
1010 EduAce Services Lucknow
1011 Meesho Bangalore
1012 Zebroads Hyderabad
1013 Locus Bangalore
1014 Toko Innovations Bangalore
1015 Rentickle New Delhi
1016 HealthifyMe Bangalore
1017 Zarget Chennai
1018 InnoNano Research Chennai
1019 SchoolWear Mumbai
1020 Swiggy Bangalore
1021 Zenify Bangalore
1022 Faircent Gurgaon
1023 Fractal Analytics Mumbai
1024 Unacademy Bangalore
1025 Capital Float Bangalore
1026 Life Circle Hyderabad
1027 Dream Wallets Jaipur
1028 ShabdNagari Kanpur
1029 Galleri5 Bangalore
1030 Derbii Gurgaon
1031 StayZilla Chennai
1032 WoW Express Mumbai
1033 Smartivity Delhi
1034 BedBathMore Mumbai
1035 Murgency Mumbai
1036 Crownit Gurgaon
1037 Blinge Mumbai
1038 TheSmartQ Bangalore
1039 PurpleHealth Trivandrum
1040 Fundamentor Pune
1041 EduPristine Mumbai
1042 BhiveWorkspace Bangalore
1043 Parentlane Bangalore
1044 Appie Mumbai
1045 Niki.ai Bangalore
1046 TaxiVaxi New Delhi
1047 Veqta New Delhi
1048 i2ifunding Noida
1049 EduRev Gurgaon
1050 Hoppingo New Delhi
1051 Eatonomist Gurgaon
1052 Goalwise Bangalore
1053 Roast New Delhi
1054 Address Health Bangalore
1055 Arcatron Mobility Pune
1056 SheThePeople New Delhi
1057 Cleartax Bangalore
1058 Consure Medical New Delhi
1059 mChamp New Delhi
1060 Pianta Bangalore
1061 Vahanalytics Mumbai
1062 Play Your Sport New Delhi
1063 Koovs New Delhi
1064 CCavenue Mumbai
1065 1mg Gurgaon
1066 Tpot Gurgaon
1067 MachaDalo Mumbai
1068 Dil Mil SFO / Bangalore
1069 PicsDream Delhi
1070 Process 9 Gurgaon
1071 Housing Mumbai
1072 Roll Mafia Pune
1073 Hungama Mumbai
1074 Highway Delite Bangalore
1075 Cult Fitness Bangalore
1076 Haptik Mumbai
1077 Servify Mumbai
1078 Shipsy Gurgaon
1079 gear6 Bangalore
1080 MyGlamm Mumbai
1081 Petoo Bangalore
1082 Truly Social London
1083 Little Black Book New Delhi
1084 Vahan Chennai
1085 imedilane New Delhi
1086 Living Local Mumbai
1087 Vegfru New Delhi
1088 Oyo New Delhi
1089 PriceRaja Gurgaon
1090 MagicX Bangalore
1091 Happydemic Mumbai
1092 LenDenClub Mumbai
1093 Indi.com 0
1094 Legalraasta New Delhi
1095 RainCan Pune
1096 Hippily Mumbai
1097 kredX Bangalore
1098 Wedwise New Delhi
1099 BeaconsTalk Mumbai
1100 Deal 4Loans Noida
1101 RenewBuy New Delhi
1102 Blue Box Media Jaipur
1103 Vyomo New Delhi
1104 Organicshop Jaipur
1105 MInd Your Fleet Noida
1106 NestAway Bangalore
1107 Tapchief Bangalore
1108 Rapido Bangalore
1109 Yufta Bangalore
1110 Smytten Gurgaon
1111 Houssup Jaipur
1112 Jugnoo Chandigarh
1113 Tork Motocycles Pune
1114 Betaout Noida
1115 DriversCart Chennai
1116 LensKart New Delhi
1117 CollegeDekho New Delhi
1118 OYOfit Bangalore
1119 Oliveboard Bangalore
1120 Simplilearn Bangalore
1121 1mg Gurgaon
1122 Fashalot New Delhi
1123 Broomberg New Delhi
1124 m.paani Mumbai
1125 Yufta Jaipur
1126 mishTag New Delhi
1127 Advanced Structures India Bangalore
1128 Licious Bangalore
1129 Knolskae Bangalore
1130 Druva Pune
1131 TOKO Innovation Studios New Delhi
1132 Commut Hyderabad
1133 intouchapp Pune
1134 Dropkaffe Bangalore
1135 Transerv Mumbai
1136 ClearTax Bangalore
1137 Roposo Gurgaon
1138 MilkBasket Gurgaon
1139 CareonGO 0
1140 RailYatri Noida
1141 ICHR New Delhi
1142 Murgency Mumbai
1143 The Wedding Brigade Mumbai
1144 DocsApp Bangalore
1145 Impact Guru Mumbai
1146 LetReach New Delhi
1147 DriveU Bangalore
1148 Gympik Bangalore
1149 Testbook Mumbai
1150 IQlect Bangalore
1151 MoMark Noida
1152 Skedool Seattle / Bangalore
1153 Systemantics Bangalore
1154 Vertuals Mumbai
1155 Imarticus Learning Mumbai
1156 Shouut New Delhi
1157 TinyStep Bangalore
1158 Aahaa Chennai
1159 Arcatron Mobility Pune
1160 FTCash Kolkata
1161 Civilsdaily New Delhi
1162 Zappka Gurgaon
1163 Tarusa World Mumbai
1164 medECUBE Gurgaon
1165 N.O.W Noida
1166 Ninjacart Bangalore
1167 Reach Bangalore
1168 Vanity Cube New Delhi
1169 Wooplr Bangalore
1170 Medidaili Bangalore
1171 Finomena New Delhi
1172 Cookaroo Bangalore
1173 vPhrase Analytics Mumbai
1174 LoveCycles Bangalore
1175 Kartrocket New Delhi
1176 dunzo Bangalore
1177 Indiamart Noida
1178 SmartVizX Noida
1179 MyGubbi Bangalore
1180 Nukkad Shops Hyderabad
1181 Cloudacar Pune
1182 Justride Mumbai
1183 Yana Gurgaon
1184 Big Fish Ventures New Delhi
1185 Stylflip Mumbai
1186 Icertis Pune/Seattle
1187 Supplified New Delhi
1188 JollyFoodFellow Ahmedabad
1189 PinkBlue Bangalore
1190 TruckingCube New Delhi
1191 eSwasthya Ahmedabad
1192 FlipClass Bangalore
1193 Proximit Pune
1194 WithMe Gurgaon
1195 Gapoon Bangalore
1196 Avagmah Bangalore
1197 WorkIndia Mumbai
1198 Wealthy Bangalore
1199 Pramati Noida
1200 Qlivery Gurgaon
1201 HealthEnablr Mumbai
1202 Liftiee Mumbai
1203 Hello Curry Hyderabad
1204 goSporto New Delhi
1205 OneClickWash Gurgaon
1206 Girnar Software Jaipur
1207 Room On Call Gurgaon
1208 Byju’s Bangalore
1209 BigBasket Bangalore
1210 DrivoJoy Bangalore
1211 Smartron Bangalore
1212 LifCare Jaipur
1213 CreditSeva Hyderabad
1214 CityShor Ahmedabad
1215 Endless Robotics Hyderabad
1216 SP Robotics Chennai
1217 StalkBuyLove New Delhi
1218 eKincare Hyderabad
1219 HashLearn 0
1220 Wheelstreet Bangalore
1221 Horntell Gurgaon
1222 Schoolkart Noida
1223 HealthEminds Bangalore
1224 Babygogo New Delhi
1225 Veritas Finance Chennai
1226 QikShip New Delhi
1227 FixNix Chennai
1228 True Balance Gurgaon
1229 Touchkin Bangalore
1230 SwitchMe Mumbai
1231 Transcell Hyderabad
1232 Blue Tokai Coffee New Delhi
1233 Altizone Pune
1234 Oust App Bangalore
1235 Strike Bangalore
1236 MaaxMarket 0
1237 Gamooz Gurgaon
1238 SoundSurround Mumbai
1239 Mazkara Pune / Dubai
1240 RoadGods New Delhi
1241 Pindropmusic Noida
1242 Woodpie Bangalore
1243 Perfumery New Delhi
1244 Magic Crate Bangalore
1245 ZenDrive Bangalore / SFO
1246 Smartcooky New Delhi
1247 Turtlemint Mumbai
1248 BHIVE Bangalore
1249 Gingercrush Vadodara
1250 American Vision Pune
1251 DawaiLelo Varanasi
1252 Heads Up For Tails New Delhi
1253 LiveNutriFit New Delhi
1254 Moglix New Delhi
1255 iStyleYou Gurgaon
1256 AdUrCup New Delhi
1257 Weddingz Mumbai
1258 Urban Dhobi Jaipur
1259 Gray Routes Mumbai
1260 Xpressbees Pune
1261 Invictus Oncology New Delhi
1262 Hansel.io Bangalore
1263 Inc42 New Delhi
1264 GOQii Mumbai
1265 Capzest Mumbai
1266 GlamStudios Noida
1267 Affimity Bangalore
1268 Anandakanda Pune
1269 JoulestoWatts Bangalore
1270 Shopkirana Indore
1271 Stylofie Gurgaon
1272 OyBob Gurgaon
1273 ActOnMagic Bangalore
1274 Bonhomia New Delhi
1275 iGrenEnergi Mumbai
1276 RKSV Mumbai
1277 Aasaanjobs Mumbai
1278 Snapdeal New Delhi
1279 Jugnoo Chandigarh
1280 Snapbizz Bangalore
1281 GoYaNo Gurgaon
1282 RentSher Bangalore
1283 Buddy Bangalore
1284 Legistify New Delhi
1285 TableHero Bangalore
1286 BetterPlace Bangalore
1287 Salebhai Ahmedabad
1288 icustommadeit Pune
1289 Tring Pune
1290 Medinfi Bangalore
1291 Timemytask Mumbai
1292 GameZop New Delhi
1293 Notary Mama Bangalore
1294 The Viral Fever Mumbai
1295 Avanti Learning New Delhi
1296 Bollant Industries Hyderabad
1297 GetVee New Delhi
1298 HealthKumbh Ahmedabad
1299 Unlaze Gurgaon
1300 Tracxn Bangalore
1301 Careongo New Delhi
1302 Ark Robot Bangalore
1303 Jaypore New Delhi
1304 Finance Buddha Bangalore
1305 AlmaConnect New Delhi
1306 Advantage Club Gurgaon
1307 LocalRamu Bangalore
1308 Baby Berry Bangalore
1309 Magicpin New Delhi
1310 First Eat New Delhi
1311 SigTuple Bangalore
1312 Taskbob Mumbai
1313 Styledotme New Delhi
1314 NewsLaundry New Delhi
1315 CupoNation Gurgaon
1316 Aarav UAV Kanpur
1317 Sayfix Bangalore
1318 LoanZen Bangalore
1319 NoBroker Bangalore
1320 AppilyEver Hyderabad
1321 Pocketin Noida
1322 FeetApart Bangalore
1323 OfBusiness Gurgaon
1324 CarveNiche Bangalore
1325 Juspay Bangalore
1326 Funcart New Delhi
1327 Freedom Smart Labs New Delhi
1328 EduBridge Mumbai
1329 Nestaway Bangalore
1330 Hopscotch Mumbai

1331 PinClick Bangalore
1332 Smartcooky New Delhi
1333 Helpi Mumbai
1334 DogSpot Gurgaon
1335 Career360 New Delhi
1336 B9 Beverages New Delhi
1337 WIMWI Foods Ahmedabad
1338 MyChild App Bhopal
1339 Instaproc Noida
1340 360Ride Bangalore
1341 AlefMobitech Mumbai
1342 Tracxn Bangalore
1343 Qdesq Gurgaon
1344 Sensara Bangalore
1345 Zebpay Ahmedabad
1346 PlanMyMedicalTrip Pune
1347 MyCity4Kids Gurgaon
1348 Justdakhila.com New Delhi
1349 PitStop Bangalore
1350 Bikxie Gurgaon
1351 Infurnia Bangalore
1352 Myly Jaipur
1353 MakeMyTrip Gurgaon
1354 Melorra Bangalore
1355 ConfirmTKT Bangalore
1356 Gyaanzone Mumbai
1357 FlatFurnish Gurgaon
1358 Lumiere Bangalore
1359 Koovs Gurgaon
1360 Wishup New Delhi
1361 FreshMenu Bangalore
1362 SavvyMob Bangalore
1363 Fashionablyin Mumbai
1364 Shopclues Gurgaon
1365 Hike Messenger New Delhi
1366 iBus Networks Bangalore
1367 Happy2Refer Mumbai
1368 CarTrade Mumbai
1369 Rentomo Bangalore
1370 Roder New Delhi
1371 Bucker Hyderabad
1372 Care24 Mumbai
1373 Obino Mumbai
1374 Snapshopr Bangalore
1375 Buildkar Bangalore
1376 Orahi Gurgaon
1377 Zapr Gurgaon
1378 Remidio Bangalore
1379 Fitso Gurgaon
1380 evibe.in Bangalore
1381 Zoctr Mumbai
1382 Jobick Noida
1383 Plick Mumbai
1384 Voice Friends Mumbai
1385 Kartrocket New Delhi
1386 Swiggy Bangalore
1387 TinyStep Bangalore
1388 Cashkaro Gurgaon
1389 Gameezop New Delhi
1390 DailyObjects New Delhi
1391 Indus OS Mumbai
1392 CollegeDunia New Delhi
1393 Villgro Chennai
1394 Reddoorz New Delhi
1395 IndustryBuying New Delhi
1396 Just Buy Live Mumbai
1397 IMbesharam New Delhi / US
1398 Moodoo Mumbai / UK
1399 Saral Designs Mumbai
1400 FirstCry Pune
1401 Fisdom Bangalore
1402 Easypolicy Noida
1403 Housing.com Mumbai
1404 CREO Bangalore
1405 ShabdaNagari Kanpur
1406 Little Bangalore
1407 SnapBizz Bangalore
1408 Qlivery Gurgaon
1409 PlexusMD Ahmedabad
1410 Silvan Bangalore
1411 EPS Mumbai
1412 Qubole Bangalore
1413 Gajty Gurgaon
1414 SIFTR Labs Mumbai
1415 Power2SME Gurgaon
1416 SkyCandle New Delhi
1417 Teabox.com Siliguri
1418 Buildzar Gurgaon
1419 Applicate Bangalore
1420 WhatsOnRent Bangalore
1421 Zebi (yet to launch) Hyderabad
1422 Truce Mumbai
1423 JustDoc Bangalore
1424 Myeglu Bangalore
1425 BitGiving New Delhi
1426 Qriyo Jodhpur
1427 N.O.W Noida
1428 Aisle Bangalore
1429 FreshMenu Bangalore
1430 Truebil Mumbai
1431 Rare Media New Delhi
1432 TinMen Hyderabad
1433 CodingLabs Hyderabad
1434 FindUrClass Mumbai
1435 DesignBids New Delhi
1436 CollegeDekho Jaipur
1437 Black White Orange Brands Mumbai
1438 Biteclub Gurgaon
1439 Patel Logistics Mumbai
1440 Wigzo New Delhi
1441 Zapluk Hyderabad
1442 Godof Hospitals New Delhi
1443 RoomsTonite Bangalore
1444 Kaaryah New Delhi
1445 Anakage Bangalore
1446 EasyKhaana New Delhi
1447 Shuttl Gurgaon
1448 Eckovation New Delhi
1449 Fitcircle Mumbai
1450 Applop Kolkata
1451 CaRPM Gurgaon
1452 NDTV Wedding portal New Delhi
1453 Splitkart New Delhi
1454 Zenatix Gurgaon
1455 Customfurnish Hyderabad
1456 Faasos Pune
1457 Vlurn Mumbai
1458 Leaf Wearables New Delhi
1459 Coolshare Mumbai
1460 mFicient New Delhi
1461 HeyBiz New Delhi
1462 Yumist Gurgaon
1463 Jigsaw Academy Bangalore
1464 JoeHukum Gurgaon
1465 Voxweb Mumbai
1466 Aye Finance New Delhi
1467 JumboBasket Chandigarh
1468 BlackBuck Bangalore
1469 HomeStudio Bangalore
1470 PropheSee New Delhi
1471 i2e1 New Delhi
1472 Holisol Logistics New Delhi
1473 Stay Simple Resorts Bangalore
1474 Paynear Hyderabad
1475 Chillr Mumbai
1476 EureQa Hyderabad/USA
1477 LocalCircles Noida
1478 GetFocus Mumbai
1479 UrbanClap Gurgaon
1480 OnlineRTI Bangalore
1481 Powerstores Goa
1482 Weddingz.in Mumbai
1483 Intelligent Interfaces Bangalore
1484 Capricoast Bangalore
1485 JetSetGo Bangalore
1486 Cabsguru New Delhi
1487 Whoop Boston
1488 BookEventz Mumbai
1489 Deal Street Asia Singapore
1490 Streamoid Bangalore / Palo Alto
1491 Housejoy Bangalore
1492 Bluebirch Bangalore
1493 MeraDoctor Mumbai
1494 STAGE 3 New Delhi
1495 Rivigo Gurgaon
1496 Springboard Bangalore
1497 Eatfresh Bangalore
1498 Ampere Vehicles Coimbatore
1499 Focus Digit New Delhi
1500 The News Minute Bangalore
1501 CBREX Mumbai / NY
1502 TruckMandi New Delhi
1503 Peppertap Gurgaon
1504 KOOH Sports Mumbai
1505 RentOnGo Bangalore
1506 Industrybuying New Delhi
1507 Zapr Gurgaon
1508 LatestOne Hyderabad
1509 PlanetGogo Gurgaon
1510 Arya.ai Mumbai
1511 Doctor Insta Gurgaon
1512 MobieFit Goa
1513 LafaLafa Mumbai
1514 Mech Mocha Bangalore
1515 Shotang.com Bangalore
1516 CityFurnish Gurgaon
1517 Black White Orange Mumbai
1518 Kolabro Gurgaon
1519 Canvera Bangalore
1520 Town Essentials Bangalore
1521 Bumper Bangalore
1522 Hotify Bangalore
1523 MobiKwik Gurgaon
1524 Intelligent Interfaces Bangalore
1525 Twigly Gurgaon
1526 CityFlo Mumbai
1527 Findyahan Noida
1528 Sabse Mumbai
1529 Pokkt Mumbai
1530 boibanit Vadodara
1531 Stuffed Mumbai
1532 LoanBaba Mumbai
1533 Deyor Rooms New Delhi
1534 Bidgely USA/India
1535 Shirsa Labs Mumbai
1536 Paytunes New Delhi
1537 YourDOST Gwalior
1538 BookMyBai Mumbai
1539 MyIndianStay Goa
1540 Bobble New Delhi
1541 RepUp Gurgaon
1542 Satvacart Gurgaon
1543 POPxo.com New Delhi
1544 SparesHub Pune
1545 Explara Pune
1546 Soothe Healthcare Noida
1547 Yuvi Hospitality Gurgaon
1548 AppVirality Hyderabad
1549 iStar Skill Development Bangalore
1550 BigStylist.com Mumbai
1551 Zilingo Bangalore/ Bangkok
1552 Didi Mumbai
1553 Skoov.com Mumbai
1554 Chefs Basket Mumbai
1555 Gingercrush Vadodara
1556 Delight Foods Bangalore
1557 6Degree Goa/Hyderabad
1558 RenewBuy Gurgaon
1559 Grab Mumbai
1560 Hitwicket Hyderabad
1561 Flashdoor Bangalore
1562 Cashkaro.com Gurgaon
1563 Absentia Bangalore
1564 Renowala Hyderabad
1565 TaskBucks New Delhi
1566 CraftsVilla Mumbai
1567 Julia Computing Bangalore
1568 StyleTag Bangalore
1569 Smytten Gurgaon
1570 BiBox Bangalore
1571 Convegenius Noida / Singapore
1572 Ola Bangalore
1573 Goodbox Bangalore
1574 ScoopWhoop New Delhi
1575 Hipship Bangalore
1576 Pickrr New Delhi
1577 Truelancer New Delhi
1578 AHA Taxis Noida
1579 UrbanClap Gurgaon
1580 SenseGiz Belgaum
1581 PlaceofOrigin Bangalore
1582 Fourseven New Delhi
1583 MindTickle Pune / US
1584 Shopsense Mumbai
1585 Medinfi Bangalore
1586 OUWT Mumbai
1587 HeyPillow Bangalore
1588 Healers At Home New Delhi
1589 Caravan Craft Bangalore
1590 Talkoot Bangalore
1591 RentoMojo Bangalore
1592 Medikoe Bangalore
1593 Stylofie Gurgaon
1594 ServX New Delhi
1595 Naaptol Mumbai
1596 Crayon Data Chennai/ Singapore
1597 EarlySalary.com Mumbai
1598 Tooler New Delhi
1599 S Chand New Delhi
1600 Stelae Chennai
1601 GoQii Mumbai
1602 Grofers Gurgaon
1603 Pluss Gurgaon
1604 KountMoney Bangalore
1605 StayGlad Bangalore
1606 JustRide Mumbai
1607 Fastudent Noida
1608 LearnOn Chennai
1609 Talentrack New Delhi
1610 M-TAXI Gurgaon
1611 Baxi Gurgaon
1612 Superhero Brands Mumbai
1613 MoMagic New Delhi
1614 QikPod Bangalore
1615 Butterfly Interactive New Delhi
1616 Bro4U Bangalore
1617 Indifi Gurgaon
1618 Wydr New Delhi
1619 EasyFix Gurgaon
1620 Muvizz Singapore
1621 Abhibus Hyderabad
1622 Cleartax New Delhi
1623 Shopalyst Bangalore
1624 Chillr Mumbai
1625 Nykaa Mumbai
1626 Voylla Jaipur
1627 IndiaLends New Delhi
1628 Rock N Shop New Delhi
1629 DocPlexus Pune
1630 WorkIndia Mumbai
1631 SportzVillage Bangalore
1632 SportyBeans Pune
1633 Burger Singh Gurgaon
1634 Welcome Cure Mumbai
1635 SchoolGuru Mumbai
1636 Naturally Yours Mumbai
1637 GoJavas Gurgaon
1638 Scandid Pune
1639 StalkBuyLove New Delhi
1640 ZuperMeal Mumbai
1641 Cube26 New Delhi
1642 Mobikon Pune / Singapore
1643 Grabhouse Bangalore
1644 Quifers Mumbai
1645 Stockroom.io Hyderabad
1646 Curofy New Delhi
1647 Cloud Lending Bangalore / San Mateo
1648 Inayo Mumbai
1649 WoNoBo Bangalore
1650 Kulzy New Delhi
1651 Zeppery New Delhi
1652 Zify Hyderabad
1653 Faircent Gurgaon
1654 Bizongo Mumbai
1655 Gridle Ahmedabad
1656 Tripoto New Delhi
1657 Mubble Bangalore
1658 Voodoo New Delhi
1659 Lookup Bangalore
1660 AskMyGift Noida
1661 Gaana.com Mumbai
1662 Zappfresh Gurgaon
1663 GymTrekker Mumbai
1664 Bounty App Bangalore
1665 Homers.in Gurgaon
1666 mShipper New Delhi
1667 BolRealty New Delhi
1668 S-Cube Futuretech Mumbai
1669 LetsVenture Bangalore
1670 Citrus Payment Mumbai
1671 Holidify New Delhi
1672 PrimaSeller Bangalore
1673 Opinio Bangalore
1674 Attune Technologies Chennai
1675 iChef.in Mumbai
1676 Jiyo Natural Bangalore
1677 AgentDesks New York/ India
1678 White Owl Brewery Mumbai
1679 MealHopper Gurgaon
1680 Zenify.in Bangalore
1681 Stockal Bangalore
1682 Medd Mumbai
1683 Leaping Caravan Gurgaon
1684 Frsh Gurgaon
1685 Qik Stay New Delhi

1686 Parcelled Bangalore
1687 AlmaMapper Ahmedabad
1688 Flexing It New Delhi
1689 Netmeds.com Chennai
1690 Razorpay Jaipur
1691 Jombay Pune
1692 Happitoo Mumbai
1693 Care24 Mumbai
1694 Roadrunnr Bangalore
1695 Simpli5d Gurgaon
1696 ORIGA Leasing Mumbai
1697 Smartivity.in New Delhi
1698 UrDoorStep Bangalore
1699 Tavaga Mumbai
1700 Moglix Noida
1701 ZopHop Mumbai
1702 Niki.ai Bangalore
1703 Instavans Bangalore
1704 LiftO Mumbai
1705 TinyOwl Mumbai
1706 Toppr.com Mumbai
1707 Kleeto Gurgaon
1708 BeaconsTalk Mumbai
1709 Jugnoo Chandigarh
1710 TOFlo Mumbai
1711 FXMartIndia Chandigarh
1712 Stylecracker Mumbai
1713 Luxuryhues Gurgaon
1714 HolaChef Mumbai
1715 Zivame Bangalore
1716 Capillary Tech New Delhi
1717 Jobspire Bangalore
1718 MeraDoctor Mumbai
1719 Vistaar Finance Bangalore
1720 HiJinny Mumbai
1721 Clapsnslaps Mumbai
1722 Blubox Mumbai
1723 RoomCentral Bangalore
1724 YouthKiAwaaz New Delhi
1725 Prozo New Delhi
1726 Zomato Gurgaon
1727 Sahayog Dairy Bhopal
1728 MockBank Bangalore
1729 ReportBee Chennai
1730 GuruG Learning Bangalore
1731 OnlineTyari Gurgaon
1732 IndustryBuying New Delhi
1733 The/Nudge Foundation Bangalore
1734 FitMeIn New Delhi
1735 Envoged Mumbai
1736 Zapyle Bangalore
1737 Renomania New Delhi
1738 CredR Mumbai
1739 YatraGenie Hyderabad
1740 CanvasFlip Hyderabad
1741 Shadowfax Gurgaon
1742 UE Life Sciences US/India
1743 Ola Cabs Bangalore
1744 Coverfox Mumbai
1745 MoEngage Bangalore
1746 Mubble Bangalore
1747 Tea Trails Mumbai
1748 Room on Call Noida
1749 FYNE Bangalore
1750 ChaiPoint Bangalore
1751 WedmeGood.com Gurgaon
1752 XSTOK Mumbai
1753 UniLog Bangalore
1754 Paintcollar Mumbai
1755 YepMe Gurgaon
1756 Bueno Gurgaon
1757 Plabro New Delhi
1758 CureJoy Bangalore
1759 Briston Technomach New Delhi
1760 LabStreet Gurgaon
1761 DailyNinja Bangalore
1762 Portea Medical Bangalore
1763 Neotrade Analytics Bangalore
1764 DishCo Mumbai
1765 LafaLafa Mumbai
1766 ConnectAbank Mumbai
1767 VillFarm Bangalore
1768 Bestdealfinance Mumbai
1769 GameXS.in New Delhi
1770 The Man Company New Delhi
1771 Virtual Logic Bangalore
1772 Furdo Bangalore
1773 LogiNext Mumbai
1774 Korra New Delhi
1775 Credihealth Gurgaon
1776 Amigobulls Bangalore
1777 SilverPush Gurgaon / SFO
1778 Juggernaut New Delhi
1779 InnerChef New Delhi
1780 Quintype Bangalore
1781 Capabiliti Noida
1782 Fourth Partner Energy Hyderabad
1783 Licious Bangalore
1784 TravelKhana New Delhi
1785 Quickli New Delhi
1786 Ola Cabs Bangalore
1787 Paytm New Delhi
1788 Inmobi Bangalore
1789 Peppertap Gurgaon
1790 Hugefly Pune
1791 Brigge Chennai
1792 Zakoopi New Delhi
1793 LoanCircle Bangalore
1794 Infoworks Bangalore / USA
1795 RedDoorz Noida
1796 FirstTouch Gurgaon
1797 Eywa Media Bangalore
1798 Snapdeal New Delhi
1799 Ressy Pune
1800 Cuelearn New Delhi
1801 Connect India New Delhi
1802 The Home Salon Mumbai
1803 Jusride Mumbai
1804 Oyorooms New Delhi
1805 Glowship Bangalore
1806 Wizrocket Mumbai
1807 Pickingo New Delhi
1808 Grex Pune
1809 LetsTransport Bangalore
1810 Zo Rooms New Delhi
1811 Doormint Mumbai
1812 NightStay Noida
1813 Zocalo New Delhi
1814 Sunday Realty Solutions Mumbai
1815 Klozee Bangalore
1816 Appvigil Mumbai
1817 practo Bangalore
1818 LoudShout New Delhi
1819 Wetravelsolo New Delhi
1820 Ketto Mumbai
1821 Ezetap Bangalore
1822 NDTV ecommerce venture Mumbai
1823 Carl’s Jr Gurgaon
1824 EasyRewardz Mumbai
1825 GIBSS Mumbai
1826 StoreMore.in Noida
1827 iOrderFresh New Delhi
1828 MyTaxiIndia Gurgaon
1829 eSadar New Delhi
1830 Actionable Analytics New Delhi/ Houston
1831 MyPoolin New Delhi
1832 NearBuy (previously  groupon India) New Delhi
1833 Inkmonk Chennai
1834 ToneTag Bangalore
1835 Grey Orange Gurgaon
1836 Livspace Bangalore
1837 WOW! MOMO Kolkata
1838 RainCan Pune
1839 Allygrow Technologies Mumbai
1840 Infogain New Delhi / US
1841 OneAssist Mumbai
1842 BigBasket Bangalore
1843 Sheroes Noida
1844 Scripbox Bangalore
1845 betaout Noida
1846 IFMR Holdings Chennai
1847 Massblurb Mumbai
1848 Agrostar Pune
1849 VoxWeb Mumbai
1850 Trukky Ahmedabad
1851 VanityCube New Delhi
1852 Edu4Share New Delhi
1853 YourStory Mumbai
1854 Sampurnearth Mumbai
1855 Orobind Bangalore
1856 Fixy Mumbai
1857 MSM Box New Delhi
1858 ShadowFax Gurgaon
1859 Gadgets 360 New Delhi
1860 Roposo Gurgaon
1861 IntelligenceNODE Mumbai
1862 HyperVerge Chennai
1863 Twyst Gurgaon
1864 IDfy Mumbai
1865 Zoojoo.be Bangalore
1866 Fashionove Kolkata
1867 TimeSaverz Mumbai
1868 Envoged Mumbai
1869 MebelKart Bangalore
1870 LabsAdvisor New Delhi
1871 Flatpebble Hyderabad
1872 Bluegape.com New Delhi
1873 ePoise Bangalore
1874 Jolly Food Fellow Ahmedabad
1875 BookMeIn Mumbai
1876 iZofy Kolkata
1877 rBus Mumbai
1878 Qyk App Bangalore
1879 EazyDiner Gurgaon
1880 RevX Mumbai
1881 ICustomMadeIt Pune
1882 PickMyLaundry New Delhi
1883 Belita Mumbai
1884 EzySolare Ahmedabad
1885 FoodTalkIndia Gurgaon
1886 InstaSafe Bangalore
1887 Eazy Coach Kolkata
1888 Djubo.com New Delhi
1889 BetterButter.in New Delhi
1890 Vyomo Bangalore
1891 RollMafia Pune
1892 iamwire Gurgaon
1893 DropKaffe Bangalore
1894 Reverie Bangalore
1895 Infinite Analytics Mumbai
1896 Parcelled Bangalore
1897 Retigence Technologies Mumbai
1898 Cloudcherry Analytics Chennai
1899 HandyHome Mumbai
1900 iDreamCareer New Delhi
1901 Ola Cabs Bangalore
1902 NxtGen Bangalore
1903 BankBazaar Chennai
1904 Gozoomo Bangalore
1905 Zenatix Gurgaon
1906 CultureAlley Jaipur
1907 Goqii Mumbai
1908 Gingercrush Ahmedabad
1909 Elanic Bangalore
1910 Stitchwood Mumbai
1911 Urban Tailor Bangalore
1912 ConfirmtTkt Bangalore
1913 Paper Boat Gurgaon
1914 getNow Nagpur
1915 Wudstay Gurgaon
1916 Liases Foras New Delhi
1917 Eatlo Bangalore
1918 IndiaLends New Delhi
1919 Quinto Pune
1920 Saavn Mumbai
1921 Flytxt Mumbai / Global
1922 Axtria India / US
1923 33Coupons Kanpur
1924 Ampere Coimbatore
1925 Hopping Chef Mumbai
1926 Collectabillia Bangalore
1927 Lendingkart Ahmedabad
1928 Lybrate New Delhi
1929 Zoomcar Bangalore
1930 News in shorts Noida
1931 Bluestone Bangalore
1932 Shopsity Gurgaon
1933 Notesgen New Delhi
1934 Infinity Assurance New Delhi
1935 Footprints Education Gurgaon
1936 Loylty Rewards Mumbai
1937 Ameyo Gurgaon
1938 Mamagoto New Delhi
1939 Satvacart Gurgaon
1940 MySmartPrice Hyderabad
1941 Zenify Bangalore
1942 Boxmyspace Mumbai
1943 HackerRank Bangalore
1944 WickedRide Bangalore
1945 WoWexpress Mumbai
1946 Oyo Rooms Gurgaon
1947 Mobikon Pune
1948 InstaLively.com New Delhi
1949 Roadrunnr Bangalore
1950 Ketto Mumbai
1951 QuikWallet Mumbai
1952 Omnikart Mumbai
1953 Zo Rooms New Delhi
1954 Innoviti Bangalore
1955 ZenRadius Bangalore
1956 Joy by nature New Delhi
1957 Iqlect Bangalore
1958 deGustibus Mumbai
1959 Nestaway Bangalore
1960 Mswipe 0
1961 Myonsto Ahmedabad
1962 iCrushiFlush Mumbai
1963 MedGenome Bangalore
1964 HolidayIQ Bangalore
1965 Fitternity Mumbai
1966 Quikr Mumbai
1967 JetSetGo New Delhi
1968 BroEx Gurgaon
1969 Shopatplaces New Delhi
1970 CredR Mumbai
1971 ManageMySpa Hyderabad
1972 Townrush Bangalore
1973 Locus Bangalore
1974 Bevy Bangalore
1975 Pepperfry Mumbai
1976 Flipkart.com Bangalore
1977 Opinio Bangalore
1978 Zoctr Mumbai
1979 Zimmber Mumbai
1980 trueHb New Delhi
1981 Zovi.com / Little App Bangalore
1982 Swajal Gurgaon
1983 Pipa Bella Mumbai
1984 Pragmatix Mumbai
1985 Droom.in New Delhi
1986 MadRat Games Bangalore
1987 Noodle Play Mumbai
1988 Wassup Chennai
1989 Cartisan Bangalore
1990 LazyLad Gurgaon
1991 TripFactory Bangalore
1992 Prothom Pune
1993 Bona Vita Gurgaon
1994 Vyomo New Delhi
1995 Veeba Foods New Delhi
1996 Truebil Mumbai
1997 Meritnation New Delhi
1998 Eattreatonline New Delhi
1999 CredR Mumbai
2000 Glamrs Mumbai
2001 Proviera Chennai
2002 Arth DesignBuild Hyderabad
2003 Saama Pune / US
2004 AllIzHealth Pune
2005 Karma Healthcare Udaipur
2006 Entropy Innovations Mumbai
2007 Propstack Mumbai
2008 MyTaxiIndia New Delhi
2009 Arkin Net Pune / US
2010 Little Black Book Delhi New Delhi
2011 MyPoolin New Delhi
2012 iCustomadeit Pune
2013 KAARYAH Gurgaon
2014 Ecom Express New Delhi
2015 Vidooly Noida
2016 Zopper Mumbai
2017 Flipkart Bangalore
2018 kWatt Solutions Mumbai
2019 Medwell Ventures Bangalore
2020 Jugnoo Chandigarh
2021 PosterGully New Delhi
2022 Applied Solar Technologies Mumbai
2023 Clovia New Delhi
2024 Swiggy Bangalore
2025 PayMango Gurgaon
2026 Printland New Delhi
2027 Teritree Bangalore
2028 Guiddoo Mumbai
2029 Voonik Bangalore
2030 AdStringO Mumbai
2031 Faircent.com Gurgaon
2032 La Renon Ahmedabad
2033 Homelane Bangalore
2034 iSTAR Bangalore
2035 Shippr Bangalore
2036 FoodAbhi Mumbai
2037 Karma Recycling Delhi
2038 CouponRaja Mumbai
2039 Babychakra Mumbai
2040 Jiffstore Bangalore
2041 MyDentist Mumbai
2042 Moovo New Delhi
2043 Fracktal Works Bangalore
2044 Hansa Customer Equity Mumbai
2045 HealthifyMe Bangalore
2046 CAKART.in Bangalore
2047 Housejoy Bangalore
2048 FundsIndia.com Chennai
2049 Cupick Bangalore
2050 Tracxn Bangalore
2051 Holachef Mumbai
2052 belong Bangalore
2053 Ixigo Gurgaon
2054 SkillAngels Chennai
2055 Vidgyor Bangalore
2056 Banihal New Delhi / California

2057 Goodservice New Delhi
2058 Treebo Bangalore
2059 EduKart New Delhi
2060 Healthians.com Hyderabad
2061 LabInApp Bangalore
2062 Syona Cosmetics Chennai
2063 Sigrid Education Noida
2064 Indix 0
2065 The Porter Mumbai
2066 Retention.ai Bangalore
2067 Fusion Microfinance New Delhi
2068 Zinka Bangalore
2069 CreditMantri Chennai
2070 GetMyPeon Mumbai
2071 UrbanClap New Delhi
2072 StayGlad Bangalore
2073 AdWyze Bangalore
2074 Zimmber Mumbai
2075 Buttercups Bangalore
2076 RailYatri Bangalore
2077 aagaar.com Gurgaon
2078 Flatchat Bangalore
2079 MyCFO Mumbai
2080 Foodpanda Gurgaon
2081 Termsheet Chennai
2082 Applicate Bangalore
2083 World Art Community Gurgaon
2084 SpoonJoy Bangalore
2085 Seed Schools Hyderabad
2086 Ignis Careers Hyderabad
2087 Square Yards Gurgaon
2088 Fintellix Bangalore
2089 Customer360 Mumbai
2090 Delhivery Gurgaon
2091 Swiggy Bangalore
2092 Uniphore Chennai
2093 Box8 Mumbai
2094 Toppr Mumbai
2095 Vedantu Bangalore
2096 BuyHatke Bangalore
2097 KleverKid New Delhi
2098 Uniken Pune
2099 GrandOpinion New Delhi
2100 HealthifyMe Bangalore
2101 ZapStitch Bangalore
2102 Wassup Chennai
2103 Mobiefit Goa
2104 Plancess Mumbai
2105 WorkHorse Mumbai
2106 Innovaccer Noida
2107 MyCuteOffice Mumbai
2108 IndianRoots.com Gurgaon
2109 RedPolka Mumbai
2110 Venturesity Bangalore
2111 TheBetterIndia.com Bangalore
2112 Awaaz De Ahmedabad
2113 Chaayos New Delhi
2114 Akosha New Delhi
2115 Cooey Bangalore
2116 MeetUniv Noida
2117 Inspirock 0
2118 Crown-it Gurgaon
2119 Trucksfirst Gurgaon
2120 Lookup Bangalore
2121 SunTerrace New Delhi
2122 Nudgespot Bangalore
2123 CarDekho Jaipur
2124 EveningFlavors Bangalore
2125 Razorpay Bangalore
2126 ZenParent Bangalore
2127 Newgen Payments New Delhi
2128 UrbanPro Bangalore
2129 Goodbox Bangalore
2130 Renderlogy Hyderabad
2131 Postman Bangalore
2132 Casa2inns New Delhi
2133 FleetRover Goa
2134 TheKarrier Bangalore
2135 Zoomcar Bangalore
2136 Truweight Hyderabad
2137 Ather Energy Bangalore
2138 Swiggy Bangalore
2139 Bluegape Gurgaon
2140 KeepTrax Dallas / Hyderabad
2141 InstaLively New Delhi
2142 Pricejugaad Hyderabad
2143 Quikr Mumbai
2144 PressPlay New Delhi
2145 LogiNext Mumbai
2146 FirstCry.com Pune
2147 MobiKwik Gurgaon
2148 Olacabs Bangalore
2149 Gadgetwood New Delhi
2150 Bonhomia New Delhi
2151 Changer Mints Kolkata
2152 Urban Ladder Bangalore
2153 Purple Squirrel Mumbai
2154 Whatfix Bangalore
2155 iMMi Life Chennai
2156 Zomato Gurgaon
2157 ZopNow Bangalore
2158 Nayi Disha New Delhi
2159 The Porter Mumbai
2160 Commeasure Noida
2161 Capricoast Bangalore
2162 LocalOye Mumbai
2163 Grofers Gurgaon
2164 PepperTap Gurgaon
2165 PolicyBazaar Gurgaon
2166 UrbanClap New Delhi
2167 Taskbob Mumbai
2168 Robosoft Udupi
2169 Doormint Mumbai
2170 Vyomo Gurgaon
2171 Pastiwala Vadodara
2172 1mg (Healthkartplus) Gurgaon
2173 Freshdesk Chennai
2174 Sulekha.com Chennai
2175 FindYahan New Delhi
2176 Eat.Shop.Love Bangalore
2177 Avanti Learning New Delhi
2178 Simplilearn Bangalore
2179 Craftstvilla Mumbai
2180 HeadOut Bangalore / SFO
2181 happay Bangalore
2182 Jugnoo Chandigarh
2183 EazyDiner New Delhi
2184 Phone Warrior New Delhi
2185 Coverfox Mumbai
2186 Torqus Pune
2187 Grab Mumbai
2188 LogicRoots Jaipur
2189 GIBBS New Delhi
2190 Babajobs Bangalore
2191 Urban Ladder Bangalore
2192 Jay Robotix Hyderabad
2193 Naaptol.com Mumbai
2194 ReGlobe Gurgaon
2195 Icertis Pune / US
2196 Tracxn Bangalore
2197 Dazo Bangalore
2198 Tradelab Bangalore
2199 PiQube Chennai
2200 Travel Triangle Noida
2201 TrulyMadly.com 0
2202 InstaLively 0
2203 Vserv 0
2204 Intruo.com 0
2205 Niffler 0
2206 CustomFurnish.com 0
2207 MapMyGenome 0
2208 Crowdfire (formerly Justunfollow) 0
2209 Bite Club 0
2210 Localbanya 0
2211 Appedo 0
2212 Fitraq.com 0
2213 ChargeBee 0
2214 Groupon India 0
2215 Process 9 0
2216 MoonFrog Labs 0
2217 Foodpanda 0
2218 Paytm 0
2219 DiabetOmics 0
2220 Qyk 0
2221 Daily Rounds 0
2222 Orobind 0
2223 Routofy 0
2224 Digital Gorkha 0
2225 NestAway 0
2226 The Better India 0
2227 Meru Cabs 0
2228 GolfLAN 0
2229 Drivestream 0
2230 wWhere 0
2231 GoJavas 0
2232 Tripoto 0
2233 Graphic India 0
2234 Harness Handitouch 0
2235 Lets Corp 0
2236 CollateBox 0
2237 Mahindra First Choice 0
2238 Round One 0
2239 RazorPay 0
2240 Mosambee 0
2241 Furlenco 0
2242 Cubito 0
2243 Teabox 0
2244 Artoo 0
2245 Fxkart.com 0
2246 Rozgar Mela 0
2247 OYO Rooms 0
2248 Roposo.com 0
2249 Teewe 0
2250 ePoise 0
2251 Urjas 0
2252 Chargein 0
2253 Yogurt Labs 0
2254 LimeRoad.com 0
2255 Team Indus 0
2256 Arohan Financial Services 0
2257 BillDesk 0
2258 Triphobo 0
2259 Aryaka 0
2260 Appsdaily 0
2261 Faaya 0
2262 InstaBounce 0
2263 Chloroplast Foods 0
2264 Dealwithus 0
2265 CleverSharks 0
2266 Leaf 0
2267 SmartPocket 0
2268 Yumist 0
2269 NowFloats 0
2270 FirstCry 0
2271 HolaChef 0
2272 Frsh.co.in 0
2273 Manthan 0
2274 Kobster.com 0
2275 Culture Machine 0
2276 Paytm 0
2277 Aisle.co 0
2278 FreeCharge 0
2279 NewsHunt 0
2280 MyNoticePeriod 0
2281 CarDekho.com 0
2282 Faaso’s 0
2283 CarTrade.com 0
2284 StoreKing 0
2285 Capital Float 0
2286 Nimble Wireless 0
2287 Townscript 0
2288 FindYahan 0
2289 Stayzilla 0
2290 Practo 0
2291 CimplyFive 0
2292 20Dresses 0
2293 Itzcash 0
2294 NewsInShorts 0
2295 iTraveller.com 0
2296 NextGen 0
2297 Wooplr.com 0
2298 Springleap 0
2299 Klip.in 0
2300 Renderlogy 0
2301 Appbase 0
2302 HomeLane 0
2303 Trip38 0
2304 Smartairtrip.com 0
2305 NoBroker 0
2306 Caravan Craft Retail 0
2307 SquadRun 0
2308 Clonect Solutions 0
2309 TaxSutra 0
2310 PepperTap 0
2311 Sattviko 0
2312 IndustryBuying 0
2313 FreshWorld 0
2314 TinyOwl 0
2315 Momoe 0
2316 Grofers 0
2317 LensKart 0
2318 VioletStreet 0
2319 Lookup 0
2320 #Fame 0
2321 Gympik 0
2322 Near.in 0
2323 Purplle.com 0
2324 NumberMall 0
2325 Tookitaki 0
2326 Frankly 0
2327 Faircent 0
2328 Nurturey 0
2329 Bewakoof 0
2330 Stridalyzer 0
2331 Commonfloor 0
2332 Sokrati 0
2333 YepMe 0
2334 TapCibo 0
2335 Verayu 0
2336 MyDreamStore 0
2337 AppVirality 0
2338 RateGain 0
2339 Wishberry 0
2340 eKincare 0
2341 ShopClues 0
2342 Refiral 0
2343 Ping Digital 0
2344 HealthyWorld.in 0
2345 Hostel Dunia 0
2346 Play your sport 0
2347 Yo Grad 0
2348 Enabli 0
2349 CBS 0
2350 Hopscotch 0
2351 Amagi Media Labs 0
2352 HealthyWorld.in 0
2353 Simplilearn 0
2354 MyDreamStore 0
2355 Knit 0
2356 Villgro 0
2357 Corporate360 0
2358 Freshmonk 0
2359 Englishleap.com 0
2360 Antuit 0
2361 Caratlane.com 0
2362 Aasaanjobs 0
2363 Impartus 0
2364 Thrill App 0
2365 CarDekho.com 0
2366 Grabhouse.com 0
2367 Printvenue 0
2368 Graphene 0
2369 Mad Street Den 0
2370 Simplotel 0
2371 couponmachine.in 0
1.236238956451416