# Probability

In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('train.csv')

In [5]:
df=data.copy()

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### What is the probability that the person will survive

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
survived=len(df[df['Survived']==1])
total=len(df['Survived'])

In [9]:
p_survived=survived/total*100
print("%.2f" % p_survived)

38.38

In [10]:
pd.crosstab(index=df['Pclass'],columns=df['Survived'],margins=True)

Survived    0    1  All
Pclass
1          80  136  216
2          97   87  184
3         372  119  491
All       549  342  891

###  PMF

In [11]:
PMF=(df['Fare'].value_counts()/891).reset_index(name='PMF')

In [12]:
PMF

        index       PMF
0      8.0500  0.048260
1     13.0000  0.047138
2      7.8958  0.042649
3      7.7500  0.038159
4     26.0000  0.034792
5     10.5000  0.026936
6      7.9250  0.020202
7      7.7750  0.017957
8     26.5500  0.016835
9      0.0000  0.016835
10     7.2292  0.016835
11     7.8542  0.014590
12     8.6625  0.014590
13     7.2500  0.014590
14     7.2250  0.013468
15    16.1000  0.010101
16     9.5000  0.010101
17    24.1500  0.008979
18    15.5000  0.008979
19    56.4958  0.007856
20    52.0000  0.007856
21    14.5000  0.007856
22    14.4542  0.007856
23    69.5500  0.007856
24     7.0500  0.007856
25    31.2750  0.007856
26    46.9000  0.006734
27    30.0000  0.006734
28     7.7958  0.006734
29    39.6875  0.006734
..        ...       ...
218    7.1417  0.001122
219   42.4000  0.001122
220  211.5000  0.001122
221   12.2750  0.001122
222   61.1750  0.001122
223    8.4333  0.001122
224   51.4792  0.001122
225    7.8875  0.001122
226    8.6833  0.001122
227    7.5208  0.001122
228   34.6542  0.001122
229   28.7125  0.001122
230   25.5875  0.001122
231    7.7292  0.001122
232   12.2875  0.001122
233    8.6542  0.001122
234    8.7125  0.001122
235   61.3792  0.001122
236    6.9500  0.001122
237    9.8417  0.001122
238    8.3000  0.001122
239   13.7917  0.001122
240    9.4750  0.001122
241   13.4167  0.001122
242   26.3875  0.001122
243    8.4583  0.001122
244    9.8375  0.001122
245    8.3625  0.001122
246   14.1083  0.001122
247   17.4000  0.001122

[248 rows x 2 columns]

### Contingency Table

In [13]:
data=pd.read_csv('ct_dataset.csv')
df=data.copy()

In [14]:
contingency_table= pd.crosstab(index=df['Subjective Social Class Identity'], 
                            columns=df['Objective Social Class Positions'],
                             margins=True)

In [15]:
contingency_table

Objective Social Class Positions  Upper Middle Class  Working Class  All
Subjective Social Class Identity
Middle Class                                      13             32   45
Upper Middle Class                                37              8   45
Working Class                                      0              8    8
All                                               50             48   98

In [16]:
contingency_table.columns

Index(['Upper Middle Class', 'Working Class', 'All'], dtype='object', name='Objective Social Class Positions')

### Marginal Probability

What is the probability that a student’s objective social position is upper middle class?

In [17]:
idx = pd.IndexSlice
umc=contingency_table.loc[idx['All'], idx['Upper Middle Class']]
total=contingency_table.loc[idx['All'], idx['All']]

In [18]:
p_upper=umc/total
print('% .2f'%p_upper)

 0.51

### Joint Probability

What is the probability that a student’s objective position and subjective identity are both upper middle class?

P (obj UMC & sub UMC) = ?

In [19]:
umc=contingency_table.loc[idx['Upper Middle Class'], idx['Upper Middle Class']]
total=contingency_table.loc[idx['All'], idx['All']]
p_upper=umc/total
print('% .2f'%p_upper)

 0.38

### Conditional Probability

What is the probability that a student who is objectively in the working class associates himself with upper middle class?

P (sub UMC | obj WC) = ?

In [20]:
umc=contingency_table.loc[idx['Upper Middle Class'], idx['Working Class']]
total=contingency_table.loc[idx['All'], idx['Working Class']]
p_upper=umc/total
print('% .2f'%p_upper)

 0.17

### Bayes’ Theorem
P (A | B) =
P (A & B)
P (B)

P (sub UMC | obj WC) = P (sub UMC & obj WC) /P (obj WC)=?

In [21]:
p_umc=contingency_table.loc[idx['Upper Middle Class'], idx['Working Class']]
total1=contingency_table.loc[idx['All'], idx['All']]

p_wc=contingency_table.loc[idx['All'], idx['Working Class']]
total2=contingency_table.loc[idx['All'], idx['All']]

pAB=(p_umc/total1)/(p_wc/total2)
print('% .2f'%pAB)

 0.17