# Python Objects and Data Structures - Part 1!

In this lecture, we will learn about Objects and Data Structures Python and how to use them.

We'll learn about the following topics:

    1.) Data Types in Python
    2.) Basic Arithmetic
    3.) Object Assignment in Python
    4.) Identification of Objects types in Python
    5.) Object types casting in Python

## Types of Numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

Now let's start with some basic arithmetic.

### Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [7]:
# Powers
2**10

1024

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Floor Division
7//4

1

In [10]:
# Modulo
7%4

3

In [11]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [12]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [13]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [16]:
print(a)

5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [17]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [18]:
# Reassignment
a = 10

In [19]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [20]:
# Use A to redefine A
a = a + a

In [21]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [22]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [23]:
# Show my taxes!
my_taxes

10.0

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [30]:
# Single word
b="hello"
print(b)

hello

In [31]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [32]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [34]:
# Be careful with quotes!
" I'm using single quotes, but this will create an error"

" I'm using single quotes, but this will create an error"

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [35]:
# We can simply declare a string
'Hello World'

'Hello World'

In [36]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [39]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [41]:
print('\\')

\

We can also use a function called len() to check the length of a string!

In [42]:
len('Hello World')

11

We can also assign string to a variable!

In [43]:
a='Hello World'
print(a)

Hello World

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [2]:
# Assign s as a string
s = 'Hello World'

In [3]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [4]:
# Show first element (in this case a letter)
s[0]

'H'

In [5]:
s[1]

'e'

In [6]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [9]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]
y=s[1:]

In [10]:
y

'ello World'

In [11]:
# Note that there is no change to the original s
s

'Hello World'

In [12]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [54]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [56]:
# Last letter (one index behind 0 so it loops back around)
s[-4]

'o'

In [57]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [58]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [59]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [60]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed. For example:

In [61]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [62]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [63]:
# We can reassign s completely though!
s = s + ' concatenate me!'
print(s)

Hello World concatenate me!

We can use the multiplication symbol to create repetition!

In [64]:
letter = 'z'

In [65]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [66]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [67]:
# Lower case
s.lower()

'hello world concatenate me!'

In [68]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [69]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

In [70]:
s.replace('Hello','Bye')

'Bye World concatenate me!'

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [71]:
# Set object to be a boolean
a = True

In [72]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [73]:
# Output is boolean
1 > 2

False

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [74]:
type(4)

int

In [75]:
type(3.14)

float

In [76]:
type(True)

bool

In [78]:
a='Hello'
type(a)

str

## Object Type Casting
You can cast type of any object in Python. Common data types casting functions include:
* **int()** (for integer)
* **float()**
* **str()** (for string)
* **bool()** (for Boolean True/False)

In [79]:
int(5.5)

5

In [80]:
float(80)

80.0

In [81]:
str(20.9)

'20.9'

In [82]:
int(True)

1

In [86]:
1 + False

1

## Simple Exercise

In [87]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [89]:
type(my_taxes)

float

In [92]:
print('My income is $' + str(my_income) + ' and I paid $' + str(my_taxes) + ' tax')

My income is $100 and I paid $10.0 tax